[2016-07-01 21:01] czyzby opened #1 "I18n support"
- [x] Global `nls` functions.
- [x] Utility `I18NBundle` container.
- [x] `BundleLine` interface, providing i18n support with zero boilerplate.
- [x] Unit tests.

[2016-07-01 21:01] #1 closed, assigned to czyzby

[2016-07-01 21:05] czyzby opened #2 "Collections support"
- [x] `Array` utilities: factory methods, extensions, `Iterable`/`kotlin.Array` conversions.
- [x] `ObjectSet` utilities: factory methods, extensions, `Iterable`/`kotlin.Array` conversions.
- [x] `ObjectMap` utilities.
  - [x] `Iterable`/`kotlin.Array` conversions.
  - [x] Factory methods.
  - [x] Extension utility methods.
  - [x] Support for `map[key] = value` operator.
- [x] List utilities.
  -

[2016-07-01 21:09] czyzby opened #3 "Math support"
- [x] Overloaded operators and simple factory methods.
  - [x] `Vector2`.
  - [x] `Vector3`.
  - [x] `Matrix3`.
  - [x] `Matrix4`.
- ~~Global methods for random numbers using `MathUtil` (?).~~

[2016-07-01 21:13] czyzby opened #4 "Scene2D support"
- [x] Interfaces and abstract bases.
  - [x] `KWidget` (for all parental widgets)
  - [x] `KTable` (for `Table`-extending widgets)
  - [x] `KTree` (for widgets operating on `Tree.Node` instances)
  - [x] `KGroup` (for regular `WidgetGroup` actors)
- [x] Factory methods of root actors.
  - [x] `Table`-based (`Table`, `Window`, `Dialog`, `ButtonGroup` wrapper)
  - [x] `Tree`
  - [x] `WidgetGroup`-ba

[2016-07-01 21:15] czyzby opened #5 "VisUI support"
- [x] Kotlin type-safe builders for `VisUI` widgets.
  - [x] Non-parental actors.
    - [x] `Actor` (maybe?)
    - [x] `VisImage`
    - [x] `VisLabel`
    - [x] `VisList`
    - [x] `VisProgressBar`
    - [x] `VisSelectBox`
    - [x] `VisSlider`
    - [x] `VisTextArea`
      - [x] `HighlightTextArea`
      - [x] `ScrollableTextArea`
    - [x] `VisTextField`
    - [x] `VisValidatableTextField`
    -

[2016-07-01 21:18] czyzby opened #6 "Dependency injection library"
Based on [Injekt](https://github.com/kohesive/injekt) and [Kodein](https://github.com/SalomonBrys/Kodein), but even simpler and written with LibGDX in mind. Should make creation platform-specific code unsettlingly easy.

[2016-07-01 21:27] czyzby opened #7 "Assets support"
- [x] Global `AssetManager` container.
- [x] Strongly-typed utility functions for easy asset loading.
- [x] `AssetDescriptor` building utilities.
- [x] Easy conversion of strings to `FileHandle` instances (an alternative to a rather obscure `Gdx.files.internal` and so on).
- [x] `Disposable` utilities.
- [x] `Pool` utilities.
- [x] Unit tests.
  - [x] `Disposable`.
  - [x] `Pool`.
  - [x] Asset lo

[2016-07-02 14:08] czyzby opened #8 "Actors extensions"
- [x] `Actor` extension methods for common listeners.
- [x] `Actor.isShown()`
- [x] Operators overloading for adding actors to stages and groups.
- [x] `Actions` chaining methods (`then`?) which automatically create action sequences.
- [x] Operators overloading for actions.
- [x] Unit tests.
  - [x] Actors.
  - [x] Listeners.
  - [x] Actions.

[2016-07-04 19:42] czyzby opened #9 "Common GUI building module"
Common functionalities of `ktx-scene2d` and `ktx-vis` should be stored in a separate module referenced by both. See #4, #5.

[2016-07-04 20:13] #9 closed, assigned to nobody

[2016-07-06 09:30] #3 closed, assigned to nobody

[2016-07-07 12:06] #8 closed, assigned to nobody

[2016-07-23 10:20] #7 closed, assigned to czyzby

[2016-07-23 10:32] #2 closed, assigned to czyzby

[2016-07-23 11:27] czyzby opened #10 "Javadocs and Dokka documentation"
Standard Gradle `javadoc` task fails to build a proper Javadoc archive. However, we can use [Dokka](https://github.com/Kotlin/dokka) to generate Javadocs from Kotlin sources. It would be nice to automatically generate Dokka documentation and post it with  GitHub Pages using the `gh-pages` branch after every push to master.

[2016-07-23 11:36] czyzby opened #11 "Travis CI integration"
- ~Automatic snapshot uploads.~
- [x] Pull request verification.
- [x] `master` branch testing.
- ~Dokka documentation publishing.~

[2016-07-24 13:59] czyzby opened #12 "Logging utilities"
- [x] Global logging methods.
- [x] `Logger` implementation.
- [x] Unit tests.

Thanks to `inline` functions, Kotlin can make it possible to use nearly-zero overhead logging mechanism that does not rely on varargs to provide string templates. The [existing solution](https://github.com/MicroUtils/kotlin.logging) is - unfortunately - not compatible with LibGDX logging.

[2016-07-30 11:51] #12 closed, assigned to czyzby

[2016-07-31 09:05] czyzby opened #13 "Skin utilities module"
- [x] Type-safe builders for Scene2D widgets styles.
- [x] Utility functions that make accessing and modifying `Skin` assets easier.
- [x] Unit tests.

`ktx-style` would a type-safe alternative to constructing Scene2D styles with error-prone JSON files.

[2016-07-31 09:23] czyzby opened #14 "KTX tools module"
An equivalent to `gdx-tools` that could automate some KTX-related operations. Potential candidates:
- Conversion of `.properties` files to type-safe i18n enums from `ktx-i18n`.
- Conversion of skin `.json` definition to type-safe builders from `ktx-style`.
- Generating type-safe `ktx-style` builders from an existing `Skin` instance.
- Extraction of texture region names from `.atlas` files, which c

[2016-08-13 12:16] #6 closed, assigned to czyzby

[2016-08-13 12:16] #13 closed, assigned to czyzby

[2016-09-22 07:15] czyzby opened #15 "VisUI stylesheet building utilities module"
- [ ] Type-safe builders for VisUI widgets styles.
- [ ] Unit tests.

`ktx-vis-style` would a type-safe alternative to constructing VisUI styles with error-prone JSON files. See #13.

[2016-09-24 14:24] #15 closed, assigned to czyzby

[2016-09-24 14:51] #5 closed, assigned to nobody

[2016-09-24 15:16] czyzby commented on #11
[This might be useful](https://gist.github.com/domenic/ec8b0fc8ab45f39403dd).

[2016-09-24 15:33] czyzby commented on #10
Javadocs are generated using Dokka plugin and properly zipped via Gradle. `dokka` Gradle task generates documentation at `build/dokka` directory of each module. Documentation at `gh-pages` branch *could* be handled by Travis (#11).

[2016-09-24 15:33] #10 closed

[2016-09-26 07:09] czyzby opened #16 "Documentation improvements"
- [x] Contributing guideline.
- [ ] Links to related LibGDX articles.
- [x] Gradle/Maven dependencies info.

Basically, all KTX guides assume prior knowledge of LibGDX API. Some people are likely to get there because of Kotlin rather LibGDX. It would be nice to include some links to the original LibGDX APIs explanations that are being improved by each KTX module - for example, `ktx-scene2d` could

[2016-09-26 07:51] #16 closed

[2016-10-01 16:48] czyzby opened #17 "Upload 1.9.4-b1 to Maven Central"
- [x] Upload `1.9.4-b1` version to Maven Central.
- [ ] Update info and add "shield" to `README.md` with current version.
- [x] Add zipped data to releases.

[2016-10-01 16:51] czyzby opened #18 "Migrate to Gradle Kotlin scripting"
- [ ] Rewrite the main `build.gradle` file to Kotlin.
- [ ] Update `build.gradle` files of subprojects.

_Because we can._

(Low priority.)

[2016-10-01 16:52] czyzby commented on #4
Fully implemented, needs some more documentation - there are no usage example in the `README` yet.

[2016-10-01 17:25] #17 closed

[2016-10-01 18:57] czyzby opened #19 "Example applications"
- [x] Simple `gdx-setup` project templates.
  - KTX projects can be generated with [unofficial gdx-setup](https://github.com/czyzby/gdx-setup) and [gdx-liftoff](https://github.com/tommyettinger/gdx-liftoff).
- [x] Wiki with a simple game tutorial.
  - KTX tutorial with a simple game can be found [here](https://github.com/Quillraven/SimpleKtxGame/wiki).
- [x] A separate repository with simple proje

[2016-10-02 09:27] #4 closed

[2016-10-02 09:38] czyzby opened #20 "Include change logs in releases"
- [ ] Update `CHANGELOG.md`.
- [x] Add change log of `1.9.4-b1`.

[2016-10-02 09:40] #20 closed

[2016-10-03 07:52] czyzby opened #21 "Application utilities module"
- [x] `ApplicationAdapter` equivalent.
- ~~`Game`/`Screen` equivalent.~~ This turns out more opinionated than it should be, it basically forces the developer to use Scene2D - preventing from basing everything on an entity system or using a different screen transition tool.
- [ ] [`LetterboxingViewport`](https://github.com/czyzby/gdx-lml/blob/master/kiwi/src/main/java/com/github/czyzby/kiwi/util/gd

[2016-10-09 11:16] czyzby opened #22 "VisUI 1.2.4 features"
- [ ] `ListViewStyle` support.

[2016-10-09 14:13] #22 closed

[2016-10-09 17:32] nanodeath opened #23 "Utility library for an entity system"
Are you interested in adding helpers for [Ashley](https://github.com/libgdx/ashley)? I have a few that might be a good fit for ktx.

[2016-10-09 17:41] czyzby commented on #23
I never used `Ashley`, to be honest, and it seems that [Artemis ODB](https://github.com/junkdog/artemis-odb) is a much better performing alternative. (This is what VisEditor runtime seems to be using, for example.) I'd probably go with Artemis extensions when starting from scratch with entity system utility library.

That said, if you already have some working code and willing to write a few [unit

[2016-10-09 17:58] nanodeath commented on #23
True, Artemis ODB does seem to have better benchmarks, BUT they're [benchmarking](https://github.com/junkdog/entity-system-benchmarks) and older version of Ashley (1.6.0) than the current version (1.7.3). 1.6.0 was released in July 2015, while 1.7.3 was released in September 2016, and there were [55](https://github.com/libgdx/ashley/compare/ashley-1.6.0...ashley-1.7.3) commits between them. Plus,

[2016-10-09 18:15] czyzby commented on #23
I see. Creating a new KTX module is a matter of adding a new directory, including its name in `settings.gradle` file, adding `build.gradle` with listed dependencies (if any) and `gradle.properties` with module data. It should eventually look somewhat like this:

[code]

Even though we compile against a specific dependency version, we usually include most dependencies in `provided` scope to avoid j

[2016-10-29 02:04] andrejp88 opened #24 "Actor.onKeyUp() and Actor.onKeyDown() extension functions"
onKey() is all fine and well, but it has a couple of downsides.
- It only supports letter/number keys - you can't e.g. bind Esc to close a menu.
- Holding down a key will continuously fire events instead of just one, on the initial key-down.
- Doesn't detect key releases.

The proposed functions would bind an InputListener with the onKeyDown() or onKeyUp() methods overriden.

[2016-10-29 09:10] #24 closed

[2016-10-29 09:11] czyzby commented on #24
Thanks for the suggestion.

[2016-10-29 10:18] #21 closed

[2016-10-29 10:53] czyzby opened #25 "Release 1.9.4-b2"
- [x] Upload to Maven Central.
- [x] Add to releases section.
- [x] Update `gdx-setup`.
- [x] Update change log.

[2016-10-29 10:59] #25 closed

[2016-11-22 16:31] elect86 commented on #3
Hi,

I am working on a glm port [here](https://github.com/elect86/glm), may interest you, guys?

[2016-11-23 08:14] czyzby commented on #3
I guess we could this library similarly to how we list KTX alternatives (once its pushed to Maven Central or another repository). `ktx-math` aims to bring Kotlin features to LibGDX math API, while your library seems to be independent of LibGDX altogether.

[2016-11-23 14:36] elect86 commented on #3
list?

[2016-11-23 15:08] czyzby commented on #3
Fixed, thanks. ; )

[2016-11-23 15:09] czyzby commented on #3
BTW, you can let us know once the library is published.

[2016-12-12 08:21] czyzby opened #26 "Update to LibGDX 1.9.5"
- [x] Update dependencies.
- [x] Release 1.9.5-b1.

[2016-12-13 12:39] #26 closed

[2017-03-07 16:49] czyzby opened #28 "Update to LibGDX 1.9.6 and Kotlin 1.1.0"
* [x] Use LibGDX 1.9.6 version.
* [x] Use Kotlin 1.1.0 version.
* [x] Release KTX compatible with 1.9.6.

[2017-03-10 21:27] #28 closed

[2017-03-12 20:43] Trixt0r opened #29 "Math module implementation"
Hi guys,

I am a little bit confused about the implementation of the math module.
Applying operators on vectors/matrices does not behave as expected since the result which gets returned is the left handed variable instead of a new vector/matrix.
For example:
[code]
will get `y` the correct result and `x` won't be `Vector2(1f, 1f)` anymore but `Vector2(2f, 2f)`, i.e. `x == y` is `true`.

To bypass

[2017-03-12 22:31] czyzby commented on #29
I think `Vector2` is mutable _precisely_ because of the immutable values overhead, especially on mobile platforms. As you noticed, KTX math module provides only syntax sugar for LibGDX API, so we're not going to introduce changes like that. Most LibGDX users should already be used to mutable vectors.

Enforcing `Vector2` instances pooling would be pretty annoying and could lead to multiple bugs th

[2017-03-12 22:31] #29 closed

[2017-03-12 22:46] czyzby commented on #29
Heh, I've just got a dumb idea to abuse Kotlin DSL capabilities and avoid the new object syntax:

[code]

Your example could be rewritten as:

[code]

This would give you the control over when `Vector2` instances are created and could be used to create chains of operations that produce exactly one new `Vector2` instance.

Use at your own risk, though.

[2017-03-25 23:34] sreich opened #30 "Update Kotlin to 1.1.1"
1.1.1 is now out, we can update to it.

[2017-03-26 11:11] czyzby commented on #30
Fortunately, I don't think there were any breaking changes. As long as you use a build tool like Gradle or Maven, you should have no problem upgrading to Kotlin 1.1.1 with current KTX libraries - the build tool should automatically prefer the newer Kotlin library version over the 1.1.0 that KTX currently uses.

Anyway, thanks for the reminder - the next release will be up to date.

[2017-03-26 12:45] sreich opened #31 "sources not present for some modules"
i'm not familiar enough to know what's causing this, but in intellij for most modules i can browse in my dependencies/ and see the source (incl java doc annotatinons) of most everything..

there are some exceptions, classes that it seems to only have binaries for

- math
-style
-vistyle
-assets(partial)
-actors

the other ones i've tried such as app and log and scene2d are fine. they're all gettin

[2017-03-26 13:42] czyzby commented on #31
This is likely your setup issue. [Check this out](https://stackoverflow.com/questions/12718753/how-to-download-dependency-sources-for-gradle-project-in-idea). All KTX libraries are pushed with the same Gradle task and [it seems that they are present in Maven Central](https://oss.sonatype.org/content/repositories/releases/com/github/czyzby/ktx-math/1.9.6-b1/).

[2017-03-26 14:32] sreich commented on #31
hm this is strange indeed. maybe it's just an intellij error (running the prerelease eap). i tried removing mavenLocal, setting the docs/source to download, wiping ~/.gradle/caches and restarting as well as reimporting the project. it just doesn't seem to like those few.

what's even more puzzling is if i go into 'project structure', i can see it pointing to the sources in the local cache.

i'll c

[2017-03-26 14:32] #31 closed

[2017-03-26 14:39] czyzby commented on #31
Yeah, I don't see how this is a KTX issue, since all source artifacts seem to be uploaded properly. I hope you'll find a solution to your problem.

[2017-03-28 17:08] czyzby opened #33 "Update contribution guide"
Contribution guide should contain a note about updating the changelog file and `README` of the modified project.

[2017-03-28 17:18] czyzby opened #34 "Update to VisUI 1.3.0"
- [x] Add support for `HorizontalCollapsibleWidget`.

See [changelog](https://github.com/kotcrab/vis-editor/blob/master/ui/CHANGES.md).

[2017-03-28 17:47] #30 closed

[2017-03-28 17:48] #33 closed

[2017-03-28 17:48] #34 closed

[2017-03-28 18:24] czyzby commented on #11
Travis no longer runs Dokka-related tasks, as it seems they were causing builds to fail due to running for too long.

[2017-03-28 19:24] sreich commented on #14
fyi so there's no duplication, consider me working on the "Extraction of texture region names from .atlas files, which could be saved as a type-safe enum. ".

i'm currently waiting on someone else's very recent work, for me to generate the code..i'll see what i can whip up for my own project and go from there. it should be able to generate type-safe enums from all asset types (fonts/images/atlas e

[2017-03-28 19:26] czyzby commented on #14
That's great! I'll create a separate branch and setup Gradle submodule for you.

[2017-03-28 19:40] sreich opened #35 "Merging LibGDX utilities from Ore Infinium"
- [x] Common LibGDX interfaces adapters.
- [x] Math extensions.
- [x] ~~`ktx-graphics`?~~ Utilities for `Batch` and `ShaderProgram` in `ktx-app`.

---

i'm gonna find some time to push some of my helper functions from my game upwards into here so other people can benefit from my headaches.

some of them are rather useful, some of them are useless even for me ( experiments :wink: )

see here https:

[2017-03-28 20:05] czyzby commented on #35
I like the idea of "translating" clunky interfaces to Kotlin to add the missing nullability data. `InputListener` could go directly to the `ktx-app` module; not sure about `InputProcessor` though - doesn't it work on primitives, which are already assumed to be non-null?

`ShaderProgram` and `TextureRegion` extensions are nice, but I'm honestly not sure where to put them right now. (A similar `use`

[2017-03-28 20:10] czyzby commented on #35
As far as Artemis utilities go, you can propose your solutions in #23 issue.

[2017-03-28 20:13] sreich commented on #35
it's not just about nullability as my terrible comments neglect to mention...in my game for instance, i only actually want to implement a couple of those methods of the interface.

because libgdx targets java 6, doesn't have the default interface keyword..so you're forced to implement all functions even if they do nothing. so still a big benefit as far as cleaning it up goes.

[2017-03-28 20:15] czyzby commented on #35
An "adapter" of sorts than (Java libs seem to misuse the term, imho) - empty implementation to cut down the boilerplate. Yeah, I like that - since it's still an interface, I can see that it could be more useful than abstract classes with empty implementations that LibGDX provides.

[2017-03-28 20:19] sreich commented on #35
yep. if libgdx targeted java 7 (actually i think..maybe 8 they arrived in), they could define their interfaces methods as  eg 'public default void' and the method would be optional, and we wouldn't need this, but here we are :smile:

[2017-03-28 20:21] czyzby commented on #35
Java 8. Yeah, Java is well known for its boilerplate ceremony.

Anyway, may I ask if you plan on using KTX in Ore Infinitum eventually? ; )

[2017-03-28 20:27] czyzby commented on #14
There. Try checking out `feature/ktx-tools` branch.

[2017-03-28 20:28] sreich commented on #35
haha yes, been working on past few days (in a diff branch), been playing with the skin stuff and moving that over(and writing a new skin style), in between playing with coroutines for multithreaded world gen

[2017-03-28 20:33] czyzby commented on #35
Great. I already used KTX in game jams and the overall experience was, well, pleasant - no KTX bugs encountered, fortunately. But without some feedback from more developers and usage of KTX in a bigger project, I don't want to publish a non-beta release just yet. Don't hesitate to create an issue with some simple comments on the project if some part of it just doesn't "feel right".

[2017-03-28 20:38] sreich commented on #35
yep, sounds good.

we should probably also have a 'uses ktx' list of projects in the readme or something so people can have real examples of it in action to take ideas from

[2017-03-28 20:44] czyzby commented on #35
I'm not comfortable linking to my dirty game jam code and empty "uses KTX" list wouldn't be so impressive, I'm afraid. Judging be the downloads from Maven Central, there are some KTX users out there, but none shared their story yet. But yeah, I'd like to create such list eventually.

[2017-03-30 11:19] sreich opened #36 "improving scene2d label,textbutton property notation for setting text"
this is something that's been bothering me...

so you know how kotlin transforms get/set methods from java into property accessors. well, one place this screws up is in label and textbutton of scene2d.

`label.text = "test" // won't work, can't assign string to stringbuilder`

this exists because label has getText():StringBuilder, and setText(String)..which is a bit strange of an api to begin with

[2017-03-30 12:53] czyzby commented on #36
`txt`? `value`? `data`? Maybe `text` will _just work_ (TM) if I throw enough extensions at `Label`. I'll try to improve its API.

[2017-03-30 16:23] czyzby commented on #36
`TextButton` already has a label getter and it would be pretty misleading in `Label` widget, so I'm not sure about `label` property. `data` and `value` are too vague (and `data` is a keyword, hah). `txt` is not perfect either, but it's pretty readable and has a similar name to the original field. I think I'll go with that - if you have any ideas, we can still change this before the next release.

[2017-03-30 16:34] sreich commented on #36
Yes I'm leaning towards txt as well, it's the best option imo(label was just a 5am example).

Really wish there were a better way, but unfortunately kotlin won't let you shadow, even if you're really really sure you want to due to bad api, as in this case.

[2017-03-30 16:53] #36 closed

[2017-03-30 16:58] czyzby commented on #36
Done. `label.txt` and `textButton.txt` can be used to both access the text fields (converted to `String`) and change them with the property syntax (again, consuming `String` for compatibility). Snapshot release should be available soon.

[2017-03-30 16:59] sreich commented on #36
Nice work, thanks

[2017-03-30 17:08] czyzby commented on #36
There are a lot of similar cases where Kotlin compiler cannot properly generate properties correctly - like in case of setter methods without corresponding getters (for example - `Label.setWrap`). Most of these are rather obscure - I don't think it's worth the time covering all of these, especially since we might not be so lucky with the naming in every case. However, if you noticed that a particu

[2017-04-02 12:48] sreich opened #38 "ktx-tools gradle plugin buildsystem issues"
i'm working on the gradle plugin which will end up running a code generator on whatever we want (my focus is on fonts, sounds, textures not in particular order).

i could use some help on this issue right now. if you check out my fork, https://github.com/sreich/ktx/tree/feature/ktx-tools

running install on ktx-tools fails..not sure why it's failing at that task though. once i get this building a

[2017-04-02 12:59] czyzby commented on #38
Try including stdlib in `compile` scope. It seems that the error is thrown when something that you declared non-nullable (for example - when overriding/implementing Gradle APIs) was actually a `null`. Try adding a few `?` here and there.

[2017-04-02 13:02] czyzby commented on #38
Anyway, I'd prefer if you prepared the `ktx-tools` module in a build system-agnostic way before tackling the Gradle plugin. It should be easier for you as well, since there is no learning curve to begin with. `ktx-tools` could be a simple module with a few generators that you can call in your plain old ~~Java~~ Kotlin and integrate into any building system. Wrapping Gradle plugin around an existin

[2017-04-02 13:14] sreich commented on #38
I switched to compile scope, same thing.

I don't think nullability is an issue here, it works in a standalone project, so must be the top level gradle is doing something weird with it.

And yes I am naturally going to keep it separate and have the plugin call that.

But right now I'm doing a proof of concept - there needs to be a way to call it at pre compile time especially so I can properly tes

[2017-04-02 13:20] czyzby commented on #38
Sure, whatever works for you. Just saying that I'd probably keep these two in separate Gradle modules (`tools` with the logic, `plugin` with the Gradle-specific stuff).

Start with [basically any Kotlin Gradle plugin out there](https://github.com/edibleday/teavm-gradle-plugin), gradually rewrite it until it works and does what you want it to do. : P

[2017-04-02 13:35] sreich commented on #38
alright, managed to fix it it seemed. did i mention i hate buildsystems? caching always gets me in the end, whether it's buildsystems or  web browsers ;)

anyway, thanks for the advice, i appreciate it

[2017-04-02 13:55] czyzby commented on #38
OK, I'm closing this for now. If you still have any problems with the implementation of `ktx-tools`, use issue #14.

[2017-04-02 13:55] #38 closed

[2017-04-02 16:48] sreich commented on #14
think i'm running into an issue with the gradle scripts for ktx (in general, unrelated to ktx-tools).

resources aren't getting stored in the jar..i'm thinking this is because the top-level one ends up overriding the default behavior (gradle defaults to copy the resources as expected).

you can try adding a src/main/resources/blah.txt to anything and see it not get copied. looks like the resourceD

[2017-04-02 18:17] czyzby commented on #14
@sreich How are you building the jar? I added `src/main/resources` folder in one of the modules, put a text file there and it was present in the generated jar when using `gradle build` command. Maybe this is specific to Gradle plugin jars - have you checked if they are allowed to have classpath resources? I don't see a reason why they wouldn't, but still.

[2017-04-02 19:15] sreich commented on #14
guess it's been a long day, silly mistake...i was putting them into src/resources, and since the resource is how gradle finds the plugin in the first place..that is why it couldn't find it. now the plugin works great. so i'll continue working on it and the generator

[2017-04-02 19:19] czyzby commented on #14
It's OK. Might I ask why do you need classpath resources in the plugin in the first place?

[2017-04-02 22:37] sreich commented on #14
from my understanding of gradle, it is required for the plugin to get picked up by gradle (the implementation-class)

https://docs.gradle.org/current/userguide/custom_plugins.html#sec:custom_plugins_standalone_project

[2017-04-02 23:38] czyzby commented on #14
Oh, I see. I completely forgot about the meta-data thing. Carry on.

[2017-04-06 20:15] czyzby opened #39 "Improve GitHub repository"
- [x] Move GitHub meta-data to `.github`.
- [x] Add logo.
- [ ] Cleanup `README.md`.

[2017-04-06 21:11] #39 closed

[2017-04-07 22:06] czyzby opened #40 "Explore Kotlin 1.1 features"
- ~~Builder scoping DSL could greatly improve Scene2D and VisUI building APIs.~~ #44 #46
- ~~Builder scoping DSL for `Skin` building methods.~~ #45
- [x] Type aliases for LibGDX collections could help avoiding collisions with Kotlin classes (`Array`, for example), as well as providing class names consistent with the factory methods.
- ~~Coroutines could be potentially used for asset loading and de

[2017-04-07 22:07] czyzby commented on #35
If you don't mind, I can port some of your utilities to KTX (especially the math-related ones), so you can focus on `ktx-tools`.

[2017-04-07 22:14] sreich commented on #35
Sure, if you want, you can steal whatever you find useful.

[2017-04-07 22:23] sreich commented on #40
I've been especially curious on coroutines. Right now I'm just trying to use them in my game to multithread the world gen.

But I'm really interested (and confused) in how they can be used well throughout a game(where it's single threaded), aside from the obvious asset stuff.

We can write our own dispatcher, for libgdx which can run the tasks on the UI thread using libgdx mechanisms for that.

Bu

[2017-04-07 22:37] czyzby commented on #40
Single-threaded applications will not benefit from coroutines. Most applications won't, to be honest. Assets can already be loaded asynchronously, and you don't really want to pause your main rendering logic in order to load some asset on a separate thread.

However, I do see a use case where you could schedule handling of some networking packets during the main rendering loop without blocking the

[2017-04-07 23:04] sreich commented on #40
that's not the conclusion i came to so far. looks like they can be used to simplify/mask synchronous callback logic or polling. there are synchronous and asynchronous coroutines. you can do whatever you want with them and you can decide however you want to schedule them (either on n threads or on the gl thread, when...how to handle it, it's up to you etc..)

http://www.ilikebigbits.com/blog/2016/3

[2017-04-07 23:15] czyzby commented on #40
I'm not sure if you can easily suspend rendering thread and if that makes any sense. Most platforms just run an endless loop on the main thread - that might be problematic. After all, you cannot just suspend and skip a rendering call, only to come back to if after some action on other thread as finished. Game with actual logic represented by coroutines (like in your link) would have be designed to

[2017-04-07 23:20] sreich commented on #40
yeah, you'd only be suspending functions and picking them up later that happen to be on the render thread but aren't rendery things themselves (the gl state would get screwed with, as you note). but rendering is just a dumb operation anyways, data modification is where it'd be interesting (in case of the fade example, that would be a resumption of a suspended function that sets the fade level of a

[2017-04-14 21:17] czyzby commented on #40
I'm afraid `@DslMarker` annotation will not help current `Skin` and `Scene2D` builders, since they extend existing APIs of LibGDX classes to provide builder-like DSL. DSL marker annotations either do not work with extension methods or need annotations on classes that we do not control (original LibGDX API).

[2017-04-14 21:58] kotcrab commented on #40
I'm trying to use it now, seems to be possible since we are extending most of (all? I don't really remember) libgdx widgets.

Check this modified [`widgets.kt`](https://gist.github.com/kotcrab/6615a7480c8482d3872455f78af49563) from `vis` module. I only declared `@VisTagMarker` and added it to `KTabbedPane`, `KTab`. Now try this example:

[code]
It's weird how this annotation works, still trying to

[2017-04-14 22:08] czyzby commented on #40
Huh. I tried to use it on `KTable` interface from `scene2d` and `skin` method from `style` module and both didn't work as expected. I think the difference between `vis` and `scene2d` modules is the fact that all factory methods in `scene2d` are inlined extension methods as opposed to actual methods of the builder classes in `vis`. I'll give it another try later.

Anyway, I'm currently implementing

[2017-04-14 23:20] czyzby opened #41 "Coroutines-based asset manager"
Asynchronous asset loading based on coroutines would both benefit simplify the API usage - it would look as if assets are loaded synchronously - as well as the asset manager internal implementation.

---

It would be possible to turn this pseudocode example:

[code]

...into this pseudocode example:
[code]

@kotcrab Thoughts on this? Should we include coroutines in `ktx-assets`, add the new manage

[2017-04-14 23:28] czyzby opened #42 "Static instances removal"
- [x] _I18n bundle_ - with idiomatic Kotlin NLS enums (see README file), the static `nls` methods are not as useful.
- [x] _Dependency injection context_ - after full context initiation, context should not be accessed directly. Dynamically created instances should be accessible through injected providers.
- [x] _Asset manager_ - with dependency injection from `ktx-inject`, static access to resourc

[2017-04-14 23:30] czyzby commented on #40
Basic coroutines support will be introduced in `ktx-async` module. Asset management improvements will be implemented in #41.

[2017-04-15 00:16] czyzby opened #43 "Migrate unit tests to a Kotlin testing framework"
[KotlinTest](https://github.com/kotlintest/kotlintest) is a promising testing framework that we can use to replace the current non-idiomatic JUnit tests. [Mockito-Kotlin](https://github.com/nhaarman/mockito-kotlin) greatly improves mocking API and should be used instead of vanilla Mockito.

[2017-04-15 09:47] MrPlow442 commented on #42
I believe I might be the least qualified here to suggest anything but here goes. I come primarily from web development where globals are frowned upon and are mostly replaced by singletons managed by DI frameworks. With that mindset I'd suggest to forgo globals where possible and let users decide where, how and when to instantiate and use these utilities. Is there any significant difference if you

[2017-04-15 10:53] czyzby commented on #42
@MrPlow442 That's basically my background and mindset, really. I originally transfered some of my personal Kotlin utilities without giving it much thought and I believe keeping the globals around was a mistake. I think deprecating all static instances (and utility functions that depend on them) makes sense, I'll eventually remove them in a future release.

[2017-04-15 13:40] kotcrab opened #44 "Refactoring Vis module"
This is attempt to improve current Vis builder API. Current implementation when building actors that belong to `Table`-type widget will return `Cell<Actor>` which is convenient if you need to modify cell properties but most of the time you also need to get `Actor` itself which requires not so convenient `.actor` call.
New API will introduce `.cell {}` that will allow to modify `Cell` properties bu

[2017-04-15 14:04] kotcrab commented on #44
#### Bonus: Fragment API
While builders are great they tend to create nested hell of clousers, this is attempt to prevent this by allowing to easily extract UI pieces to so called fragments.

API declaration:
[code]

New extension methods for `CellAccessor`:
[code]

Usage:
Declaring fragment as class. This won't compile with above subset of new vis api but its taken straight out my project, only c

[2017-04-15 14:08] czyzby commented on #44
I'm not a fan of manipulating `Cell` properties outside of the building block of the actual actor. This leads to actor properties being scattered at two places.
[code]

This might not seem like that big of a deal while the UI is still small, but imagine the table had 8 children. When configuring actors at the bottom of the building block, you visually lose track of what's actually configured - whe

[2017-04-15 14:58] kotcrab commented on #44
I disagree about losing track of what is actually configured. When creating UI you also have to look how Cell of other elements are configured. In my approach, it ends up in standard place after closing parenthesis, easy to notice. It's on the same indent level as actor declaration, that's makes it easier to see what is configured.
In case of your approach it will end up in the middle of actor con

[2017-04-15 15:30] czyzby commented on #44
I guess it comes down to preferences and code style. For me, configuring cell properties is not unlike managing the actor's internals - that's why I like to keep it together, close to the actor declaration.

Not sure if the benefits justify introducing another API that the users would have to learn. I think extracting common code to utility file-scope functions would do fine without the additional

[2017-04-15 16:18] kotcrab commented on #42
I agree with removing static instances of I18N bundle and assets manager. Those can be handled better.

What about deprecating static context for `ktx-inject`, this would require passing context instance to every class that wants to use DI, right?

Scene2d.ui `Skin` makes me sad that it's not handled by the `Stage` itself, I think it's just better to keep it static here.

[2017-04-15 16:33] kotcrab commented on #41
This looks neat but seems only useful if you will use assets in current view. I'm assuming view is some kind of class here. If current view acts as loading screen and then next game view is separate class then you have to retrieve assets again anyway. Depends on how your project is coded of course. I'm not really fan of this extra layer of complexity by suspending create method, calling render unt

[2017-04-15 16:37] czyzby commented on #42
This would require you to design your classes in such a way that you don't need it - injecting only the providers that you plan on using dynamically.

Agreed. Having to pass skin variable to every UI building methods would clutter the API and would be inconsistent with VisUI which provides `Skin` instance internally.

[2017-04-15 17:01] czyzby commented on #41
Ah, yes, coroutines and asynchronous programming do need some getting used to, but after the "a-ha" moment, it actually simplifies the logic if you use a lot of asynchronous calls. LibGDX `AssetManager` API is really tedious if you think about it and poor when handling individual assets loading. (`finishLoading` for a single asset is implemented by spin-waiting until the asset is loaded. For all y

[2017-04-15 17:11] czyzby opened #45 "DSL improvements from Kotlin 1.1 in Skin builders"
- [ ] `ktx-style`
- [ ] `ktx-style-vis`

Use Kotlin 1.1 `@DslMarker` API to address scoping issues in `ktx-style` and `ktx-style-vis` modules.

[2017-04-15 17:19] czyzby opened #46 "DSL improvements from Kotlin 1.1 in Scene2D widget builders"
Use Kotlin 1.1 `@DslMarker` API to address scoping issues in `ktx-scene2d`.

[2017-04-15 17:23] kotcrab commented on #44
Yeah, that's why I tried to keep API simple. I like the way with extension method, seems better. Fragments was more targetted to help with extracting part of view to separate class that will have some extra fields and methods related to it, avoiding cluttering current class.

Of course extracting fragments just for the sake of is not useful but in real application you will probably have UI blocks

[2017-04-15 17:24] czyzby opened #47 "Coroutines support"
- [x] Add `ktx-async` module.
- [x] Implement coroutine context for LibGDX applications that executes tasks on the main rendering thread, using `Gdx.app.postRunnable` to resume coroutines executed on other threads.
- [x] Implement utility functions for asynchronous tasks based on coroutines executed on a configurable `AsyncExecutor` instance.
- [x] Add `HttpRequest` utilities based on coroutines.

[2017-04-15 17:31] kotcrab commented on #41
Yeah, probably. I haven't really played with Kotlin's coroutines. I understand the example you provided.

Then you will end up with big constructors or setters. My point was that if current view just loads the assets and next view will use standard API to retrieve them again then doing it asynchronous way is very similar to standard one.

[2017-04-15 17:31] czyzby commented on #44
In fact, now I plan on adding scoped `cell` and `node` methods to children of `Table`/`Tree` widgets to `ktx-scene2d`, although I don't think they should return `Cell`/`Node` instances. Instead, I'll add `cell` _function_ (that allows to configure `Cell` setting with parameters and `cell` _property_ (that returns the actual cell if the user needs it for some reason).

[code]

This will hopefully b

[2017-04-15 17:39] czyzby commented on #41
Not really. If you want to access resources directly from the coroutine-based `AssetManager`, you can. Only the loading phase would be based on coroutines - and simplified in the process, as well as being more easily controlled by the user. After the assets are loaded, there would be virtually no differences between usage of the KTX and LibGDX asset managers. If you want to pass assets in bulk thr

[2017-04-15 17:42] czyzby commented on #40
Turns out you can use `@DslMarker` even if you do not control the class by applying the annotation on parameter types of functions. This means we can update both `ktx-style` and `ktx-scene2d` without major refactoring and - hopefully - breaking API changes.

This issue turned out to be rather huge, so it was separated into multiple tasks. I'm closing this for now.

[2017-04-15 17:42] #40 closed

[2017-04-15 18:15] kotcrab commented on #44
Kind of
[code]
And then usage
[code]
The question is, do we really want to keep this current implementation instead of doing it `ktx-scene2d` way?

[2017-04-15 18:28] czyzby commented on #44
I don't think inlined builder methods are a huge advantage over regular lambdas in this case, since the UI is usually built once and the additional cost would be pretty much negligible. Rewriting a module that _just works_ is a huge undertaking for little gain. That said, it would be nice if the two libraries could share some common code - `ktx-vis` seems like a natural extension of `ktx-scene2d`.

[2017-04-15 18:49] czyzby opened #48 "Add scoped cell and node accessors for table and tree children"
- [ ] ~~`cell`~~ `inCell` extension property returning `Cell` storing the actor. Usable only in scope of `KTable` parent.
- [ ] ~~`node`~~ `inNode` extension property returning `Node` storing the actor. Usable only in scope of `KTree` parent.
- [ ] `cell` extension method allowing to customize `Cell` storing the actor, returning the actor for fluent API. Usable only in scope of `KTable` parent.
-

[2017-04-15 18:51] czyzby commented on #44
To be honest, now that I've investigated Kotlin 1.1 features, I consider `ktx-scene2d` incomplete. You can proceed with the estimation after #46 and #48 are done. I'll try to make it this weekend.

[2017-04-15 20:30] #45 closed

[2017-04-15 20:33] czyzby commented on #48
Blocked by #46.

[2017-04-15 21:23] #46 closed

[2017-04-15 21:49] czyzby commented on #48
`cell` extension property generates `getCell(Actor)` method, which already exists in `Table` API - causing a name clash. The extension property will be named `tableCell` instead.

[2017-04-16 00:49] #48 closed

[2017-04-16 00:53] czyzby commented on #48
@kotcrab I can see why you preferred calling `Cell` methods after the widget is constructed. While I still prefer to modify `Cell` properties in building blocks, not every actor _needs_ a building block in the first place. In case of simple actors like sliders, labels or progress bars, `actor().cell(expand = true)` syntax seems a lot clearer than `actor { it.expand(true) }` - opening a building bl

[2017-04-16 14:06] czyzby commented on #47
@kotcrab Sweet. LibGDX `HttpResponse` implementation is not thread-safe and [does not care if the underlying connection was closed, silently ignoring all exceptions](https://github.com/libgdx/libgdx/blob/master/gdx/src/com/badlogic/gdx/net/NetJavaImpl.java#L57-L91). Here I was, wondering why my implementation of asynchronous HTTP requests always returns empty content - I debugged LibGDX code and n

[2017-04-16 17:48] #35 closed

[2017-04-16 17:52] czyzby commented on #35
@sreich I think we moved all common utilities to KTX. I found the rest of the stuff too specific to your project or unlikely to be widely used. If you think something else should be added as well, please create a pull request. Thanks.

[2017-04-16 17:54] sreich commented on #35
Yep, sounds good. My Artemis stuff I'll sit on for a while, see what changes I want for it etc.

[2017-04-16 20:14] sreich opened #49 "clearscreen (glclear)"
thinking clearscreen should instead have an optional arg for opacity. often times you want to set the opacity (fbos especially) and cannot do that. adding it as an optional arg should maintain BC (though i suppose that doesn't matter since ktx is not 1.0 yet)

[2017-04-17 16:38] czyzby opened #50 "Move repository to libktx organization"
- [x] Transfer repository to `libktx/ktx`.
- [x] Change license to CC0.
- [x] Change group ID to `io.github.libktx`.

---

~~Blocked by Maven Central procedures.~~

[2017-04-17 17:09] sreich commented on #50
Could try jcenter \bintray, heard it's much better for those

[2017-04-17 17:11] czyzby commented on #50
More convenient, less accessible. Other repositories might require explicit declarations in Gradle/Maven config files.

[2017-04-17 17:15] sreich commented on #50
I wouldn't consider adding `jcenter()` or even an external repo noticeably less accessible (it's a simple one liner). Maybe it's less discoverable though from the web?

But I think most just look at the readme, copy and paste what you have.

At least that's what I do, so I don't care what repository any library uses

[2017-04-17 17:29] czyzby commented on #50
Some companies _do_ care, although these probably wouldn't consider KTX (or LibGDX, for that matter). Anyway, I don't mind waiting for the permission - once you set it up, it's relatively painless.

[2017-04-17 18:22] #49 closed

[2017-04-17 21:37] czyzby commented on #43
Tests written in KotlinTest cannot be run individually. You can run individual test _suite_, not but an individual _test_.  It's not that tedious, since most KTX tests take milliseconds to run, but it's certainly a step backwards from JUnit. I think using JUnit with Kotlin backticks to name test methods, `Mockito-Kotlin` for mocks and KotlinTest assertions is optimal for now.

[2017-04-17 22:30] czyzby opened #51 "Color utilities"
- [ ] `color` factory method with optional `alpha` defaulting to `1f`.
- [ ] `Color.copy` extension method, supporting optional values overriding.

[2017-04-17 22:32] #51 closed

[2017-04-18 14:23] Jkly commented on #43
Did you consider using Spek? It's more idiomatic to Kotlin than JUnit, and with the https://github.com/raniejade/spek-idea-plugin you are able to run each test individually.

[2017-04-18 14:35] czyzby commented on #43
I've seen this framework a while back and dismissed it for some reason. I think it required a lot of extra setup and JUnit 5 usage. I'll look into it again, thanks.

Anyway, Box2D utilities is something I was planning on eventually adding to KTX - and I really don't like reinventing the wheel. Would you consider merging your `gdx-box2d-kotlin` repository with KTX as an additional `ktx-box2d` modul

[2017-04-18 14:44] Jkly commented on #43
Sure, I'd be more than happy to contribute `gdx-box2d-kotlin` - I could prepare a PR and let you review and refactor the code that way? (or if you just want to dive in and grab what you want, I'm ok with that too)

[2017-04-18 14:57] czyzby commented on #43
Thanks, that's great. It's possible to merge 2 repositories keeping the commits history, I can do that on a separate branch. You'll appear as contributor and all of your commits will be there.

Can't promise anything, but I'll try to look into it this week. I'll create a separate issue for that.

[2017-04-18 14:58] czyzby opened #52 "Box2D utilities module"
- [x] Review [gdx-box2d-kotlin](https://github.com/Jkly/gdx-box2d-kotlin) code.
- ~~Migrate gdx-box2d-kotlin to `ktx-box2d` module.~~
- [x] `FixtureDef` factory methods supporting different shapes.
- [x] `earthGravity` property.
- [x] `World` factory methods.
- [x] Documentation listing all extensions. Usage examples.
- [x] Provide an easy way to access built `Fixture` instances.
- [x] Improve `Fi

[2017-04-18 15:00] czyzby commented on #43
#52

[2017-04-18 15:35] czyzby commented on #43
After a quick look, I think you're overusing field delegation and Box2D class wrappers.

For example, you can add `body` method as an extension of `World`:
[code]
This wouldn't force the users to wrap and unwrap Box2D classes with your DSL objects.

You overuse delegation mechanism:
[code]

If you browse through the current `ktx-style` module sources, you can see that type-safe builders with `@Dsl

[2017-04-18 15:45] Jkly commented on #43
Nice suggestions - I'll probably make those changes if I have time this week.

[2017-04-18 17:56] czyzby commented on #44
Thanks, I'm glad that now `ktx-scene2d` and `ktx-vis` APIs are pretty much consistent. I think we can close this issue after updating `CHANGELOG.md`.

[2017-04-18 18:08] kotcrab commented on #44
Yup, though implementation is quite different.

Some `CHANGELOG.md` points apply both to `ktx-vis` and `ktx-scene2d`. I guess we can mention two modules for one point?

[2017-04-18 18:17] kotcrab commented on #44
Updated changelog. @czyzby fell free to close.

[2017-04-18 18:24] czyzby commented on #44
Thanks.

[2017-04-18 18:24] #44 closed

[2017-04-18 19:11] czyzby commented on #47
@sreich @kotcrab How should I call the most commonly used method that gives you access to KTX coroutines context and allows to execute code on the main rendering thread? `onMainThread`, `execute`?

[2017-04-18 20:43] kotcrab commented on #47
No idea. `execute` is too vague in my opinion. `onMainThread` or `onGdxThread` is ok-ish. I probably like most `postRunnable`, same as `Gdx.app.postRunnable`. Maybe just `post` but that seems vague if it's a global method.

[2017-04-18 21:01] czyzby commented on #47
`postRunnable` might be misleading, as coroutine can be executed on the same thread right after you start it, and it can create more than a single task objects under the hood. `onMainThread` isn't ideal either, as your coroutine might never do anything significant on the main thread. Maybe something more explicit like `gdxCoroutine` or `ktxCoroutine`?

[2017-04-18 21:38] kotcrab commented on #47
I see. Nothing really strikes my mind though. I guess something like `ktxAsync` is not ideal either?

[2017-04-18 22:09] czyzby opened #53 "Release 1.9.6-b2"
- [x] #47
- [ ] #50
- [x] #61

---

`1.9.6-b2` will be the first release under `io.github.libktx` group ID.

[2017-04-19 14:38] raincole opened #54 "Expose KotlinApplication#timeSinceLastRender to allow interpolation/extrapolation"
`KotlinApplication`'s implementation of fixed timestep doesn't take interpolation/extrapolation between frames into account. For example, if the `fixedTimeStep` is `0.05`, but the first `Gdx.graphics.rawDeltaTime` is `0.08`, then it only calls `render(0.05)` for one time. In the other words, it renders the state of the game at 0.05s, at the 0.08s of the real world.

It's not that bad, but we can a

[2017-04-19 14:45] czyzby commented on #54
I think that was the exact point of `KotlinApplication`: provide consistent render calls with constant fixed time stamp value, smoothing raw delta time if necessary. If you need a specialized rendering approach, implementing `KtxApplicationAdapter` is your best bet. (It will be released in the next version pretty soon.)

If you want to make `KotlinApplication` more flexible, you can submit a pull

[2017-04-19 14:52] raincole commented on #54
The only thing I want is to make `timeSinceLastRender` so I can use it in my own render logic!

[2017-04-19 14:55] czyzby commented on #54
I see. The example was a bit misleading, I thought you want even more control over the `KotlinApplication` logic. I reviewed your changes.

[2017-04-19 15:57] #54 closed

[2017-04-19 15:59] czyzby commented on #54
If there's a use case and the setter is private (so you cannot affect the internal logic), I'm fine with that. The snapshot version with the improvement is being uploaded as we speak. Thanks for your suggestion and the pull request.

[2017-04-19 16:34] czyzby opened #56 "Release 1.9.6-b3"
- [x] Upload to Maven Central.
- [x] Create a new GitHub release.
- [x] Extract library version to a separate file.

---

- [x] #69
- [x] #66
- [x] #65
- [x] #60
- [x] #53
- [x] #52
- [x] #43
- [x] #42
- [x] #41

---

The next planned release aims to clean up tests code style, remove deprecated utilities and add support for Box2D and coroutines-based asset loading.

[2017-04-19 23:37] czyzby commented on #47
Not ideal, but simple and obvious. Not only does it match the module name, but also does not suggest where the code is executed (`onMainThread`) - only that it can be executed asynchronously. It's so trivial to add such method or simply use `KtxAsync` context directly with `launch`, that I don't think `ktxAsync` method will be harmful.

[2017-04-20 01:40] raincole commented on #47
I personally +1 for `onMainThread` because when one use this kind of behavior he has to be aware of which thread the tasks will be executed.

Or `onNextFrame`, maybe? "Frame" sort of implies the thread that can render frames, a.k.a. main thread.

[2017-04-20 06:28] czyzby commented on #47
But that's the thing: it does not have to be executed on the main thread. If you're using coroutines in the first place, chances are half of the instructions will be executed elsewhere. Only the processing of async operations results and non-suspending methods are invoked on the rendering thread.

[code]

[2017-04-20 09:14] sreich commented on #47
I don't think you meant to say "non suspending methods". Suspending methods can be on any thread including the render thread and it can be useful to use them on the rendering thread to mask state.

Or am I misunderstanding here?

[2017-04-20 09:25] czyzby commented on #47
That's right, I oversimplified. I should have said _non-suspending methods and suspending methods that **can** be executed on the main thread_. `KtxAsync` context always tries to execute everything on the main rendering thread, besides the obvious cases where the actual work is delegated other threads.

[2017-04-21 07:55] czyzby commented on #47
@kotcrab @sreich @raincole @MrPlow442 Can you take a look at the new module implementation and API? #57 I want your approval before merging and releasing this.

[2017-04-21 09:15] raincole opened #58 "Collection operations that return Gdx collections directly"
Let's say I'm `map`ping a `GdxArray`:

[code]

`names` will be a kotlin `List` because `Iterable#map` returns `List`. To get a `GdxArray` I have to call `toGdxArray`. But isn't the whole reason I use `GdxArray` to avoid object creation? 😧

There seems to be no way to make Kotlin smart enough to build a GdxArray automatically(something like Scala's `canBuildFrom`). Therefore, I'd suggest extension

[2017-04-21 09:22] czyzby commented on #58
I'm aware of this issue - completely copying the _stdlib_ API seemed like an overkill for most cases. I don't mind reviewing the code and including this in `gdx-collections` if you're willing to write it, but just know that it can be really time-consuming to cover all operations.

Anyway, `Gdx` suffix is not necessary. For example `GdxArray.map` would override `Iterable.map` method, as long as you

[2017-04-21 09:39] czyzby commented on #58
It's a shame that LibGDX collections share no common interface. If you want to write such extensions for _all_ collections,  there will be a lot of code duplication.

Common and basic LibGDX collections:
- `Array`
- `ObjectSet`
- `ObjectMap`

Useful, but rarely used collections:
- `IdentityMap`
- `OrderedMap`
- `OrderedSet`
- `SnapshotArray`

Optimized primitives collections:
- `BooleanArray`
- `B

[2017-04-21 09:45] raincole commented on #58
I don't plan to rewrite every method tho. Even only `map`, `filter` and probably `flatten` can cover most use cases.

That being said, the number of collections is still much more than I thought! Maybe just do it for `Array`, `ObjectSet` and `ObjectMap` for now?

[2017-04-21 10:08] czyzby commented on #58
Agreed, but it would be nice if you also added extensions for `PooledList` (`LinkedList` equivalent).

[2017-04-21 10:08] czyzby opened #59 "Type aliases for LibGDX primitve collections"
- [ ] `CharArray`
- [ ] `LongArray`
- [ ] `ShortArray`

---

Add type aliases with `Gdx` prefix to avoid collisions with standard Kotlin classes.

[2017-04-21 10:14] #59 closed

[2017-04-21 16:31] raincole commented on #47
I'm heading for ludum dare this weekend! If no one else does I can help review it next week.

[2017-04-21 16:34] czyzby commented on #47
It's OK. Good luck. ; )

[2017-04-22 11:54] czyzby opened #60 "FileHandleResolver factory methods"
Basic resolvers:
- [x] AbsoluteFileHandleResolver
- [x] ClasspathFileHandleResolver
- [x] ExternalFileHandleResolver
- [x] InternalFileHandleResolver
- [x] LocalFileHandleResolver

Composite resolvers:
- [x] PrefixFileHandleResolver
- [x] ResolutionFileResolver

---

There should be an easy way of converting `FileType` instances to their equivalent file resolvers and wrapping existing resolvers wi

[2017-04-22 12:02] czyzby opened #61 "Component operator methods for entries of LibGDX maps"
- [x] ObjectMap
- [x] LongMap
- [x] ObjectIntMap
- [x] IdentityMap
- [x] IntMap
- [x] IntIntMap
- [x] IntFloatMap

---

With `component` extension methods, existing LibGDX entry (key-value) classes will be possible to destruct into `key` and `value` components.

[2017-04-22 12:24] #61 closed

[2017-04-22 14:45] czyzby commented on #47
@kotcrab Thanks for the #57 code review. There's already a _lot_ of changes since the last version, so I'm going to release 1.9.6-b2 now and move KTX to the new repository. Coroutines-based asset loader is postponed to the next release.

[2017-04-22 14:45] #47 closed

[2017-04-22 15:33] #53 closed

[2017-04-22 16:06] #50 closed

[2017-04-22 16:17] czyzby commented on #58
Just giving you a heads up: `master` branch is basically "frozen" from now on and updated only on releases. Create new pull requests to the `develop` branch.

[2017-04-22 21:38] #42 closed

[2017-04-23 10:03] #60 closed

[2017-04-25 20:51] czyzby opened #63 "Update to Kotlin 1.1.2."

[2017-04-25 21:20] #63 closed

[2017-05-07 20:05] czyzby commented on #41
`AssetStorage` - lightweight coroutines-based alternative to `AssetManager` is already available in the snapshot release and on the `develop` branch. @kotcrab @raincole @sreich Thoughts?

[2017-05-07 20:05] #41 closed

[2017-05-08 19:32] czyzby commented on #43
We've included Mockito 2 with Kotlin utilities and KotlinTest (mostly used for its assertions). I've improved readability of tests in most modules: replaced `camelCaseMethodName` with human-readable Kotlin backticks method names, removed unnecessary assertions, visually separated preparation, invocation and testing phases (_given, when, then_) and removed some unnecessary comments. I'm satisfied w

[2017-05-08 19:32] #43 closed

[2017-05-08 19:51] czyzby commented on #52
@Jkly I'm sorry, but I just don't like the approach of wrappers of the original Box2D API. Not only you have to maintain and test the existing properties, but also you don't immediately support new ones added in LibGDX. (Well, not that it happens very often, but still.) I prefer to add extension methods and some inlined building utilities to existing Box2D classes. This is the API I'm aiming for:

[2017-05-08 21:21] Jkly commented on #52
Sure, no problem - I agree with the problem of wrapping the API, it's just sufficed for what I've needed so far. I'll definitely be interested in whatever you come up with  😄

[2017-05-09 00:46] czyzby opened #65 "Box2D API extensions"
- [x] `Joint` building utilities.
- [x] Callbacks API: ability to access built `Body` and `Fixture` instances from within building blocks through callbacks invoked after `World.createBody`/`Body.createFixture`.

---

#52

[2017-05-09 00:48] czyzby commented on #52
Done. I've implemented the initial set of Box2D utilities - I believe it covers most of `gdx-box2d-kotlin` features. [You can find them on the `develop` branch.](https://github.com/libktx/ktx/tree/develop/box2d) I'd appreciate it if you checked it out. You can also post new utilities suggestions at #65.

[2017-05-09 10:59] raincole commented on #41
Looks neat. Some thoughts:

* It doesn't handle reference counting. If this is intentional, there should be a warning in docs otherwise it's bound to surprise some users. But I suggest we add it later, because(at least for me) reference counting is a very useful feature.
* Also I'm against `AssetManagerWrapper`. It's hard to ensure that `AssetStorage` has the same behavior as `AssetManager` does.

[2017-05-09 11:13] czyzby commented on #41
Nope. It just loads dependencies recursively, it doesn't maintain any kind of dependencies graph. That's the beauty of it - comparing the implementation to the `AssetManager`, it's dead simple and easy to follow.

Might I ask what do you use references counts for? I can imagine it might be pretty useful for debugging, but are there any other practical uses?

Believe me, I'm also against this appro

[2017-05-09 11:21] czyzby opened #66 "JSON loading methods in AssetStorage"
* [x] Add `loadJson` method with reified generic type that allows to load and deserialize JSON file asynchronously.
* [x] Add `loadJsonCollection` method to support loading collections of objects with types known prior to deserialization.

---

#41

[2017-05-09 11:22] czyzby commented on #41
See #66, JSON loading will be supported in `1.9.6-b3`.

[2017-05-09 11:49] raincole commented on #41
In my particular case, I have a JSON like this:

[code]

I load assets that used by stage2 while the player is playing stage1. And I release assets that used stage1 when the player finishes stage1. Without reference counting, it will dispose of `bar.wav` prematurely.

Another use case is that I have two custom shaders that use texture as their "constants"(the alpha values of the glowing edge). I p

[2017-05-09 11:56] raincole opened #68 "Use gradle wrapper"
Do you think it's a good idea? To ensure everyone uses the same version of Gradle.

[2017-05-09 12:02] czyzby commented on #68
It's the advised approach, although personally I usually end up using the latest Gradle installed locally. Keeping Gradle up to date is a bit of extra maintenance, but I do like the idea of reproducible builds and no Gradle-related Travis problems. Do you want to include the wrapper or should I look into it?

[2017-05-09 13:27] raincole commented on #68
I'll take that then

[2017-05-09 13:34] czyzby commented on #68
Thanks. Use the latest Gradle version.

[2017-05-09 14:01] czyzby commented on #41
Right. When you dispose of a `TextureAtlas`, you expect all of its `Texture` instances to be disposed. You're right, this is an issue that `AssetStorage` has to address.

Not really, as all JSON data objects would have to extend the same class or set the loader to multiple classes in order to make it work with the current API.

[2017-05-09 14:04] czyzby opened #69 "References counting and dependencies management in AssetStorage"
- [x] Store collection of dependencies' paths of each asset.
- [x] Count references to each asset. User action (explicit loading of an asset) should increase its reference count by 1.
- [x] Recursively dispose of assets' dependencies if their reference count reaches 0.
- [x] Improve multi-coroutine scheduling of asset loading.

---

Currently `AssetStorage` is not aware of assets' dependencies, wh

[2017-05-09 14:14] czyzby commented on #41
#69

[2017-05-10 06:58] #66 closed

[2017-05-10 14:48] Jkly commented on #52
@czyzby It looks good from what I've looked at so far. The better coverage of the shape types is great and not having to maintain duplicate properties will definitely make maintenance much easier.

Just a couple of things from a quick look:
* It's possible to set the shape again from the fixture closure. e.g.
[code]
* It might be worth creating a `FixtureDefinition` like you did with `BodyDef` to

[2017-05-10 15:20] czyzby commented on #52
Manually modifying `shape` field is a misuse of the API, but I can see why you'd consider it a problem. `FixtureDef` defines a `shape` _field_ rather than getter and setter pair than you can override. I don't think you can modify field access modifier, and adding a `shape` Kotlin property just makes the API unusable (no quickfix suggestions).

[code]

If you can think of a way of hiding the field

[2017-05-10 16:19] Jkly commented on #52
I think I see being able to modify `FixtureDef.shape` more of an issue for providing a safe API, but actually isn't a show-stopper for me.

One minor thing - for `circle()`, I think it's more useful to be able to pass the offset as a `Vector2` rather than separate `x`, `y` params in case the API user has one instantiated already.

[2017-05-10 16:43] Jkly commented on #52
Also, it'll be useful to have this extension function:
`fun FixtureDef.filter(filter: Filter.() -> Unit)`

so you could do (would also be less maintenance):
[code]

[2017-05-10 16:58] Jkly commented on #52
This worked for me, in terms of hiding `FixtureDef.shape`:
[code]

[2017-05-10 17:16] czyzby commented on #52
I think I originally went for separate `x` and `y` primitives to create less garbage (as it seems the LibGDX way of doing things), but `circle.position.set(x, y)` was ignored - it makes no JNI call and does not actually change the fixture offset. Since now the method internally creates a new `Vector2` either way, it makes sense to expose it as a parameter.

Makes sense. I'll replace the 3-argument

[2017-05-10 17:24] czyzby commented on #52
There's one mayor issue with callbacks: even when inlined, compiler won't allow you to assign vals there. Building an immutable Box2D entity with all necessary references should be trivial and free of `lateinit`. I think `Body` extensions will address that:

[code]

[2017-05-10 17:49] Jkly commented on #52
I see your point now. I think it's unlikely users will try setting `FixtureDef.shape` again, so not hiding it is fine.

The callbacks have been useful in some of my game code where I have this pattern:
[code]
The alternative you suggest would still work for me though, but I think the resultant game code would be slightly less nice.

[2017-05-10 20:27] czyzby commented on #52
I can see why it's useful for you, but it does seem like a bit specific use case that would be used by barely any devs. I might be wrong though: if there are more feature requests - sure, don't see why not.

However, adding a `userObject` property to `FixtureDefinition` seems like a good idea - I rarely needed direct to access `Fixture` instances in my Box2D games beyond setting `userObject` and h

[2017-05-10 21:08] Jkly commented on #52
Yep, that seems like a reasonable decision - having access to the userObject may cover off most of the common use cases anyway.

[2017-05-11 11:56] czyzby commented on #52
@Jkly I think I've addressed most of the issues. Can you take a look now?

[2017-05-11 12:20] Jkly commented on #52
With `edge()` it'll be useful to have the component `x`, `y` params because there's an underlying JNI call that takes those.

Generally it looks great - it feels like a superior DSL implementation to `gdx-box2d-kotlin`.

The only thing that would give me pause before switching over is that lack of access to instantiated Fixtures without calling another API (I need it for game-code to be able to di

[2017-05-11 12:29] czyzby commented on #52
You mean you want to replace `from` and `to` with 4 float parameters? Using `Vector2` for points seems more consistent with the rest of the API at this point.

Well, instead of this:

[code]

You can do this:

[code]

There's pretty much no performance penalty either way and both work similarly. I'd argue that code with callbacks would be less readable than simply creating required fixtures outsid

[2017-05-11 12:48] Jkly commented on #52
Yes, to avoid forcing the user to create new `Vector2` objects. Maybe an optional function overload?

I wasn't suggesting the mechanism to be callbacks, just that it would be nice if I could use the main DSL and still get access to the Fixtures (however that would be).

All in all though, it looks good. And the benefits of focussing efforts on a single DSL in the community will probably outweigh t

[2017-05-11 12:54] czyzby commented on #52
Makes sense, I'll add overloads similarly to how `chain` and `loop` are handled.

[2017-05-11 13:09] czyzby commented on #52
@Jkly Can I close the issue now or is there anything else you'd change? Thanks for your review.

I can think of one way to address your issue that adding yet another argument to existing builder methods - adding `onCreate` callbacks to `FixtureDefinition` and `BodyDefinition`.

[code]

If you think it makes sense and would solve your problem, I have nothing against such callbacks API.

[2017-05-11 13:29] Jkly commented on #52
The `onCreate()` idea would work for my use-case. I think it's worth adding for completeness, as it'll cover off all the use-cases I've come across so far.

Either way, I'm happy if you want to close the issue - the DSL is looking great!

[2017-05-11 13:30] czyzby commented on #52
Great. This issue already got pretty big, so I'll cover the callbacks API in #65. Thanks.

[2017-05-11 13:30] #52 closed

[2017-05-13 08:18] czyzby commented on #69
@raincole I believe the reference counting issues are now resolved. You can extract reference counts and dependencies lists from the `AssetStorage`. Upon asset unloading, all of its dependencies' reference counts are decremented recursively - if a dependency reaches 0 references, it is unloaded. Can you review the changes?

[2017-05-13 10:11] czyzby commented on #69
Yes, there's a warning about loading the same asset twice at the same time. The root of the issue is not the amount of threads used by the executor, but they asynchronous nature of assets loading itself. To be fair, both `AssetStorage` and `AssetManager` would throw a runtime exception in such case.

However, unless the same asset is scheduled for loading at the _same frame_ in two separate corout

[2017-05-13 12:13] czyzby commented on #69
@raincole I believe I've nailed it, sir. If an asset is already scheduled for loading by another coroutine, your coroutine is suspended and waits for the other to finish loading this particular asset. Then it resumes with its own loading. This means you can `load` and `unload` the same asset on any amount of parallel coroutines launched at the same time and it will not break. (Well, as long as you

[2017-05-13 12:51] raincole commented on #69
You're right, there is no race condition on `referenceCounts`. I've confounded `ktxAsync` with `KtxAsync.asynchronous`. The current implementation looks great.

One nitpicking on doc:

It's quite misleading? `AssetManager` actually can only load the topmost task in the stack, so it can't actually load the same asset multiple times at the same time. If one wants to shoot its own foot, he needs to u

[2017-05-13 12:57] czyzby commented on #69
You're right, I've been reading `AssetManager` sources lately and I was pretty sure I've seen an exception with `"Asset is already loaded (...)"` message, but that must have been thrown only if the asset class is incompatible. I'll update the documentation and remove the `Loading same asset multiple times` point.

[2017-05-13 13:10] czyzby commented on #69
Tests were a pain to write, but I believe `AssetStorage` is fully usable at this moment. Thanks for the review.

@raincole If you don't mind using the snapshot releases and doing a little bit of refactoring, I'd love to hear some feedback of using `AssetStorage` in an actual application before the next release. I think I've finished everything I wanted for `1.9.6-b3` (maybe except #65 if it's not

[2017-05-13 13:46] czyzby commented on #69
@raincole There. Now it should count references consistently with `AssetManager`. Thanks again for the review - I'd release the next version with non-feature-complete `AssetStorage` if it weren't for your suggestions.

[2017-05-13 13:46] #69 closed

[2017-05-13 14:10] raincole commented on #69
Glad I helped 😀
I don't think I'll have time to refactor my code this week though. (Plus it's hardly an actual application, but a bunch skeleton code waiting for lazy me to work on...)

[2017-05-14 20:41] czyzby commented on #65
@Jkly I've implemented the callbacks API, as well as `Joint` factory methods. I'm planning on releasing `1.9.6-b3` version today and I'd appreciate it if you tried to refactor at least some parts of your Box2D application to use the new `ktx-box2d` module. Additional feedback would be great at this point. Again, thanks for your review of this library.

[2017-05-14 20:41] #65 closed

[2017-05-14 21:43] czyzby commented on #56
@Jkly @raincole Thanks for your feedback on `ktx-box2d` and `ktx-async`.

[2017-05-14 21:43] #56 closed

[2017-05-14 21:47] czyzby commented on #19
While the library was aimed at LibGDX users that want to improve their development experience with Kotlin, one could certainly start with **KTX** and Kotlin altogether. The documentation is extensive (I hope), but it does require prior LibGDX knowledge - it lacks simple game examples that could take you through the beginning. This should be our first priority right now.

[2017-05-15 00:29] Jkly commented on #65
@czyzby I've managed to port over to `ktx-box2d` with no issues - I've found equivalents for everything I used to do in `gdx-box2d-kotlin`, and I like the `onCreate` callback style as the intent is clearer and reads nicely. The module looks good from my point of view 👍

[2017-05-15 07:06] czyzby opened #71 "Kotlin equivalents to LibGDX Game and Screen"
- [x] `KtxScreen`, equivalent to `Screen`.
  - Implement `Disposable`.
- [x] `KtxGame`, equivalent to `Game` with more flexible API.
  - Provide more callbacks, so the users can fully control screen transitions.
  - Do not lock into `KtxScreen` - use generics to allow the users to use a custom `KtxScreen` extension as the base class for all views.
  - Maintain `Class, KtxScreen` map that allows to

[2017-05-16 14:07] czyzby opened #72 "Dependency injection context improvements"
- [x] Make `Context` implement `Disposable`. `dispose` method should dispose of all registered `Disposable` singletons and providers. Singletons have to be wrapped with disposable providers in order to implement this.
- [x] Add provider removal method that allows to remove binded singletons and providers.
- [x] Make `getProvider`, `setProvider` and `clear` methods open for more flexibility when mo

[2017-05-16 14:55] #72 closed

[2017-05-16 15:21] czyzby opened #73 "Release 1.9.6"
- [ ] A complete tutorial of using KTX to create a simple game. #19
- [ ] Add KTX equivalent to LibGDX `Game`. #71
- [ ] Remove previous beta versions migration guides from `README` files of `ktx-scene2d` and `ktx-vis`.

[2017-05-16 15:23] czyzby commented on #58
@raincole Any updates on this? If you already started on your branch, I can help you out. It would be great to list the extension methods that you'd like to include in each collection.

[2017-05-16 17:45] raincole commented on #58
Well I haven't even started. Just too busy with my day job. I plan to start it this weekend tho.

[2017-05-16 17:57] czyzby commented on #58
It's OK, take your time.

[2017-05-16 22:44] #71 closed

[2017-05-16 22:59] #68 closed

[2017-05-16 22:59] czyzby commented on #68
@raincole I took the task, since it might be pretty useful for contributors and was pretty much trivial to do - I hope you're OK.

[2017-05-17 04:08] raincole commented on #68
Surely!

[2017-05-21 22:08] czyzby opened #75 "PooledList must implement equals and hashCode"

[2017-05-22 06:15] czyzby commented on #58
Thanks. Snapshot with your changes is already uploaded.

[2017-05-22 06:15] #58 closed

[2017-05-22 06:38] czyzby opened #76 "Update to Kotlin 1.1.2-4"

[2017-05-22 07:13] #75 closed

[2017-05-22 07:17] czyzby commented on #76
This Kotlin release feels somehow buggy. `suspendCoroutine` usage (that works in `1.1.2-3`) threw NPE at runtime for no apparent reason. IDE reports errors on missing _stdlib_ methods like `onEach`. I think we're going to wait for the `1.1.3` release.

[2017-05-22 07:17] #76 closed

[2017-06-01 19:12] czyzby opened #77 "Release 1.9.6-b4"
- [x] Update `CHANGELOG.md`.
- [x] Upload to Maven Central.
- [x] Add release in repository.

[2017-06-01 19:48] #77 closed

[2017-06-01 19:49] czyzby commented on #58
Just wanted to say that your utilities are already uploaded in the `1.9.6-b4` release.

[2017-06-04 17:17] Jkly commented on #23
@czyby I have some extension functions and a builder DSL for Ashley entites that I'd like to open-source - is it something that you'd be interested in if I create a PR?

[2017-06-04 19:21] czyzby commented on #23
@Jkly Sure, go ahead. Make sure to use `develop` branch and add some documentation (`README`, `CHANGELOG`, code docs of public API).

[2017-06-04 19:49] Jkly commented on #23
Thanks @czyzby, I'll check out the contribution docs too. I normally use Spek for unit tests, but should I stick to Junit here?

[2017-06-04 19:57] czyzby commented on #23
Well, it's a new module and it's not like forcing some third-party library on the KTX users. If Spek is fully compatible with IntelliJ and Gradle, I don't see why you would have to use JUnit instead. I wanted to look into Spek for quite some time, seems like a good opportunity for that.

[2017-06-06 17:55] czyzby commented on #23
@Jkly Thanks for the implementation of `ktx-ashley` - much appreciated. Can you go through my latest commits and see if it's OK? I'm going to close this issue if you think the module is ready.

[2017-06-06 18:01] Jkly commented on #23
@czyzby The changes look good, thanks!

[2017-06-06 18:02] czyzby commented on #23
The `ktx-ashley` module should already be available as a snapshot release (`1.9.6-SNAPSHOT`). Thanks again.

[2017-06-06 18:02] #23 closed

[2017-06-06 18:56] czyzby opened #80 "Add the possibility to add event listeners with only critical lambda parameters"
- [x] Rename existing event listener factory methods - use `Event` suffix.
- [x] Add equivalent event listener factory methods
- [x] Document API change.

---

Even the most trivial listeners usually need at least 2 lambda parameters (event, actor), which leads to some inconveniences like `onChange { _, _ -> }` calls. The need to access to the raw event is relatively rare.

[2017-06-06 19:59] #80 closed

[2017-06-08 03:58] molikto opened #81 "Assignment operators in math library"
Great library!

But imho the operator overload should use the plusAssign etc. not plus

https://kotlinlang.org/docs/reference/operator-overloading.html#assignments

Then create new operators `plus` etc. that will create a new vector each time.

What's your opinion?

LibGDX use mutable vector for performance reasons, but + doesn't behave expected for functional minded programmers

[2017-06-08 05:03] molikto commented on #81
Nevermind, just noticed that Kotlin cannot override both `plus` and `plusAssign`

[2017-06-08 06:13] czyzby commented on #81
Yeah, when you override `+`, you get `+=` for free. I don't think these two should have drastically different implementation, and - with KTX being just a wrapper over LibGDX - we stick to LibGDX way of doing things. Even if it means mutability. See #29.

[2017-06-08 06:13] #81 closed

[2017-06-13 14:47] amitkot opened #82 "ktx-async crashes with NoSuchMethodError when using 0.16 coroutines version"
I'm ktx-async in version 1.9.6-b4 in a game and it crashes with the following exception:

[code]

Code:
[code]

My Game class contains:
[code]

And my build.gradle contains:
[code]

[2017-06-13 14:53] czyzby commented on #82
Which Kotlin version are you using? I've noticed that `1.1.2-4` is somewhat buggy, have you tried using `1.1.2-3`?

[2017-06-13 14:55] amitkot commented on #82
@czyzby I'm actually using ```1.1.2-3```.

[2017-06-13 15:02] czyzby commented on #82
It's the coroutines version. `ktx-async` was implemented using `0.15`, not `0.16`. It seems that the API has changed since then. I'll address the issue - please use `kotlinx-coroutines-core:0.15` for now.

[2017-06-13 17:34] czyzby commented on #82
It seems that `0.15` and `0.16` are incompatible, after changing the coroutines library version I can no longer reproduce the issue. Try using `1.9.6-SNAPSHOT` version for now, I'll release `1.9.6-b5` with the "fix" soon.

[2017-06-13 17:34] #82 closed

[2017-06-13 17:43] czyzby opened #83 "Release 1.9.6-b5"
- [x] Upload to Maven Central.
- [x] Add GitHub release.
- [x] Update to Kotlin 1.1.2-5.

---

Since a new module (`ktx-ashley`) was added, there were some breaking changes and `0.15` coroutines usage was causing issues, releasing another beta version might be a good idea.

[2017-06-13 19:53] #83 closed

[2017-06-13 19:54] czyzby commented on #82
@amitkot `1.9.6-b5` was released. You should be able to use `0.16` without any problems.

[2017-06-14 06:47] amitkot commented on #82
👍
Thanks!

[2017-06-15 09:52] czyzby opened #86 "Update to Gradle 4.0"
[Gradle 4.0](https://docs.gradle.org/4.0/release-notes.html) was released, bringing significant performance improvements.

[2017-06-15 10:02] czyzby commented on #86
`ktx-ashley` outputs a single warning due to JUnit platform usage. See https://github.com/junit-team/junit5/issues/865. Updating the JUnit plugin to the next (currently unreleased) version should fix the issue.

[2017-06-15 23:12] czyzby commented on #86
Successfully updated to Gradle 4.0. The issue will be open as long as the warning appears in the `ktx-ashley` module (see previous comment)

[2017-06-15 23:19] czyzby opened #87 "Update formatter"
- [x] Add consistent Gradle files formatting.
- [x] Remove subsequent empty lines in Kotlin files.

[2017-06-15 23:24] #87 closed

[2017-06-21 22:50] toxa-ak88 opened #88 "TextureAtlass async loading issue"
- [ ] Convert `TextAssetLoader` to `AsynchronousAssetLoader`.
- [ ] Handle `SynchronousAssetLoader` instances on the main rendering thread.

---

I get an exception during **TextureAtlas** async loading:

Here is the code to reproduce it:
[code]
please note that Texture loaded correctly, but TextureAtlas crushes the app.

When I use **AssetManager** both loaded well.
It reproduced on

I will be pl

[2017-06-21 23:17] czyzby commented on #88
OK, I know what's the issue. `AssetManager` code was highly convoluted and when I saw some kind of scheduling tasks, I assumed that `SynchronousLoaders` are also handled by a separate thread, but it seems that the loading tasks are actually executed on the main thread. The unit tests have not revealed this, as the OpenGL context is mocked during testing. That's an easy fix, I'll look into it soon

[2017-06-21 23:42] czyzby commented on #88
Yeah, I was able to reproduce the issue before the changes and it seems to be fixed after the last 2 commits. Snapshot is being released as we speak - as a quick fix, you can use `1.9.6-SNAPSHOT` version for now. This is a pretty serious issue, so I'm going to upload the next beta release soon.

[2017-06-21 23:42] #88 closed

[2017-06-21 23:48] czyzby opened #89 "Release 1.9.6-b6"
- [x] Upload to Maven Central.
- [x] Add GitHub release.

---

The next beta release brings pretty significant changes in `ktx-ashley` module (#85), as well as an important fix to the `ktx-async` asset loading mechanism (#88).

[2017-06-21 23:52] toxa-ak88 commented on #88
Great. thanks. You absolutely smashed it.

[2017-06-21 23:59] czyzby commented on #88
It's a bit embarrassing, really, cause I've tested `AssetStorage` in actual applications, but it seems I've never used atlases then. `AssetManager` was a hell to rewrite (or should I say - a _callback hell_) using coroutines. Should have tested it more thoroughly.

Anyway, I've uploaded `1.9.6-b6` to Maven Central - it should be already available.

[2017-06-22 00:06] #89 closed

[2017-06-22 08:07] toxa-ak88 commented on #88
Great job.

[2017-06-23 19:34] czyzby opened #91 "Update to Kotlin 1.1.3"
[More info](https://blog.jetbrains.com/kotlin/2017/06/kotlin-1-1-3-is-out/).

[2017-06-25 19:14] #91 closed

[2017-06-26 09:55] amitkot opened #92 "Setting a default Skin"
Using 1.9.6-b6, I've been trying to set a default skin for my game, and I'm currently unclear as to what is the way to do it.

I followed the documentation and created a simple skin:
[code]

But then when I create a TextButton:
[code]

I get an error that there is no `default` skin:
[code]

When saving the skin as a variable and passing it to the button, it works fine.

[2017-06-26 10:03] czyzby commented on #92
See the [Scene2D documentation](https://github.com/libktx/ktx/tree/master/scene2d). It's the first code snippet in the examples section. You have to set the `Scene2DSkin.defaultSkin` first in order to use methods without passing your skin explicitly.

[code]

[2017-06-26 11:52] amitkot opened #93 "Creating a new Table with expanded cells"
I'm creating a Table with expanded cells. I wrote it without ktx:
[code]

Trying to use ktx for it, I could not access the cells that were created, to call ```expand()``` on.

Any ideas?

By the way, thanks for a great library!

[2017-06-26 11:58] czyzby commented on #93
Check the [Scene2D examples section](https://github.com/libktx/ktx/tree/master/scene2d#usage-examples). You can access the table cells in two ways:

[code]

[2017-06-26 13:20] amitkot commented on #92
I think I got the wrong impressing while reading the [Style](https://github.com/libktx/ktx/tree/master/style) docs that calling ```skin {}``` sets the default one, but I understand it better now.

Thanks!

[2017-06-26 13:20] #92 closed

[2017-06-26 13:23] amitkot commented on #93
I missed it in the docs. Thanks!

[2017-06-26 13:23] #93 closed

[2017-06-26 14:04] czyzby commented on #92
`skin` method is from a separate module and it's basically a `Skin` factory method, so you can initiate multiple `Skin` instances in your application.

[2017-06-27 08:36] amitkot commented on #92
Thanks!
I'm writing my first game using libGDX so there is quite a lot to learn.
So far KTX has been very helpful to me to thanks for all the hard work!

BTW, is there a good open source reference project you would suggest I study at to get a good idea of the the best practices?

[2017-06-27 09:28] czyzby commented on #92
Best practices of LibGDX in general or just KTX? There are a few open-sourced KTX projects listed on [the official website](https://libktx.github.io/), but most of them are quickly hacked game jam projects that _just work_ (TM). I suggest looking into existing Java [LibGDX tutorials](https://github.com/jelhouss/libgdx_suit/) and gradually converting your code to Kotlin.

[2017-06-27 18:58] czyzby opened #94 "Default functional parameters in inlined builder methods"
- [x] Scene2D builders.
- [x] Scene2D style builders (`ktx-style`, `ktx-vis-style`).
- [x] Box2D DSL.
- [x] Ashley DSL.

---

[Kotlin 1.2](https://blog.jetbrains.com/kotlin/2017/06/early-access-program-for-kotlin-1-2-has-been-started/) brings inline functions with optional functional parameters. Currently `ktx-scene2d` defines two factory methods for each widget: one with and one without the build

[2017-07-09 09:39] amitkot opened #95 "Consider Providing an option for variable frame rate in KtxGame"
I'm developing a game for Android.
In my game I have a wheel that rotates with an adjustable speed.
When switching to Use ```KtxGame``` as my game's base class, the wheel actor started stuttering ([video](https://drive.google.com/open?id=0B5mXjA1yTx25UUhSNVZRY2t5a1U)).

After disabling the fixed step mechanism the rotation is smooth again ([video](https://drive.google.com/open?id=0B5mXjA1yTx25U1RQ

[2017-07-09 17:47] czyzby commented on #95
Can you reproduce the issue on desktop - preferably using a different frame rate or rendering more sprites, so the effect is visible? It's entirely possible that Android reports frame rate differently and already implements some kind of smoothing.

[2017-07-10 07:29] amitkot commented on #95
It happens on the desktop as well.
I created an [example project](https://github.com/amitkot/ktx-fixed-time-step) to demonstrate this issue.

[2017-08-06 12:21] czyzby opened #97 "Update Kotlin version to 1.1.3-2"

[2017-08-06 14:05] OsipXD commented on #95
I have same problem when i extend KotlinApplication class. Looks like this feature works wrong.
Video here: [with KTX](https://youtu.be/pimwpX9Qx_w), [without KTX](https://youtu.be/AjWcCo9zdFA)
[Source Code](https://github.com/OsipXD/NightMuseumCat)

[2017-08-06 14:07] #86 closed

[2017-08-06 14:08] czyzby commented on #95
Yeah, looks like it. I'll remove the fixed frame rate utilities.

[2017-08-06 14:18] OsipXD commented on #95
Maybe there are another way to do it?
I think, it causes only when real frame rate higher than fixed. Because when I tried to catch this bug in debug mode it didn't.
I also tried to change `while` to `if` the animation became a little smoother.

[2017-08-06 14:25] czyzby commented on #95
It seems to be causing more issues than it solves. I think the problems that it might solve are not common enough to justify such implementation of a core `ktx-app` class. I'll remove `KotlinApplication` and update implementation of `KtxGame`.

[2017-08-06 14:30] OsipXD commented on #95
Ok, thanks anyway

[2017-08-06 14:35] czyzby commented on #95
@amitkot @OsipXD I removed the fixed rendering time steps support in the latest commit. Can you use the `1.9.6-SNAPSHOT` version of `ktx-app` and see if the issue is fixed? If it's OK, I'll release the next beta version, since this is a breaking change and I've updated some major dependencies (including Kotlin stdlib/coroutines).

[2017-08-06 14:38] #97 closed

[2017-08-06 14:40] czyzby commented on #94
Note that this might also be useful for Box2D body/fixture builders.

[2017-08-06 14:42] OsipXD commented on #95
Yes, it's fixed!

[2017-08-06 14:54] czyzby commented on #95
Great, thanks. Expect `1.9.6-b7` release later today.

[2017-08-06 14:54] #95 closed

[2017-08-06 14:55] czyzby opened #98 "Release 1.9.6-b7"
- [x] Upload to Maven Central.
- [x] Add a GitHub release.
- [x] Merge `master` with `develop`.

[2017-08-06 15:37] #98 closed

[2017-08-15 10:34] czyzby opened #100 "Update to Kotlin 1.1.4"
Postponed until the issues with tests are resolved. It seems that KTX _can_ be used with Kotlin 1.1.4 in LibGDX projects, but we won't migrate the library until all tests are passing as expected.

[2017-08-15 11:04] czyzby commented on #100
Getting Mockito errors after the update:
[code]

 It seems that there are problem with the generated bytecode of the 1.1.4 compiler.
[code]

[2017-08-15 11:13] Jkly commented on #100
The Spek tests in ktx-ashley are not found in 1.1.4:
[code]
Looks related to this issue: https://github.com/JetBrains/spek/issues/248

[2017-08-15 13:07] czyzby commented on #100
See https://github.com/mockito/mockito/issues/1152.

[2017-08-16 11:54] neuralsim commented on #100
@czyzby - Great Work!!!!!! Your utilities are great and will save me a lot of time.
Only critique I have is that you don't seem to have noticed that you can do the following:
class MyInputHandler(): AnyBaseClassYouWant(), GestureDetector.GestureListener by GestureDetector.GestureAdapter(), InputProcessor by InputAdapter()

I use this construct extensively in my game. It allows the same thing that

[2017-08-16 12:20] czyzby commented on #100
@neuralsim I know about delegation, but it wouldn't work in this case. LibGDX `InputListener` is already a concrete class implementing `EventListener` and you _have_ to extend it to override each event handling method. `KtxInputListener` is just out there to improve the typing information - we explicitly mark some parameters as nullable, which is something that the original Java class lacks. Look

[2017-08-16 16:33] neuralsim commented on #100
I think you missed the fact that I delegated it to InputAdapter (not
InputListener), which is almost an exact duplicate of your KtxInputAdapter.
This isn't theoretical, I'm using it in my game. But also delegate to a
GestureAdapter in the same class, and I also get to derive from my own
"gameobject" class which provides a good deal of functionality I need for
every object in my game (without going

[2017-08-16 17:15] czyzby commented on #100
In previous comment, you mentioned `KtxInputListener` from `ktx-actors`, which is an extension of `InputListener` class and basically a part of Scene2D API. This is why I explained why it's a concrete class. You probably thought of `KtxInputAdapter` in the first place.

Anyway, both `KtxApplicationAdapter` and `KtxInputAdapter` are in fact _interfaces_, which means you can do this:

[code]

You st

[2017-08-16 17:27] czyzby commented on #100
@neuralsim All feedback is welcome, of course, but we're pretty much hijacking the Kotlin update issue here. Check out the examples I've posted - if you still think there's something wrong with KTX approach, please create a separate issue, so we can hopefully address that.

[2017-08-16 18:12] lucianferoiu opened #101 "The * operator should perform dot product of vectors"
Using the operator `*` to perform element-wise multiplication (e.g. for `Vector2` in #ktx-math) is a sin. There is a special circle in Hell (of length 3π) for those that blaspheme about Linear Algebra.

I propose instead an `infix fun` named _hadamard_ or _schur_ -- as penance for those who seek brevity at the cost of their souls.

[2017-08-16 18:29] czyzby commented on #101
Um.

Not that you're wrong, but this is pretty much the behavior that _I_ would expect as a simple ignorant app developer, who normally doesn't do a lot of math. I mean, in case of simple mobile games, you're far more likely to want to combine something like vector representing speed with sort of a speed bonus vector with simple multiplication, rather than perform any advanced calculations, right?

[2017-08-16 18:54] lucianferoiu commented on #101
Yeah, I know, it was mostly tongue-in-cheek. I understand the context. And it mainly stems from the fact of using _vector_ when we actually mean a tuple of numbers and we just want to streamline a set of operations to the whole tuple...

As a serious proposition now: maybe we should use `*=` (i.e. `timesAssign(..)`) for the Hadamard product, since as you say, it's **mostly** used as a self-updatin

[2017-08-16 19:21] czyzby commented on #101
`times` operator lets you use `*=` for free. Providing two different implementations for what's supposed to be the same operator might be really confusing, especially if you want to chain some operations on vectors. I'm glad you agree with the practical approach. If more people want the `dot` instead of `scl`, changing the implementation would be trivial - but for now let's just leave it in the ba

[2017-08-16 19:26] lucianferoiu commented on #101
Alrighty :)

Cheers!

[2017-08-17 12:15] czyzby commented on #100
[Workaround](https://github.com/JetBrains/spek/issues/248#issuecomment-323052332) for the Spek issue.

[2017-08-26 13:50] icefill opened #102 "Inline method name parallelTo in actions is to long"
I know it was libgdxs original method name,
But like sequence method is changed to 'then', I wish parallelTo change its name like 'with' or something like more less verborse

[2017-08-26 13:55] czyzby commented on #102
`then` is pretty much self-descriptive - invoke an action _after_ this one. I don't think `with` is a good alias in this case, and I honestly have no idea what we could use instead. `parallelTo` is not _that_ verbose, I think. If `with` works for you, add your custom extension method - look through the `ktx-actors` sources to see how it was implemented.

[2017-08-26 14:06] icefill commented on #102
Wow that's fast response but little bit sad.. Anyway,  I already saw your sources. Thank you for your wonderful work.

[2017-08-26 15:27] czyzby commented on #102
All suggestions are welcome of course, but we do care about the readability and consistency between modules. KTX function names should be obvious at first glance. If you can find a shorter, self-descriptive equivalent of `parallelTo`, we can add it as well - pull requests are welcome. For now, I'm closing the issue. Thanks.

[2017-08-26 15:27] #102 closed

[2017-08-29 02:37] ishitatsuyuki opened #103 "VisUI: support FileChooser"
While it's a desktop only widget, I think it worth to add support for a builder for it.

[2017-08-29 04:52] czyzby commented on #103
I think there were some issues with including desktop-only utilities in the core lib, but I honestly don't remember why we decided against it back then. @kotcrab Can `FileChooser` DSL cause any issues with Android/iOS builds?

[2017-08-29 07:36] kotcrab commented on #103
I don't remember either but I don't think so. I moved usage of all problematic APIs (`java.awt` and `sun.awt`)  behind reflection so should be fine on Android but I can't say anything about iOS.

It's also a question whether should we have builder method that works only on one platform with all the other cross-platform ones.

[2017-08-29 13:14] czyzby commented on #103
Now that you mention it, I think these were the original reasons:

- `FileChooser` is limited to a single platform, while all other KTX utilities work everywhere. It would be somewhat inconsistent.
- There's no need for an advanced GUI builder when it comes to `FileChooser`, since its API is pretty much "self-sufficient". A builder for FC would end up a fancy constructor, since you're unlikely to

[2017-08-29 13:28] ishitatsuyuki commented on #103
Yeah, I agree. It would end up as an apply style constructor, and I guess it's even trickier as the documentation suggests to reuse single widget, while others are mainly constructed for every demand.

Feel free to close this issue if this has too much concerns to implement.

[2017-08-29 13:41] czyzby commented on #103
I'd be willing to sacrifice a _little_ bit consistency for usability, but I just don't see how `FileChooser` would need access to GUI building code. I'm closing this issue for now, but feel free to reopen it if you find a use case for this utility.

[2017-08-29 13:41] #103 closed

[2017-08-30 11:41] czyzby commented on #100
The latest Spek and Kotlin versions no longer cause the issues. Most of our dependencies are now up to date.

[2017-08-30 11:41] #100 closed

[2017-09-15 08:12] czyzby commented on #18
https://guides.gradle.org/building-kotlin-jvm-libraries/

[2017-09-22 16:50] czyzby opened #104 "Update to Kotlin 1.1.50"

[2017-10-04 13:20] erez-avidan opened #105 "inline to create entity in ashley's engine throws exception"
when doing something like so:
[code]

you get this exception:
Caused by: java.lang.NoSuchMethodError: com.badlogic.ashley.core.Engine.createEntity()Lcom/badlogic/ashley/core/Entity;

probably because of commit 8f6c8e9
where you used to use method "createEntity" on PooledEngine but changed it to Engine which doesn't have this method

[2017-10-04 13:42] Jkly commented on #105
@erez-avidan What version of Ashley are you using? `Engine.createEntity` was introduced in Ashley 1.7.3 https://github.com/libgdx/ashley/releases/tag/ashley-1.7.3

[2017-10-04 13:44] erez-avidan commented on #105
true. my bad

[2017-10-04 13:44] #105 closed

[2017-10-12 20:44] JasonKDarby opened #106 "Is ktx/ashley meant to be used?"
I see ashley is not in the list of current KTX modules though version 1.7.3 is available.  Should I not be trying to use it for now?

Thanks!

[2017-10-12 20:47] czyzby commented on #106
You should definitely try using it if you're working with Ashley and KTX. It's just that the `README.md` file was not updated - thanks for bringing it up.

[2017-10-12 21:19] czyzby commented on #106
Fixed. Thanks.

[2017-10-12 21:19] #106 closed

[2017-11-02 09:44] czyzby opened #108 "Update to LibGDX 1.9.7."

[2017-11-02 18:03] czyzby commented on #108
Blocked by: https://github.com/libgdx/libgdx/issues/4960 - Box2D module tests fail. @Jkly Should we release next beta with the relevant Box2D tests ignored?

[2017-11-02 18:37] czyzby opened #109 "Improve collections module tests"
The test cases in the collections module were not refactored, and some of the tests are inconsistent with other KTX modules - for example, they use `camelCase` method names rather than `` `readable Kotlin syntax` ``. While this is not a pressing issue, tests should be consistent throughout the project.

[2017-11-02 18:54] #104 closed

[2017-11-02 18:57] czyzby opened #110 "Release KTX 1.9.7-b1."
- [x] GitHub release.
- [x] Maven Central upload.

[2017-11-02 18:58] czyzby commented on #108
I guess we'll release the next beta version without `ChainShape` support - anyone using LibGDX 1.9.7 might still appreciate the up-to-date KTX version.

[2017-11-02 18:58] #108 closed

[2017-11-02 19:00] Jkly commented on #108
Yes ignoring those tests seems reasonable.

[2017-11-02 19:28] #110 closed

[2017-11-02 19:31] czyzby opened #112 "Update ChainShape tests"
LibGDX 1.9.7 broke `ChainShape` implementation. https://github.com/libgdx/libgdx/issues/4940

KTX 1.9.7-b1 was released with ignored tests for `ChainShape` utilities API. Once Box2D issue is fixed, future KTX releases should be fully validated.

[2017-11-12 18:38] keturn opened #113 "improve ktx-assets integration with gdx-freetype"
As someone new to GDX and Kotlin, this one took me a while.

As the [libgdx wiki describes](https://github.com/libgdx/libgdx/wiki/Managing-your-assets#loading-a-ttf-using-the-assethandler), you need to set up FreetypeFontLoader on your AssetManager, since it doesn't register itself as a loader by default.

My transcription of that for ktx-assets looks like:

[code]

and then that asset manager may

[2017-11-28 16:37] czyzby opened #114 "Update to Kotlin 1.2"
Linked: #94

[2017-11-28 20:49] czyzby commented on #94
@Jkly `ktx-ashley` could also benefit from this feature, if I'm not mistaken. Can you take a look?

[2017-11-28 20:49] #114 closed

[2017-11-28 22:51] czyzby commented on #113
`io.github.libktx:ktx-freetype:1.9.7-SNAPSHOT` should be available shortly. Can you [check out the new module](https://github.com/libktx/ktx/tree/develop/freetype) and see if that's what you meant?

[2017-11-28 22:56] czyzby commented on #94
Inlining text tooltip factory methods [seems to cause compiler errors](https://github.com/libktx/ktx/commit/2f54ebafe31a5eb332c8452487b02510f3e19c64#diff-73905c72eb23c7cba79c23c4d1d41425R6).

[code]

[2017-11-28 23:13] czyzby commented on #94
[The compiler error is to be fixed in `1.2.10`.](https://youtrack.jetbrains.com/issue/KT-20821)

[2017-11-29 10:33] Jkly commented on #94
@czyzby I've created a PR to do this for ktx-ashley here https://github.com/libktx/ktx/pull/115

[2017-12-03 11:15] SohnyBohny opened #116 "Question: Does libkdx depend on Java libraries? (Javascript)"
Hey,

I have a question:
Is libkdx pure Kotlin or does it depend one some Java libraries?

I'm asking because of Kotlin's js support.

"When you choose the JavaScript target, any Kotlin code that is part of the project as well as the standard library that ships with Kotlin is transpiled to JavaScript. However, this excludes the JDK and any JVM or Java framework or library used. Any file that is no

[2017-12-03 11:29] czyzby commented on #116
It's KTX, not KDX. ;)

KTX itself is built around [LibGDX](https://libgdx.badlogicgames.com/), which is written in Java/C++. You will not be able to use Kotlin-to-JS because of the crucial LibGDX dependency.

However, LibGDX itself works in the browser. The official backend uses GWT, which is only able to compile Java _code_, but there are two open source projects (that I know of) that use tools w

[2017-12-03 11:29] #116 closed

[2017-12-03 11:32] SohnyBohny commented on #116
Okay - thank you :smiley:

[2017-12-03 20:30] keturn commented on #113
Okay, with that my class looks like this:

[code]

Which is certainly an improvement!

Some questions I'm left with:

1. `assetManager.load<BitmapFont>` returned a descriptor I could call `finishLoading()` on, but `loadFreeTypeFont` doesn't seem to return any such thing?
2. When I was reading Getting Started materials those few weeks ago, I got the strong impression that I'd want to define as many

[2017-12-03 20:50] czyzby commented on #113
Good point, I'll unify the API.

As for the initialization code: I guess it depends on your code style and project structure. I try to initialize `val`s as soon as possible and tend to avoid `init` blocks when it comes to most classes, but there are things like the GUI with Scene2D DSL which might as well be moved to the `init`. Some LibGDX APIs are not very Kotlin-friendly, like the `create` meth

[2017-12-17 16:16] czyzby opened #117 "Update to Kotlin 1.2.10"

[2017-12-17 16:17] czyzby opened #118 "Update to LibGDX 1.9.8"
Related: #112

[2017-12-17 16:37] czyzby commented on #94
Still getting the error in Kotlin 1.2.10.

[2017-12-17 17:36] czyzby opened #119 "Kotlin compiler error when trying to inline tooltip definition"
Inlining tooltip definition function [causes a Kotlin compiler error](https://github.com/libktx/ktx/issues/94#issuecomment-347692320). Since this is not a core function and is not expected to be called too often, the performance cost should be negligible - but it's still worth a fix once the compiler issue is dealt with.

Affected file: `ktx/scene2d/tooltip.kt`

[2017-12-17 17:37] #117 closed

[2017-12-17 17:37] #118 closed

[2017-12-17 17:37] #112 closed

[2017-12-17 17:39] czyzby commented on #94
Default functional parameters for inlined methods were added everywhere I could think of that seemed to make sense. I'm closing this issue for now, but feel free to reopen or create a separate ticket if any other modules could use some improvements.

[2017-12-17 17:39] #94 closed

[2017-12-17 17:40] czyzby opened #120 "Release KTX 1.9.8-b1"
- [x] Maven Central upload.
- [x] GitHub release.
- [x] Finish `ktx-freetype` module. #113
- [x] Update to latest stdlib and coroutines. #125

[2017-12-17 17:43] czyzby commented on #113
@keturn Have you tried using the latest snapshot with the API improvements?

I think the module is OK as it is, but I realized that `AssetStorage` (coroutines-based `AssetManager` alternative) could also use the same API improvements, so expect more updates.

[2018-01-14 19:12] rmaes4 opened #121 "Question about injection"
I'm a bit confused as to how this injection works. (Bear with me, this is a new concept for me). So say I create my context object in the main part of the application and then register some classes with it. If I want to access said variables from another class do I need to pass this context object via the constructor? Doesn't this defeat the whole purpose? I'm sure there is a better way. If someon

[2018-01-14 21:03] czyzby commented on #121
No, the goal is to keep all the initiation complexity in one place and simplify the process. If you want to create objects with DI at runtime, pass the providers (functional objects) to the appropriate constructor.

I know that some of the examples in the README might pass `Context` around, but this is just an example of its API usage. Normally you'd want to avoid using `Context` directly other th

[2018-01-14 21:07] rmaes4 commented on #121
All of the letters are a bit hard to follow but I think I understand the gist of it.

[2018-01-14 21:11] czyzby commented on #121
TL;DR: with `ktx-inject` you keep initiation code in one place and can focus on how the components interact with each other. You can refactor internal logic of other components and change their dependencies without breaking other classes, as long as all new components are initiated within the `Context`.

[2018-01-14 21:11] czyzby commented on #121
I can rename the pseudocode class names, if that helps. ;)

[2018-01-25 17:12] TomGrill opened #124 "Question: Mix of Class<out Type> and KClass<out Type>?"
Is there a certain reason when Class and when KClass is used? Should'nt it be KClass only in a kotlin project?

[2018-01-25 21:11] czyzby commented on #124
Yeah, I agree that KClasses should be used instead to simplify the API for our users. I might have just overlooked it at the time. If you don't mind refactoring the `ktx-inject` module, you can change most of the `Class` usages to `KClass` (except for [this map](https://github.com/libktx/ktx/blob/master/inject/src/main/kotlin/ktx/inject/inject.kt#L27)) - I actually thought about this immediately w

[2018-01-25 21:39] czyzby commented on #121
I'm going to close this issue for now, feel free to reopen or create another one if you still have any questions.

[2018-01-25 21:39] #121 closed

[2018-01-26 20:57] czyzby opened #125 "Update to Kotlin 1.2.21"
* [x] Update Kotlin stdlib.
* [x] Update Kotlin coroutines.

[2018-01-26 21:25] czyzby commented on #124
I've modified methods that were considered public API and consumed `Class` instances instead of `KClass`. The `ktx-inject` API should be less verbose now.

[2018-01-26 21:25] #124 closed

[2018-01-26 21:25] #125 closed

[2018-01-26 21:29] #119 closed

[2018-01-26 22:37] czyzby commented on #113
I think I'm done with both `ktx-freetype` (for LibGDX `AssetManager`) and `ktx-freetype-async` (for our `AssetStorage` from `ktx-async`. Both modules should be available through snapshots as `1.9.8-SNAPSHOT` - since there have been quite a few changes and we still have not released `1.9.8` yet, I'd like to publish a release pretty soon. @keturn, @Jkly, would you mind checking out the FreeType util

[2018-01-27 12:20] czyzby commented on #113
I've created a few mock applications to test this out and it seems to work without issues on desktop, with both OTF/TTF files and `AssetManager`/`AssetStorage`. The only thing that could have been improved was font generator API, so I added a small Kotlin DSL for it. I'm closing this for now, feel free to reopen if you think the modules could still use some improvements or more utilities.

[2018-01-27 12:20] #113 closed

[2018-01-27 13:08] #120 closed

[2018-02-05 20:18] pakoito opened #127 "You just got googl'd"
https://android-developers.googleblog.com/2018/02/introducing-android-ktx-even-sweeter.html

[2018-02-05 20:30] czyzby commented on #127
There was an unusual surge in GitHub stars lately, so when I saw that link, I honestly thought they featured my library in an official article. Then came the "wait, these examples are not _my_ KTX" moment. Oh, well. Should we rename the library?

[2018-02-05 20:31] czyzby commented on #127
@kotcrab @Jkly :)

[2018-02-05 20:37] JakeWharton commented on #127
Sorry! We discovered your project over the weekend and it was about 2 months too late to change the name of the Android libraries.

I don't think the surge was related since no one knew about "our" KTX up until 30m ago.

[2018-02-05 20:44] czyzby commented on #127
@JakeWharton I do have to admit that you've chosen a cool library name, though. :)

[2018-02-05 21:27] Jkly commented on #127
This is quite unfortunate. Perhaps we should start referring to this library as LibKTX to avoid the ambiguity?

[2018-02-05 21:54] czyzby commented on #127
@Jkly I like this approach - since `ktx` user/organization name was already taken and I went with `libktx` for consistency with `libgdx`, I think LibKTX pretty much became one of the library names. I actually saw someone using that name on Reddit, so it's honestly not that bad. Let's go with LibKTX until "why did you copy Google's library name" issues start appearing.

[2018-02-05 21:57] Jkly commented on #127
Haha, there will always be the git log to prove which one came first 😄

[2018-02-05 22:04] czyzby commented on #127
[These guys](https://www.khronos.org/opengles/sdk/tools/KTX/) were out there before us, and they even named their library "libktx". :smile:

I admit I should have done some research before choosing this name.

[2018-02-05 22:05] JakeWharton commented on #127
Hmmm I have Google-internal docs from September using the name! You'll probably win on commits as we had to wait for things like branding approval before the code was updated.

[2018-02-09 21:31] Tibi commented on #19
Just sayin', but I'm learning LibGDX and Kotlin... and I'm using bialjam17 as an example application.
So if I contract bad habits, I'll blame you ;-)

Seriously, yes the KTX doc is really good, but it would be awesome to have a "canonical" application that shows the state of the art way to do things with KTX.

[2018-02-09 22:18] czyzby commented on #19
@Tibi I'm fully aware of that, but I just don't have that much time for open source/gamedev lately. I wouldn't mind some contributions that I could just review (and potentially refactor) before making them official examples. Maintaining the project is one thing, but actively creating a decent tutorial + example code requires quite a bit of time.

As far as my game jams projects go, [bialjam17](htt

[2018-02-20 12:34] tneginareb opened #128 "Error after including KTX in Android project"
**java.lang.NoSuchMethodError: No static method getFont(Landroid/content/Context;ILandroid/util/TypedValue;ILandroid/widget/TextView;)**

After I implemented KTX in build.gradle, after build process, this error occurred.

[2018-02-20 13:01] czyzby commented on #128
1. Are you using KTX for Gradle build scripting or in your application?
1. Did that error occur right after including an extra dependency or did some KTX code triggered it?
1. Does your application work with pure LibGDX?

[2018-02-20 13:13] tneginareb commented on #128
Hey @czyzby , initially thank you for the quick response.
1. In my Application
2. An error occurred after including KTX, I didn't use any KTX code. I just add the dependency.
3. Nope
4. I didn't have chance to build the project initially.

my `build.gradle`:

[code]

[2018-02-20 13:13] tneginareb commented on #128
Hey @czyzby , initially thank you for the quick response.
1. In my Application
2. An error occurred after including KTX, I didn't use any KTX code. I just add the dependency.
3. Nope
4. I didn't have chance to build the project initially.

my `build.gradle`:

[code]

[2018-02-20 13:20] czyzby commented on #128
This is not our library. [You wanted to be here](https://github.com/android/android-ktx).

[2018-02-20 13:20] #128 closed

[2018-02-20 13:22] czyzby commented on #127
#128 :)

[2018-02-20 13:25] tneginareb commented on #128
@czyzby yes you're right. My mistake, sorry for that!

[2018-02-20 13:28] czyzby commented on #128
It's OK, don't worry - I expected such issues since Google released their library with a similar name. Bookmark us, and give LibKTX a try if you ever wanted to develop some 2D games, though. ;)

[2018-02-24 20:41] czyzby commented on #101
Dot product was added as `dot` infix function in #130.

[2018-02-24 20:41] #101 closed

[2018-02-24 20:42] czyzby commented on #81
Turns out you can override both, at least in `1.2`. Assignment operators now mutate vector/matrix instances, while regular binary operators create new instances for the result. See #130.

[2018-02-24 20:43] czyzby commented on #29
Assignment operators (`+=`, `-=`, `*=`, `/=`) now mutate vector/matrix instances, while regular binary operators (`+`, `-`, `*`, `/`) create new instances for the result. See #130.

[2018-03-07 20:46] czyzby opened #133 "Update to Kotlin 1.2.30"

[2018-03-07 22:22] #133 closed

[2018-03-07 22:23] czyzby opened #134 "Release KTX 1.9.8-b2"
- [x] GitHub release.
- [x] Maven Central upload.

[2018-03-07 22:49] #134 closed

[2018-03-08 01:38] czyzby opened #136 "Remove migration guides"
Most major API changes were introduced quite some time ago, and their migration guides are no longer needed in the README files. The goal of this task is to remove old migration guides from the documentation, so that new users do not have to go through these while learning about the libraries.

Remove the migration notes about:
- [x] Listeners API change in `ktx-actors`.
- [x] DSL markers usage in

[2018-03-09 08:30] elect86 commented on #3
Hi,

 [glm ](https://github.com/kotlin-graphics/glm) is quite mature now, may I add it to the list?

[2018-03-09 08:55] czyzby commented on #3
@elect86 Sure, feel free to make a pull request with changes to [math/README.md](https://github.com/libktx/ktx/blob/develop/math/README.md).

[2018-04-04 15:44] CreamyCookie opened #139 "Add "addChangeListener""
Thanks for the libraries. @czyzby :+1:

Here's a little addition I wrote to make it easier to write `ChangeListener` to button etc. events, since according to the Vis*Button these are recommended since they don't trigger the event when the button is disabled (contrary to ClickListener).

[code]

Then one can add a listener like this:

[code]

[2018-04-04 16:20] czyzby commented on #139
It's already there in `ktx-actors` under `onChange`. See [events.kt](https://github.com/libktx/ktx/blob/master/actors/src/main/kotlin/ktx/actors/events.kt#L17-L23). Thanks for the suggestion though, don't hesitate to create a pull request next time. :+1:

[2018-04-04 16:20] #139 closed

[2018-04-19 22:15] pakoito opened #140 "Send a session to KotlinConf"
I thought about sending a session about writing games with libgdx and libktx myself, and I ended up disregarding it. You should do it if you haven't already. The CFP closes in 14 hours, so hurry up :D

https://sessionize.com/kotlinconf

[2018-04-19 22:16] pakoito commented on #140
I also failed to find any way of contacting you on like twitter or something :P

[2018-04-20 06:02] czyzby commented on #140
Not sure if I'm good enough to present on a bigger conference yet - local meetups feel stressful enough, to be honest. :) Maybe next year. Anyway, gamedev is just a hobby for me - it would be much more interesting to hear a full-time game developer presentation on Kotlin in the industry.

I'm on Kotlin Slack. And I actively respond to issues in my projects. ;)

[2018-04-20 06:02] #140 closed

[2018-04-23 17:17] aouerfelli commented on #11
You might want to check [this](https://docs.travis-ci.com/user/deployment/pages/) out for Dokka publishing to gh-pages:
[code]

[2018-04-23 17:42] czyzby commented on #11
Thanks @aouerfelli, I'll look into.

[2018-04-23 17:46] czyzby opened #141 "Update to Kotlin 1.2.40"

[2018-04-24 06:25] czyzby commented on #18
These are my thoughts every time I try out Kotlin Gradle scripting. It might be fine for simple projects without many plugins, but I find Groovy configuration more concise and readable for more complex setups for now. About the publishing code - I think it could be greatly simplified even in the current version, but I just don't find it a big priority to refactor when there are actual KTX features

[2018-04-24 10:00] aouerfelli commented on #18
Yeah that's pretty much my opinion as well, thanks for sharing.

As for the publishing code, I couldn't find a better way due to [this] (
https://github.com/gradle/kotlin-dsl/issues/47). It's a pretty old issue,
but I don't think they have a better implementation yet.

On Tue, Apr 24, 2018, 02:25 MJ <notifications@github.com> wrote:

[2018-04-24 10:28] czyzby commented on #18
I'll go ahead and remove the label, since this issue has a very low priority. Thanks for your contribution, we'll definitely use that if we ever migrate to pure Kotlin Gradle scripts.

[2018-04-29 02:52] aouerfelli commented on #141
With Kotlin 1.2.40, we are now able to have `crossinline suspend` function parameters. So I believe that [this async function](https://github.com/libktx/ktx/blob/develop/async/src/main/kotlin/ktx/async/async.kt#L209) can now be inlined like so:
[code]

[2018-04-29 02:59] aouerfelli commented on #19
Are you thinking of something similar to [this](https://github.com/libgdx/libgdx/wiki/A-simple-game) but using KTX for the most part? I also agree that the documentation for each module is great and can be put in the wiki as-is.

[2018-04-29 10:43] czyzby commented on #19
@aouerfelli I wanted to avoid putting the documentation in the wiki instead of `README` files, as it's easy for the wiki to go out of sync. In case of any pull requests to the main repo, I can just bug people to update the `CHANGELOG` and all `README` files in the same request - GitHub wikis are separate repositories, so it wouldn't be that easy.

About the example project - I wanted to start with

[2018-04-29 10:55] czyzby commented on #141
@aouerfelli Getting an error after inlining:
[code]

[2018-04-29 11:17] #136 closed, assigned to czyzby

[2018-04-29 11:20] czyzby opened #142 "Inline suspend functions with lambdas in ktx-async"
Kotlin `1.2.40`introduced support for `crossinline suspend` lambda parameters, but as of `1.2.41`, it causes an error:

[code]

Look into this issue after the next Kotlin release.

See: #141.

[2018-04-29 13:23] czyzby opened #143 "Release KTX 1.9.8-b3"
- [x] Maven Center upload.
- [x] GitHub release.

---

Since a new module - `ktx-graphics` - was added, it might be a good time to release the next version.

[2018-05-26 17:03] Naliwe opened #144 "Multiple IteratingSystems based on different families behave strangely"
Hello!

I've been trying to use 2 different IteratingSystems based on two different families of components and as soon as I have the second system **just written in code, not even instantiated or anything**, my first system doesn't get called at all:

[code]

If I just comment out my EventSystem, the Graphic system picks up entities again. Is this by design ?

Thanks

[2018-05-26 17:08] Naliwe commented on #144
Hm, nevermind, didn't think of calling `get` during family creation. Works great now. Maybe good to know that breaks everything though :3

Sorry for the almost useless issue x)

[2018-05-26 17:27] czyzby commented on #144
It's OK. :) If you have any further issues with Ashley itself, it might be easier to get help on https://github.com/libgdx/ashley though - `ktx-ashley` it's only a thin utility wrapper over the library.

[2018-05-26 17:27] #144 closed

[2018-06-01 11:00] #143 closed

[2018-06-13 17:54] LostMekka commented on #142
I got excactly the same error in a multi module maven project. The issue arised when I refactored the modules: The inline function and the code that uses it are in separate modules now.

When this is built in IntelliJ, it just does one compilation (or incremental compilation) and everything is fine. But built with maven, every module is built separately and this is where the issue occurs.

(I don'

[2018-07-27 08:44] nukesz commented on #109
Created PR #147

[2018-07-27 14:39] czyzby commented on #109
Thanks @nukesz, that's a great contribution!

[2018-07-27 14:48] czyzby commented on #109
I think `vis` is the only module that might need some improvements as far as testing goes. Thanks again!

[2018-07-27 14:48] #109 closed

[2018-07-27 14:50] czyzby opened #148 "Update to Kotlin 1.2.51"

[2018-07-27 15:11] czyzby commented on #142
I think the bug was fixed in `1.2.51`.

[2018-07-27 17:18] czyzby opened #149 "Release KTX 1.9.8-b4"
- [x] Maven Center upload.
- [x] GitHub release.

---

Maintenance release with dependencies updates and some recent tests refactoring.

[2018-07-27 18:00] #149 closed

[2018-07-27 18:04] czyzby commented on #142
`ktxAsync` still fails to compile when inlined, so I'm leaving this open.

[2018-08-01 20:35] czyzby opened #151 "Update to Kotlin 1.2.61"

[2018-08-12 12:31] DavidPartouche commented on #14
@czyzby I would be happy to help with that task. The feature/ktx-tools branch is quite behind develop now, is it still the branch that should be used?

[2018-08-12 18:45] czyzby commented on #14
@DavidPartouche Feel free to fork the current `develop` branch. You can check the last 2 commints on the `feature/ktx-tools` branch if you need any help with adding a new Gradle module. Also, you might want to look into @sreich fork [here](https://github.com/sreich/ktx/tree/feature/ktx-tools). I have to admit I didn't go through his code, but it might still prove useful.

[2018-08-13 07:39] jcornaz opened #152 "Immutable vector / colors"
Hi,

Thank you very much for providing theses utilities for Kotlin :-)

I would like to propose to introduce some immutable classes for at least vector and colors. (could be called `KVector2` or `ImmutableVector2` for instance)

In order to allow easy usage with LibGDX they could either:
* inherit from their equivalent in LibG, deprecate all mutation method and throw if a mutation method is called

[2018-08-13 10:55] czyzby commented on #152
I think LibGDX sacrifices safety for conciseness and performance - the difference might not be noticeable on desktop, but it does somewhat matter on mobile.

That being said, immutable vectors and colors would be a great addition and might prevent some non-obvious bugs - but since there is no `Vector` or `Color` interface that you could just implement, the conversion code interacting with existing

[2018-08-13 11:10] jcornaz commented on #152
Yes, it does. However as you said it is less true on desktop. And I think it may even actually lead to worse performances, as it is dangerous to do share mutable vector data-structure among different threads.

This is a feature request. But I don't mind trying to implement it myself and propose a PR.

[2018-08-13 11:18] czyzby commented on #152
I'd be happy to review the PR, thanks.

[2018-08-13 12:34] jcornaz commented on #152
What would you think about the following design:

[code]

I'am only talking about design. Of course I'll make more operators, and I'll do it for Vector3 as well. Colors may come in a separate PR.

[2018-08-13 13:42] jcornaz commented on #152
I was not sure either. I like `KVectorN` except  it doesn't carry the immutability concept. However this may not be a problem as the mutable structure should have an explicit name, not the immutable one.
I'm fine with any naming here. I'll start with `KVectorN` and we'll chose the final naming when reviewing the PR.

I didn't meant to add everything in lazy properties. Only the expensive ones, lik

[2018-08-13 14:48] czyzby commented on #152
Each lazy property is an extra object created for each vector, regardless of whether you use that particular expensive method or not. Caching in this case might be a premature optimization of a problem that won't affect most use cases. Feel free to write benchmarks, but I think the memory cost is just not worth it - IMHO, vectors should be as close to value classes as JVM (currently) allows.

Eith

[2018-08-13 14:59] jcornaz commented on #152
Actually, does it make sense to have immutable vectors without having immutable matrix and quaternions?

I'm starting to think that adding everything would be too much. And maybe this feature request is too much against the concept: "make LibGDX as Kotlin-friendly as possible without turning the API upside down"

Although I'd love to have immutable matrix, vectors and quaternions.

[2018-08-13 15:08] czyzby commented on #152
Immutability is encouraged in Kotlin, as you've said. As long as using the immutable variants is optional and doesn't get in the way, I don't see why we wouldn't add them. I'd only suggest to use delegation for complex methods rather than try to reimplement every single Vector/Matrix operation. It's OK to create a mutable instance, perform the operation on it, and convert it into the immutable var

[2018-08-13 15:12] czyzby commented on #152
Start with just the vectors, though. I try to write tests for every feature, and I imagine the vector operations alone would require quite a bit of tests. It's also easier to thoroughly review smaller PRs.

[2018-08-14 07:48] jcornaz commented on #152
Should we provide operators overloads accepting LibGDX `VectorN` as arguments?

For instance on could do `val newImmutableVector = immutableVector + mutableVector`.

**PROS:**
 * Smoother integration with LibGDX
 * better performances when dealing with mutable vector as it is wouldn't be necessary to create an intermediate object.

**CONS:**
  * Add a lot of methods. And they should be tested.
  *

[2018-08-14 12:42] czyzby commented on #152
In times like these, I wish Kotlin had union/structural types.

I could see how that might be very convenient, I'd say we can stick to immutable vector operations and explicit conversions when interacting with mutable variants - at least for now. Unless you feel up to implementing the extra methods.

[2018-08-14 21:10] czyzby commented on #19
[Looks like someone made a tutorial.](http://www.reverie.fun/blog/libktx-platformer) :)

[2018-08-24 15:49] #151 closed

[2018-09-02 22:41] czyzby opened #153 "Investigate Kotlin contracts"
[Contracts](https://proandroiddev.com/kotlin-contracts-make-great-deals-with-the-compiler-f524e57f11c) might improve usability of DSL APIs. Possible improvements - ensuring that the compiler knows that lambdas in building DSLs are called once:

- [x] `ktx-ashley` entities and components configuration
- [x] `ktx-scene2d` actors
- [x] `ktx-style` actor styles
- [x] `ktx-box2d` bodies, fixtures and j

[2018-09-03 11:52] czyzby opened #154 "Rewrite async modules to non-experimental coroutines"
Experimental coroutine APIs are deprecated and yield errors in Kotlin 1.3.

[2018-09-08 14:18] abueide commented on #19
Is there any tutorial showing how exactly i'm supposed to use AssetStorage with ktx-async inside my game properly?

[2018-09-09 01:58] abueide commented on #19
@czyzby Sorry for the barrage of questions. Is it generally bad practice to load every asset on startup recursively? if so then what is the point of using AssetStorage? So the initial assets you load can load faster by using multiple threads? is this the number of threads your using to load the assets? asynchronousExecutorConcurrencyLevel = 1. If so how many threads should I allocate? Should i do

[2018-09-09 02:16] czyzby commented on #19
1. If you're 100% sure the assets can fit in memory, you can load all of them at once. Even if you load all assets immediately on startup, `AssetManager`/`AssetStorage` make it easier to pass them around, dispose of them, and so on. It's also much easier to refactor your app to load some assets on demand later if you use a manager rather than load each asset manually. About the threading model: af

[2018-09-09 02:30] abueide commented on #19
@czyzby Thank you, you answered my questions perfectly I appreciate it :)

[2018-09-09 08:04] czyzby commented on #19
@abueide Feel free to create new issues with more questions if anything else comes up. ;)

[2018-09-09 21:00] abueide opened #155 "Vis module doesn't compile against LibGDX 1.9.9-SNAPSHOT"
I had to remove it from settings.gradle to compile libktx

![image](https://user-images.githubusercontent.com/19354425/45268840-37ac3100-b438-11e8-9839-78c488ecdc4d.png)

Here are the test reports
[vis-test-results.zip](https://github.com/libktx/ktx/files/2364648/vis-test-results.zip)

[2018-09-14 15:25] czyzby opened #156 "Update to Kotlin 1.2.70"

[2018-09-20 10:01] Divelix opened #157 "Problem with inline function Engine.add in ktx-ashley"
I just started to exlore ktx, and stuck on Ashley module. When I add Entity to an Engine "traditional way" everything works fine:
[code]
But when I try to do the same in "ktx way" compiler throws an error:
[code]
Here is the error:

P.S. it complains on `engine.add` line

[2018-09-20 10:49] czyzby commented on #157
@Jkly

[2018-09-20 11:01] czyzby commented on #157
I cannot reproduce the issue and unit tests cover a similar case. Which Kotlin version are you using? Would you mind posting the component and `Engine` initiation code?

[2018-09-20 11:06] czyzby commented on #157
Just so you know, you can use `engine.entity` without the `add` block. `add` is very similar to Kotlin's `apply`. This should be an equivalent:

[code]

`ktx-ashley` also uses Ashley 1.7.3 - make sure your dependencies are compatible.

[2018-09-20 11:34] Divelix commented on #157
Here is the full code:

[code]
I use Ashley 1.7.3 and option with `engine.entity` throws same exception

[2018-09-20 11:45] Jkly commented on #157
@Divelix It's probably because createComponent is returning null because you don't have a no-arg constructor for `DrawableComponent` and `TransformComponent`.

The code for `createComponent` returns null if it can't create the component via reflection:
[code]

[2018-09-20 11:48] Jkly commented on #157
I think arguably ktx-ashley should throw a more descriptive error if createComponent returns null, something like "Could not instantiate component $type - check the component has a no-arg constructor"

[2018-09-20 11:50] Divelix commented on #157
Oh, ok, I just added default values for both components and it works fine now:
[code]
It was really not obvious thing for me, thank you.

[2018-09-20 13:58] czyzby commented on #157
@Jkly Do you want me to add the null check or will you submit a PR?

[2018-09-20 14:07] Jkly commented on #157
@czyzby if you have time to do it now go for it! Otherwise create a PR later today.

[2018-09-20 14:10] czyzby commented on #157
Don't mind if you take this one. ;)

[2018-09-20 16:15] czyzby commented on #157
@Divelix Just so you know, `Sprite` has a no-argument constructor that you can use in your case. You should also avoid creating `Texture` objects on demand - they reload the image every time, which might quickly become an issue if you don't cache and reuse `Texture` objects.

[2018-09-20 20:15] czyzby commented on #157
This is already addressed on the development branch and should be available soon in the snapshot release.

[2018-09-20 20:15] #157 closed

[2018-09-20 20:18] czyzby commented on #154
`ktx-async` uses some APIs deprecated as of `0.26.1`.

[2018-09-20 20:20] czyzby commented on #152
@jcornaz Any updates on this? If you started working on this and have some code that we can use to speed up the implementation, feel free to setup a PR.

[2018-09-20 20:27] #156 closed

[2018-09-20 20:45] czyzby opened #159 "Release KTX 1.9.8-b5"
- [x] Maven Center upload.
- [x] GitHub release.

---

Maintenance release with an improvement of `ktx-ashley` API.

[2018-09-20 21:04] #159 closed

[2018-09-20 21:06] czyzby commented on #157
@Divelix As of `1.9.8-b5`, an exception with a meaningful message is thrown if you're missing a no-arg constructor. It should be available via Maven Central very soon.

[2018-09-21 11:18] jcornaz commented on #152
Yes I started it. I want to add some tests before creating the PR.

I'll see if I have time to propose something this weekend

[2018-09-29 15:50] jcornaz commented on #152
I'm basing my test on the fact that "they should return same result for same input than LibGDX `Vector2` does for the equivalent function".

However LibGDX returns quite strange results for angles.

[code]

What am I supposed to do here? Should I replicate this inconsistent behavior for the sake of behaving as LibDGX does?

[2018-09-29 16:15] czyzby commented on #152
@jcornaz It does seem like a bug. Try adding an issue to the official LibGDX repo. Although both approaches are a source of potential bugs, I think we should choose correctness over consistency in this case and wait for LibGDX team to fix their implementation.

[2018-09-29 18:04] jcornaz commented on #152
I open an issue for it: https://github.com/libgdx/libgdx/issues/5385

[2018-09-29 18:16] jcornaz commented on #152
It's not only inconsistent. It is incorrect as well. `println(Vector2(0.0f, 1f).angleRad(Vector2.X))` should print `1.5707964`, not `-1.5707964`. Here `-1.5707964` is incorrect.

[2018-09-30 19:18] czyzby commented on #152
You should definitely use methods with default params whenever possible (and sensible). Since there is no interface to implement that you have to conform to, the difference between overloaded methods and methods with default params should be barely noticeable by the users. As long as it simplifies the implementation or maintenance, go for it.

As for the inconsistencies in LibGDX API: it's the KTX

[2018-10-02 21:05] keturn opened #162 "ShapeRenderer.use"
The GDX ShapeRenderer has `begin` and `end` methods. Should we make the ktx-graphics version have a `use` block, the same way Batch and ShaderProgram do?

[2018-10-02 22:15] czyzby commented on #162
Sure. We just make sure to add the `ShapeType` parameter. Do you want to add this utility in a PR or should I implement it?

[2018-10-03 03:58] keturn commented on #162
Yeah, I expect I'll be able to make a PR for this.

[2018-10-05 06:01] czyzby commented on #162
Thanks for the PR, @keturn.

[2018-10-05 06:01] #162 closed

[2018-10-13 01:29] keturn opened #164 "[discussion] notes on input processing and Stage"
Notes on stumbling blocks I (as someone trying to learn this library from Kotlin, without prior exposure to libgdx in Java) ran in to when trying to add input handling:

The interface I've seen talking about event listeners is [`ktx-actors`](https://github.com/libktx/ktx/tree/master/actors), and I think I will want to be using scene2d anyway, so okay, I'll make a `KtxInputListener`.

except just _

[2018-10-13 07:43] czyzby commented on #164
[This is a good LibGDX article about Scene2D basics.](https://github.com/libgdx/libgdx/wiki/Scene2d)

* `InputProcessors` handle raw input from the users. If you want to add custom handling to each input type, you can implement this interface from scratch and catch raw events. Note that you should register them with `Gdx.input` - preferably once, before expected usage.
* `Screen` is out there for

[2018-10-30 06:41] lokeshj commented on #154
@czyzby Now that coroutines are 1.0, could you please take a look at this again?

[2018-10-30 10:34] czyzby opened #165 "Update to Kotlin 1.3"
See also #153, #154.

[2018-10-31 21:04] hpn33 opened #166 "ktx-app"
how switch between screen
set the screen with ktxGame
but how changed in screen

[2018-10-31 22:30] czyzby commented on #166
Not sure what's the issue here.

`KtxGame` code is available [here](https://github.com/libktx/ktx/blob/master/app/src/main/kotlin/ktx/app/game.kt). After you call [`setScreen`](https://github.com/libktx/ktx/blob/master/app/src/main/kotlin/ktx/app/game.kt#L114-L119), the current screen is hidden, and the new screen is resized and shown. Then, `KtxGame` [continuously calls its rendering method](http

[2018-10-31 22:30] #166 closed

[2018-11-01 13:40] hpn33 commented on #166
@czyzby
I'm inside ktxgame
addscreen
addscreen
addscreen
//and then
setscreen

game on a screen, now
and i want change screen in screen class that is set and showing now by code

i do not understand how can change screen out of ktxgame
companion object or static not work because everything is private
event can`t use if statment.
when say
[code]

[2018-11-01 14:39] czyzby commented on #166
You should keep a reference to the original `KtxGame`. For example:

[code]

[2018-11-01 15:51] hpn33 commented on #166
thanks

[2018-11-17 11:01] CreamyCookie opened #168 "Update to LibGDX 1.9.9"
1.9.9 is out: https://github.com/libgdx/libgdx/issues/5306#issuecomment-439159885

btw. Thank you for this set of great libraries! :+1:

[2018-12-03 21:37] jcornaz commented on #154
`ktxAsync` should be an extension on `CoroutineScope` as well to be consistant with other coroutine builders of `kotlinx.coroutines` and make life-cycle mangements easier.

[2018-12-03 21:40] jcornaz commented on #165
Do you need/want help on this?

[2018-12-04 09:28] jcornaz opened #169 "LibGdx main dispatcher"
Hi,

In my humble opinion, the `async` module misses the only feature I'd expect him to provide: A dispatcher for the LibGDX main thread.

Here is how to write it:

[code]

And how to use it:

[code]

[2018-12-04 13:19] czyzby commented on #169
Already on this. New coroutines API requires a complete redesign of the `ktx-async` module. I cannot give you any time estimates, but just wanted you to know I'm getting close to the next release.

There will be 2 dispatchers based on LibGDX API: for the rendering thread (using `Gdx.app.postRunnable`) and wrapping `AsyncExecutor` (using `executor.submit`).

[2018-12-04 14:02] jcornaz commented on #169
Thank you very much for your work. Game programming is very pleasant with Kotlin and KTX ;-)

[2018-12-04 22:06] czyzby commented on #154
The `develop` branch is compatible with `1.0.1` coroutines API as of merging #170, although I still think `ktx-async` should be rewritten to leverage new coroutine APIs. See #169.

[2018-12-04 22:08] czyzby commented on #169
I'm going to close this as a duplicate of #154, but I'm still working on this. Recent weeks were pretty busy for me, but now I have a bit more free time - I want to finish the `ktx-async` refactor and immutable vectors merge by the end of the week.

[2018-12-04 22:08] #169 closed

[2018-12-04 22:09] czyzby commented on #165
Done via #170.

[2018-12-04 22:09] #165 closed

[2018-12-04 23:07] czyzby commented on #164
I added a `Stage` section to `ktx-scene2D` README, as well as `stage` factory method to `ktx-actors`. Thanks.

[2018-12-04 23:07] #164 closed

[2018-12-04 23:19] czyzby commented on #168
`ktx-vis` fails to compile after updating to 1.9.9. See https://github.com/kotcrab/vis-editor/issues/275. @kotcrab

Will ignore some tests and add deprecations as a temporary workaround.

[2018-12-04 23:32] czyzby commented on #168
`1.9.9-SNAPSHOT` version is being uploaded as I'm writing this comment. I encourage the voters to test the new release. @demoth @lokeshj @jcornaz ;)

I'm going to leave this open for now, as we want to wait for the new VisUI release.

[2018-12-07 09:47] jcornaz opened #171 "The `+` operator should not mutate its receiver"
Please consider the following code:

[code]

Usually we don't expect `+` to mutate anything. Kotlin provides explicit operators for mutation (in this case `+=`).

I propose to deprecate that `+` operator and introduce the `+=` alternative (when adding actor to stage, but also when adding actions to actor)

[2018-12-07 11:06] jcornaz commented on #171
In the other hand a `+` operator to create a sequence of actions would be nice:

[code]

But still, the `+` operator in this case would be pure.

Should I create a separate issue for this latest proposal?

[2018-12-07 15:55] czyzby commented on #171
Yes, this is oversight on my part.

Sure, if you don't mind.

[2018-12-07 16:01] jcornaz opened #172 "`+` operator to create sequence of actions"
I think a `+` operator to easily create a sequence of actions would be nice

Example:
[code]

[2018-12-07 16:17] kotcrab commented on #168
@czyzby I've uploaded VisUI 1.4.2 for libGDX 1.9.9.

[2018-12-07 20:48] #171 closed

[2018-12-07 20:59] czyzby commented on #172
It could be similar to `then` infix method, but it should not mutate sequence actions.

[2018-12-07 21:08] jcornaz commented on #172
However I personally think that `+` and `then` should do exactly the same. (and not mutate the receiver)

Using `then` or `+` would only be a style choice (like using `crs` or `x` with vectors)

But a `+=` may mutate the receiver.

[code]

[2018-12-07 21:30] czyzby opened #173 "Updating Spek tests"
JUnit platform Gradle plugin is [deprecated](https://junit.org/junit5/docs/current/user-guide/#running-tests-build) as of `1.2.0` and Spek2 seems to rely on other APIs.

@Jkly Would you attempt updating or rewriting Spek tests in the `ktx-ashley` module? I don't mind updating to Spek2 release candidate or going with a different testing framework altogether.

[2018-12-07 21:34] czyzby commented on #168
Done. KTX `1.9.9-SNAPSHOT` should work with Kotlin `1.3.11`, LibGDX `1.9.9` and VisUI `1.4.2`.

[2018-12-07 21:34] #168 closed

[2018-12-08 14:42] CreamyCookie commented on #168
@kotcrab  @czyzby Thanks! =)

[2018-12-08 15:38] jcornaz commented on #154
I know it is likely to be solved when you'll rewrite the `async` module, but I'd like to report here a bug I've fount using 3.9.9-SNAPSHOT today: `AssetStorage.load` is not thread safe.

Example:
[code]

With the code above, I experienced visual glitch like inverted textures, or getting only partial or scaled texture. Removing usages of `async` solved the problem.

Thread safety is an implicit con

[2018-12-08 17:07] czyzby commented on #154
I know, the new solution uses a single `assets` mutable collection protected by a `Mutex`.

[2018-12-08 17:42] jcornaz commented on #172
No. I don't see the point of a non-obvious operator for parallel actions. In this case `parallelTo` is fairly enough.

[2018-12-08 17:44] czyzby commented on #172
`|` would be more obvious, but it's not available in Kotlin `1.3`.

[2018-12-08 18:02] #172 closed

[2018-12-10 10:49] Jkly commented on #173
Sure I can take a look - I think it should be a case of using the built-in Junit platform now in Gradle (if you don't mind if we stay on Spek 1 for now).

[2018-12-10 13:57] czyzby commented on #173
This is OK.

[2018-12-10 13:58] czyzby commented on #173
Thanks @Jkly.

[2018-12-10 13:58] #173 closed

[2019-01-24 14:41] limbusdev opened #176 "ArrayMap does not support square bracket assignment"
Hi,
great extension to libGDX :) thank you for that.

My question: how can square brackets be used with libKTX ArrayMaps?

what I wanted to to:

[code]

But there is no Set operator defined. Am I doing something wrong, or isn't it just implemented yet?

Cheers

[2019-01-24 14:54] jcornaz commented on #176
You have to create an extension function for it:

[code]

Eventually it could be added to `ktx`...

[2019-01-24 15:03] gembutterfly commented on #176
yeah, hoped it's already been there - thank you :)

[2019-01-24 16:32] czyzby commented on #154
Just wanted to let you know that I'm currently dealing with work and the end of semester at my uni, so I had to postpone this "a little". I should be done in a few weeks.

[2019-01-25 17:05] gembutterfly commented on #176
Yeah, but it had been said, that the libgdx implementations are more efficient and use less storage. Nevermind, I did what you explained and extended it myself. Thank you.

[2019-01-25 21:06] gembutterfly opened #177 "Chainable Actors Extension"
Hi,
would it be possible to extend Actors to make them chainable?

What we have now:

[code]

I have an extension:

[code]

which changes that to

[code]

Problem is, this extension always returns objects of class Actor, not of the inheriting class. Any ideas?

And would you consider ding something similar in libKTX? Or, alternatively, would it be possible to have more Actor-inheriting classes to

[2019-01-25 21:23] jcornaz commented on #177
[code]

[2019-01-26 01:36] czyzby commented on #177
I advise against writing custom `this`-returning extension for every setter that you plan on using. This approach comes from Java, which lacks the DSL capabilities of Kotlin. Look into `apply` or `let` from the standard library, as @jcornaz mentioned - this would be idiomatic Kotlin approach.

[`ktx-scene2d`](https://github.com/libktx/ktx/tree/master/scene2d) and [`ktx-vis`](https://github.com/lib

[2019-01-29 12:51] gembutterfly commented on #177
Yeah, thank you. I'm still new to kotlin and didn't know about apply. Thank you for your help. You can close, if you like :)

[2019-01-29 18:14] czyzby commented on #177
OK, reopen or post new issues if you've got any further questions. :)

[2019-01-29 18:14] #177 closed

[2019-01-30 10:31] gembutterfly opened #178 "Feature Request: make align accessible in apply"
Hi there,
would it make sense to make Actor's align property accessible in the apply method? For some reason (difficult layout adaptions on changing size, I guess) align property has no setter, therefore this is not possible:

[code]

It would be very pleasant to be able to do this. And code would look even tidier. Any thoughts? Cheers, Gem

[2019-01-30 19:12] czyzby commented on #178
I don't think most actors have `align` property in the first place. If you try using `Group.align` or `Group.setAlign`, you'll see compilation errors simply because these properties/methods do not exist.

If you're talking about actors that are stored in a table though, try the `cell` extension method:

[code]

You can also access the cell with the lambda argument when you're using configuration b

[2019-02-05 08:51] jojomickymack commented on #19
@czyzby I set up the website with the tutorial you linked to in a message in this thread - now I feel bad I let the domain expire. I just put the content back up on a different site.

[https://jojomickymack.gitlab.io/reverie/post/libktx_platformer](https://jojomickymack.gitlab.io/reverie/post/libktx_platformer

If anyone is looking for a starter project, I had created this single scene template a

[2019-02-05 13:23] czyzby commented on #19
Thanks, I updated the comment.

Have you tried using `ktx-ashley`?

Would you like to add anything to [the showcase](https://libktx.github.io/#showcase-section)?

[2019-02-05 13:34] czyzby opened #179 "Update to Kotlin 1.3.20"

[2019-02-05 13:46] #179 closed

[2019-02-05 17:04] jojomickymack commented on #19
Wow, I should really adapt my example and the games I made using ashley to use ktx-ashley - I'll make a point of that - there's a ton of features I need to use, like texture packing and the scene2d dsl as mentioned previously - probably can adapt some of these other examples to use those easily.

[https://github.com/jojomickymack/dialog_adventure](https://github.com/jojomickymack/dialog_adventure)

[2019-02-05 17:13] czyzby commented on #19
Looking forward to it. :)

Definitely, thank you for working on that. I admit I don't have much time to work on the examples and when I do, I usually prefer to focus on new features or refactoring. The templates and examples help a lot.

[2019-02-05 17:23] czyzby commented on #154
@jcornaz I finished the documentation of the new `ktx-async` module and pushed the overhaul to the `develop` branch. I decided to remove the `AssetStorage`, since I don't think it should be strictly connected with the core coroutines utilities and I have to admit I'm not done with that one yet. [Could you take a look at the new API](https://github.com/libktx/ktx/tree/develop/async)?

[2019-02-05 17:32] czyzby opened #180 "Release KTX 1.9.9-b1"
* [x] Maven Central upload.
* [x] GitHub release.

---

There are **significant** changes and additions to KTX, and I don't want to delay the release any longer. `AssetStorage` will be removed and `ktx-freetype-async` will be disabled for this release, but it is a relatively minor issue compared to delaying the refactored `ktx-async` API, immutable 2D vector and numerous other utilities.

[2019-02-05 17:53] czyzby commented on #154
I'm closing this issue for now, `AssetStorage` will be implemented separately.

[2019-02-05 17:53] #154 closed

[2019-02-05 17:58] czyzby opened #182 "Rewrite AssetStorage to the new ktx-async API"
- [x] Add `ktx-assets-async` module.
- [x] `AssetStorage` rewrite.
- [x] Usage documentation.
- [x] Restore `ktx-freetype-async`, update to new API.
- [x] Restore `TextAssetLoader`, move to `ktx-assets`.

---

`AssetStorage` was removed during the `ktx-async` overhaul in `1.9.9-b1` due to reliance on old coroutines API and threading issues. The goal of this task is to rewrite `AssetStorage` in a f

[2019-02-05 18:09] #180 closed

[2019-02-05 18:18] czyzby commented on #142
No longer an issue. `ktx-async` was rewritten, along with the problematic method.

[2019-02-05 18:18] #142 closed

[2019-02-05 18:22] czyzby commented on #176
@gembutterfly  FYI, from the documentation:

`ArrayMap` is rarely a good choice, since it loses the main advantage of a hash map. If garbage collection is an issue and you want to rely on LibGDX collections, you should use `ObjectMap` instead.

I still think we could add some basic utility methods for `ArrayMap`, but it's a rather niche collection.

[2019-02-05 18:41] czyzby opened #183 "Integrate generic utilities from Cyberpunk framework"
[Cyberpunk](https://github.com/ImXico/Cyberpunk) is an opinionated Kotlin LibGDX framework that aims to be on a little higher abstraction level than KTX. Some of its utilities are generic enough to make it into KTX. In particular, we should look into:

- [x] Screenshot utilities.
- [x] Profiling.
- [x] Camera utilities.
- [x] Image and text helpers.

See https://github.com/ImXico/Cyberpunk/issues/

[2019-02-06 20:07] the-sauce commented on #19
@jojomickymack
Thank you so much for posting this, incredibly useful and hard to find material.

I couldn't build from your repository so I have opened an issue on your missing-homework example. I will try to figure something out.

[2019-02-07 04:41] jojomickymack commented on #19
@the-sauce Glad you have a use for those - I fixed the build issue, it was the texture builder task which I never use anyway, I just removed it from all the examples.

[2019-02-07 11:40] czyzby opened #184 "Update to Kotlin 1.3.21"

[2019-02-07 11:45] #184 closed

[2019-02-08 05:36] bajabob commented on #19
@jojomickymack thank you so much for creating a template! I have been having a very difficult time getting https://github.com/czyzby/gdx-setup working on the latest version of Mac OSX.

[2019-02-08 06:15] bajabob commented on #19
@jojomickymack in your template, if you add `sourceSets.main.kotlin.srcDirs = ['src/']` to your desktop build.gradle, intelij will know where to find your sources.

[2019-02-09 15:07] jojomickymack commented on #19
@bajabob oh sweet! There were some other issues with the desktop launcher, now it's fixed. I also updated the versions used for gdx and ktx and the android tools. I will apply the same changes to the other examples.
Thanks for finding these bugs, guys!

[2019-02-09 23:33] the-sauce commented on #19
@jojomickymack thank's a lot!

[2019-03-16 15:17] jojomickymack commented on #19
@czyzby
One thing I copied when getting started with libktx was the EGU2016 game - I ended up using my newer build files with it today and decided to just fork it and put it up on github. It's a really fun game and it might be easier for someone who doesn't want to get into the gradle files to just build it and run it. I included the android target and it actually works really well!

I didn't chan

[2019-03-16 16:01] czyzby commented on #19
Thanks, great stuff! If I can give you one suggestion - it might be a good idea to add some screenshots into the README files of your projects, as it kind of shows what you can expect from these tutorials/examples.

[2019-03-16 20:41] jojomickymack commented on #19
Great idea! All of those examples have screenshots/animated gifs now : D
I have been trying to expand on narrative in the things I'm working on and I found this great solution for storing dialogs/managing cutscenes - it's [yarngdx](https://github.com/kyperbelt/YarnGdx). I am really impressed with this simple dsl for storytelling!

I made another little demo of that, it uses ktx with these and fits

[2019-04-22 20:21] Quillraven commented on #19
Hi,

also trying to help as I think LibKTX is a very promising and nice project 👍

I did the simple game from the libgdx tutorial including pool, assetmanager and viewport: https://github.com/Quillraven/SimpleKtxGame/tree/master

Just let me know if you have any feedback or improvement proposals (I am not a professional when it comes to Kotlin and all of its power ;) ).

[2019-04-23 00:19] czyzby commented on #19
@Quillraven I went through the code. It's a nice conversion of a classic LibGDX example to KTX - thanks!

There are two things that I would look into potentially:

* By passing a `Context` in the constructors, you're essentially hiding the real dependencies of the class, which might make it harder to reuse. I'd normally prefer to define all dependencies as constructor parameters and either call a

[2019-04-23 04:16] Quillraven commented on #19
@czyzby Thanks for your quick response!
I included your feedback now except for the context passing.
I would like to better understand why you do not want to pass the context. From what I read it is a common practice in Android development to pass a "context" to each class to have access to global things without making them static because static instances are troublesome on Android.
Also, the libg

[2019-04-23 07:34] czyzby commented on #19
Well, it's not a very bad practice, but it does make your code heavily rely on `ktx-inject`. When you explicitly define all dependencies of your class, it's very easy to see which components it requires to fully initiate, which makes it somewhat easier to test the class or move it between projects. It also encourages splitting the code into small single-responsibility components with few dependenc

[2019-04-23 14:18] jojomickymack commented on #19
Excellent discussion - this is a core design choice, and libktx offers some idiomatic solutions to the problem of managing the state of the game and managing scope.

I love the enum approach to asset management and think that it should be featured in a 'my first ktx' example application. Having an asset manager for each type, like czyzby said, is the way to go.

I utilized it in this [asset manage

[2019-04-23 16:25] czyzby commented on #19
I only suggested to keep track of separate assets types with multiple enums. Having a single `AssetManager` is OK, but sometimes having multiple ones also makes sense:

* `AssetManager` is basically synchronized, so things like simple assets retrieval can block other threads that access the manager (especially the loading thread). If that becomes an issue, it might make sense to use multiple loade

[2019-04-23 16:31] czyzby commented on #19
And as for the article, @jojomickymack:

[code]
Have you tried using [ktx-scene2d](https://github.com/libktx/ktx/tree/master/scene2d)? It's a really nice DSL for Scene2D actors that would save you some pains of the original API, like passing the skin around.

[2019-04-24 04:31] jojomickymack commented on #19
@czyzby Great suggestion! I went ahead and implemented the ktx-scene2d dsl for those labels in [this commit](https://github.com/jojomickymack/alien-cutscene/commit/6afadd9b444f791fedd21f17c5055a93ac18e311).

One thing that's a little weird about that is that in order to add my label Actors to my scene, it has to be declared inside of a 'root' Actor - for example, I have to wrap my labels in a tabl

[2019-04-24 20:44] Quillraven commented on #19
@czyzby I changed it now so that the screens have real parameters instead of just the context.
I personally never faced your issue because I am only doing small games without UnitTests. Therefore, I simply add the new manager or whatever instance to the context and in all those classes where I need it I simply create a private variable for it.

But I understand that this might not be ideal especia

[2019-04-24 23:41] czyzby commented on #19
@Quillraven I feel like @Jkly would be more qualified for this code review. :) The things I noticed is that you seem to create this sort of utility class aggregating various mapper, but as far as I remember, they are stateless and count as well be kept in companion objects of the components. I'd try that first. I've also seen a lot of `!!` operators, which you'd normally try to avoid in Kotlin. Is

[2019-04-25 05:22] Quillraven commented on #19
@czyzby
**ComponentMapper**
The mapper idea is actually coming from the ashley wiki site:

[code]

A companion object is static as fas ar I know. Would that have any sideeffects? If not I agree, it would be a cleaner solution.

**Sprite**
From what I understood a pooled component must have a constructor without parameters. Or in Kotlin's case all parameters must have a default value.
Since a sprit

[2019-04-25 09:01] czyzby commented on #19
That's the point. In the example you posted, mappers are stored in static final fields; companion objects with `val`s would have a similar effect.

As far as I know, you can create an empty `Sprite` with the default no-arg constructor. I'd probably prefer `var sprite = Sprite()` (or a static sprite instance, if you care a lot about garbage collection) over `lateinit`.

I guess in this case this is

[2019-04-25 13:45] Jkly commented on #19
I've not had a chance to look at all the code but regarding the ComponentMappers, I'd normally do something like this so you can access it statically:

[code]

The advantage being it keeps from having a huge file with all the component mappers in it when your number of components grows, and keeps the mapper close to where the component is defined.

If you prefer having a single file with the mappe

[2019-04-25 13:55] Jkly commented on #19
Regarding `!!`, I normally avoid it in systems even though you expect the component to be there because I find them ugly 😄  The other reason is that because you normally have to assign the component to `val` anyway, I think it's more or less the equivalent amount of code:

e.g. I feel this makes no difference to readability or succinctness
[code]
versus:
[code]

Regarding `engine[system]` - I'm no

[2019-04-25 19:26] Quillraven commented on #19
Thanks again for the great feedback @Jkly  and @czyzby
I learn a few things from you guys ;)

I adjusted the code with the following things:

- removed the ComponentMapper class and added companion objects to the relevant component classes
- got rid of the lateinit sprite. I did not know there is a non-Parameter constructor :D Instead of setting the sprite later on I know just set the atlasregion

[2019-04-26 02:29] Jkly commented on #19
With your ZComparator, you can actually use `compareBy` from the Kotlin stdlib to create it, something like:
[code]
It's implementation deals with `null` for you (it considers it less than any other value), so you don't need to worry about it.

#### engine[system]
I don't think the 3 cases you described are idiomatic with the ECS pattern.

With the first 2 cases, I'd personally extract those respo

[2019-04-27 20:16] jojomickymack commented on #19
I made a port of [superkoalio](https://github.com/libgdx/libgdx/blob/master/tests/gdx-tests/src/com/badlogic/gdx/tests/superkoalio/SuperKoalio.java), which uses tiled map - it's called supercrab and I based it on the crab used in [this picture](https://github.com/czyzby/egu2016/blob/master/.github/sledz0.png) from [egu2016](https://github.com/czyzby/egu2016).

[https://github.com/jojomickymack/sup

[2019-04-27 22:41] czyzby commented on #19
@jojomickymack You could have called it `superkrab`. :)

Anyway, the crab graphic doesn't look very good when resized and cut out from the menu screen. I probably won't find the original, but you could use Kenney's assets instead for consistency with the tiled map.

[2019-04-28 03:29] jojomickymack commented on #19
@czyzby great ideas! I changed the crab to a kotlin krab and swapped out the spritesheet.

[2019-04-30 11:01] Quillraven commented on #19
@czyzby I have added now the first pages to the [wiki](https://github.com/Quillraven/SimpleKtxGame/wiki). Could you give me your first feedback please before I continue with the remaining pages?
Just want to double check if that would be fine for you or if you would like things differently.

[2019-04-30 12:07] czyzby commented on #19
@Quillraven Good job so far! Make sure to add language tags when you post code snippets though, as it's much easier to process the text. For example:

* code snippet without a code tag:
[code]

* code with ```` ```groovy ```` tag:

[code]

* code with ```` ```diff ```` tag, which might be useful to demonstrate changes in the setup or code refactoring:

[code]

* code with ```` ```kotlin ```` tag:

[2019-04-30 19:53] Quillraven commented on #19
@czyzby Did not know that you can specify the  Language and that you can use Diff. First time I use github wiki :D I only know Jira/Confluence and OneNote from work haha.

Anyway, I updated the code snippets accordingly and also optimized the layout.
I also rewrote most of the Application section now to have a step by step tutorial as you mentioned. Starting point is now the plain Kotlin code from

[2019-05-04 18:21] Quillraven commented on #19
@czyzby I have finished the [tutorial](https://github.com/Quillraven/SimpleKtxGame/wiki) now! I did not have time yet to read it again to check for typos and stuff. I  will do that the next days.

When you have time please read it yourself and let me know if you are happy with the result. You can then of course use it or link it if you want. I hope it is close to what you wanted :)

Regards
Simon

[2019-05-05 17:03] czyzby commented on #19
@Quillraven Good job! I had a quick look at it and it looks good so far, I'll read through the whole thing this week. I don't mind linking your wiki in this repository.

[2019-05-18 20:26] maltaisn opened #188 "Default parameter value for Skin.get"
The skin module has an extension method to get an asset by name, with reified type.
[code]
When using the "default" named asset, we have two choices:
[code]
Ideally `Skin.get` would have a default value of `"default"` for the name parameter, allowing:
[code]
Can this be added?

[2019-05-19 10:34] czyzby commented on #188
Sure, it makes sense.

[2019-05-22 15:27] jojomickymack commented on #19
There are a bunch of 'graphics demos' I consolidated into this [ktx-demos](https://github.com/jojomickymack/ktx_demos01) app - it's a hodge podge of shader demos I refactored to kotlin from [mattdesl's tutorials](https://github.com/mattdesl/lwjgl-basics/wiki) and some other sources.

This is some pretty advanced opengl stuff and working with it is a learning experience. I'm planning on adding more

[2019-06-02 20:48] czyzby commented on #188
Thanks @maltaisn.

[2019-06-02 20:48] #188 closed

[2019-06-02 20:50] czyzby opened #190 "Update to Kotlin 1.3.31"

[2019-06-02 21:03] czyzby opened #191 "Release KTX 1.9.9-b2"
- [x] GitHub release.
- [x] Maven Central upload.

---

Maintenance release.

[2019-06-02 21:04] maltaisn opened #192 "Json extensions module"
I just began using the `Json` class in my project for saving the game state. I'm mostly using custom serializers instead of reflection for reading and writing. There's a lot of boilerplate that could be avoided with reified extension functions. Here's a few that would be possible:

[code]
And a comparison with actual methods:
[code]
These functions would allow type inference when reading values. I

[2019-06-02 21:12] czyzby commented on #19
@Quillraven I'll go ahead and link your tutorial in the repo's wiki. Thanks for the contribution!
@jojomickymack Same goes for your repositories. If you'd like to list them in a different manner, please update the wiki.

[2019-06-02 21:19] czyzby commented on #19
@jojomickymack Would you mind adding tags to your blog posts or some way to filter the posts that mention KTX? I'd like to link your blog as well, if you're OK with this.

[2019-06-02 21:21] #190 closed

[2019-06-02 21:26] czyzby commented on #192
There's already a ton of JVM JSON serializers, some of them written specifically for Kotlin, and a lot of them more performant and feature-complete. If you feel like the original LibGDX JSON serialization is lacking, you might want to give them a try.

To be honest, I think including a custom JSON serialization implementation in LibGDX might have been a mistake in the first place. Maintaining a cu

[2019-06-02 21:28] czyzby commented on #192
That being said, if you've already written the extensions or would like to contribute, I could review the PR. Give something like `kotlinx.serialization` a chance before though to see if conforming to LibGDX API is even worth it.

[2019-06-02 21:57] #191 closed

[2019-06-02 22:38] maltaisn commented on #192
I decided to use libGDX's json since Skin already use it and I didn't want to include two different json serialization libraries in my game.

But looking at kotlinx.serialization I realize that it's probably a better option anyway, so I won't make a pull request.

As you said, LibGDX JSON serialization looks like a mistake. It should probably have been made private.

[2019-06-02 23:06] czyzby commented on #192
That's a valid reason for using LibGDX serialization. If it works and you already have the utilities written, don't worry too much about switching. Although keep in mind that it accepts invalid JSONs and is likely untested (other than in production by fellow devs).

Anyway, they should have just went with some popular Java choice that supports multiple platforms and add GWT support for it instead

[2019-06-04 21:28] Quillraven commented on #19
Glad I could help :)

I have a question though and sorry if this is the wrong place for it.
I am currently also using scene2d, freetype and assets extensions in one of my projects and I am not 100% sure if I am doing it correctly because somehow it feels strange.

I create my skin like this:
[code]

The "loadFreeTypeFont" method always returned the same asset for some reason so I changed it to thi

[2019-06-05 14:27] jojomickymack commented on #19
@czyzby I just made some changes to [my blog](https://jojomickymack.gitlab.io/reverie/) to make the whole thing ktx exclusive - I changed the title of the blog to 'ktx-reverie' - I probably shouldn't change the name of the url though (it would invalidate previously used links).

I also just wanted to note that [the repo for the site](https://gitlab.com/jojomickymack/reverie) is public, meaning tha

[2019-06-05 15:32] czyzby commented on #19
@jojomickymack Wow, that's great! Looking forward to the physics demo. I linked the blog on the wiki, thanks.

@Quillraven

When in doubt, you can always create a second issue. It's OK to create issues with questions about the project.

This is because in LibGDX `AssetManager` assets are uniquely identified by their path (and type?), so you're probably better off using the `generate` method.

Well

[2019-06-07 21:56] maltaisn commented on #192
Actually I decided to keep using LibGDX JSON. I feel like my game classes are too simple to justify using something like Gson and use too much inheritance to work well with kotlinx.serialization. And as I said earlier, I don't want to include two libraries for the same thing.

So if you're still interested with a pull request I can make it.

[2019-06-08 06:11] czyzby commented on #192
Sure, I'll take a look.

[2019-06-09 21:42] czyzby commented on #192
I'm not a fan of the LibGDX JSON API and I might have overreacted by closing this issue. Seeing these utilities in the PR made me realize this would be very useful when you're forced to work with existing codebase with LibGDX serialization. I still recommend anyone to look into popular serialization libraries when writing stuff from scratch, but I can see the value in improving this part of the Li

[2019-06-11 21:52] czyzby commented on #192
Thanks for the contribution @maltaisn, feel free to open additional issues if you think `ktx-json` could improve LibGDX's `Json` further.

[2019-06-13 12:35] dwursteisen commented on #14
You can do a standalone library that can be invoked from a gradle plugin. Best of two worlds!

For your info, I'm doing this kind of things (it's more a PoC actually): generating an `object` with all filenames as fields. So I don't have any filename in my code. So If I'm renaming an accept, the error will occur at the compile time and not the runtime.

https://github.com/dwursteisen/libgdx-addons/

[2019-06-18 16:37] czyzby commented on #192
Reopening, as the API could be improved. Avoid weird parameter order, use default params for overloaded methods.

[2019-06-25 08:00] czyzby commented on #192
Thanks @maltaisn.

[2019-06-25 08:00] #192 closed

[2019-07-20 19:20] jojomickymack commented on #19
@czyzby I've shaped up this [ktx demos](https://github.com/jojomickymack/ktx_demos01) repo quite a bit with some box2d and ktx specific graphics and scene2d stuff and it continues to grow. It's intended to be run on Android with a RecyclerView menu.
One thing I wanted to mention since I was just adding [the 'use' extension](https://github.com/libktx/ktx/tree/master/graphics#usage-examples) for all

[2019-07-21 18:16] czyzby commented on #19
Good idea. I don't see why we wouldn't support most of these, although LibGDX APIs do not support a common interface for classes with `begin`/`end` methods, so we have to add them one by one manually. Would you like to create a pull request?

[2019-07-22 04:27] czyzby opened #198 "Use generic Tree.Node from LibGDX 1.9.10"
LibGDX 1.9.10 introduced generic types to `Tree.Node` class.

[2019-07-22 04:48] czyzby opened #199 "Release 1.9.10-b1"
- [x] Maven Central upload.
- [x] GitHub release.
- [x] Update to VisUI 1.4.4 compatible with LibGDX 1.9.10 once released.

---

The first release for LibGDX 1.9.10.

[2019-07-22 04:51] czyzby opened #200 "Add FrameBuffer.use utility"
Add a `FrameBuffer.use` utility with automatic `begin`/`end` calls, similarly to how we already support batches.

[2019-07-22 04:53] czyzby opened #201 "Update Dokka version"
As of writing this issue, documentation generation task with Dokka 0.9.18 fails with an error, so Dokka was reverted to 0.9.17. The goal of this task is to update to the latest Dokka version and fix any relevant errors in the documentation.

[2019-07-22 11:53] #200 closed

[2019-07-24 06:03] amitkot commented on #182
I'm making changes to a project I created two years ago in which I used the previous version of `ktx-async` which depended on the experimental coroutines, and specifically `AssetStorage`.

I see that `AssetStorage` is no longer available in KTX.

Would you say the wise move right now is to switch to using `ktx-assets`'s `AssetManager` instead of `AssetStorage`?

[2019-07-24 08:40] czyzby commented on #182
@amitkot For now, yes. There were some issues with thread safety and unstable coroutines API usage, and I'm afraid `AssetStorage` needs a complete rewrite. Sorry.

[2019-07-25 15:03] jojomickymack commented on #19
@czyzby Hey, sorry this is kind of turning into a q and a thread - I'm going through my examples and changing all the lines below in my render methods from
[code]
to
[code]

clearScreen does the same thing with all examples except for those that use models, ie [this model example](https://github.com/jojomickymack/ktx_demos01/blob/master/core/src/org/central/screens/models/ModelView.kt) and I found

[2019-07-25 19:27] czyzby commented on #19
@jojomickymack Sounds reasonable, could you submit a PR?

[2019-07-26 03:17] jojomickymack commented on #19
@czyzby Here's that https://github.com/libktx/ktx/pull/202 - I did the pull request to master, let me know if I should've done the pull request to the dev branch. I modified the unit test so it passes with the change.

[2019-07-26 13:49] jojomickymack commented on #19
@czyzby did a new PR branching off the develop branch this time https://github.com/libktx/ktx/pull/203

[2019-08-15 14:22] czyzby commented on #199
VisUI 1.4.4 compatible with LibGDX 1.9.10 was released.

[2019-08-16 04:57] thebnich opened #204 "NoClassDefFoundError on iOS when using `then`"
I'm getting a rather obscure error on iOS when using `then` (e.g., `Actions.alphaTo(1f) then Actions.alphaTo(1f)`):

[code]

As a workaround, changing to `Actions.sequence()` works with no issues.

KTX: 1.9.9-b2
libGDX: 1.9.10
Kotlin: 1.3.41
RoboVM: 2.3.7

[2019-08-16 06:33] czyzby commented on #204
What's your source compatibility level? It looks like Kotlin tries to compile against Java 8. Try adding these in `build.gradle`:

[code]

[2019-08-16 22:00] thebnich commented on #204
Hm, adding that to both my iOS and core `build.gradle` files made no difference (`sourceCompatibility` was previously set to 1.7 in each).

[2019-08-17 08:21] czyzby commented on #204
We might have to add the `jvmTarget` in our build files. I'll publish a snapshot release this weekend with the changes on our side (and LibGDX 1.9.10 compatibility) and let you know, I'd appreciate if you take a look.

[2019-08-17 08:49] czyzby commented on #204
I updated the JVM target and uploaded KTX `1.9.10-SNAPSHOT`. You can use it by adding this repository in your `build.gradle`:

[code]

Let me know if that fixed your issue.

[2019-08-17 09:07] czyzby commented on #204
(Build failed due to JDK installation issues, unrelated to Kotlin JVM target.)

[2019-08-17 14:56] thebnich commented on #204
Yep, that did the trick. Thanks!

[2019-08-17 14:56] #204 closed

[2019-08-17 17:28] czyzby commented on #204
Thanks for testing, I'll release `1.9.10-b1` with the fix this weekend.

[2019-08-17 18:19] #199 closed

[2019-08-17 18:31] czyzby commented on #204
@thebnich Just wanted you to know that `1.9.10-b1` should be available shortly. It's pretty much the same in terms of content as the snapshot you're currently using, but you might want to move to the stable version, as `1.9.10-SNAPSHOT` can be overridden and contain new API changes.

[2019-08-21 01:03] cypherdare opened #206 "Minimize sequence unwrapping and instantiating"
I started to do a PR for this but it causes an existing test to fail, so I think it needs discussion.

IMO, `SequenceAction.then` should not unwrap its children if it can be avoided. Consider:

    val sequence = moveTo(1f, 2f) + moveTo(3f, 4f) + moveTo(5f, 6f) + moveTo (7f, 8f)

The first operation creates a SequenceAction. The second operation immediately unwraps that sequence and creates a new

[2019-08-21 07:07] czyzby commented on #206
I believe that's how it was implemented at first, but we eventually decided against it, since `+` operator in Kotlin should not mutate either of the operands. See #172 #174

[2019-08-21 12:10] cypherdare commented on #206
Ah, OK. Then I would suggest we change then() back to the way it was and
replace + with +=. Otherwise, it would be poor practice to ever use either
of these if you don't like your game stuttering.

On Wed, Aug 21, 2019 at 3:07 AM MJ <notifications@github.com> wrote:

[2019-08-21 13:48] czyzby commented on #206
Depends on the amount of actions that you use and the target device. Unless you're creating thousands of sequence actions, creating a few extra short-lived objects here and there should not be an issue. Modern JVMs are rather powerful. On desktop this is unlikely to be an issue. On mobile - well, you can deal with it _if_ it becomes an issue.

Also, having a non-mutating variant is useful when you

[2019-08-21 14:16] cypherdare commented on #206
I see what you mean about performance. A few years ago, generating a few dozen objects worth of garbage would get you a noticeable GC stutter on a mid-range phone. I've used Actions as easy tween managers before, and in those projects I'd be creating many sequences. Of course, phone performance has advanced very quickly so maybe it's no longer an issue unless the amount of actions created is extre

[2019-08-21 14:22] czyzby commented on #206
You can see Git history to check how it was implemented before the non-mutating variants were introduced. `addUnwrapped` is just a local utility, AFAIR. You can remove it during the refactoring.

I think the parallel and sequence actions API should be consistent. We could stick with operators being non-mutating, and their more verbose variants being mutating. Otherwise there is no obvious distinct

[2019-08-22 22:51] cypherdare commented on #206
I found a serious bug while experimenting with this. I'll include the fix in my PR (should be today or tomorrow). Since SequenceAction is a ParallelAction, `ParallelAction.addUnwrapped()` unwraps SequenceActions as if they are fellow ParallelActions. The following test fails.

[code]

[2019-08-23 06:37] czyzby commented on #206
I'd expect these to have a common superclass, but not extend one another. Thanks for the fix, I'll review the PR this week.

[2019-08-23 06:46] czyzby commented on #206
I'm also not sure if we should unwrap actions in the first place. It seems like it would be a really rare occurrence in practice with hardly any benefits, and might lead to some weird bugs (e.g. someone keeps a reference to a sub-sequence to track it for whatever reason, and it ends up being cleared and freed immediately). What do you think, @cypherdare?

[2019-08-23 12:37] cypherdare commented on #206
Yeah, I had thought of that. In my opinion, non-mutating should  just wrap them both every time so it's not causing the original objects to be useless. Also, they'll get picked up by their pools when they are run. Let me know what you think and I can update it.

Do we care that there's a `ParallelAction.div()`, but instead of `ParallelAction.divAssign()` it's `ParallelAction.plusAssign()`?

I'm th

[2019-08-23 22:57] czyzby commented on #206
Agreed, I'd appreciate if you update the PR.

When you override `/`, you get a default implementation of `/=` calling `=` for free, although you have to do it on a `var`, as it is a simple reassignment. The difference is that `+=` would be mutating. `+=` is cleaner as far as adding a new action to the group in my opinion, we can leave it as is.

Good idea.

[2019-08-25 12:10] Quillraven opened #208 "Box2D shapes are not getting disposed?"
I don't know if this is an issue or if it is intended but according to the box2d libktx documentation you can create a body like this.

[code]
However, shouldn't the shape's dispose method be called after creating the fixture? I don't see that happening but maybe I am blind.
Or should that be done manually by the user? What would be the most elegant way to do that?

[2019-08-25 17:34] czyzby commented on #208
You are right, this is a potential memory leak. We'll add an option to dispose the shape after fixture creation that can be turned off if you want to reuse some custom shapes for multiple fixtures.

[2019-08-25 18:23] czyzby commented on #208
Thanks, I've pushed a fix to `develop`. Snapshot release will be available shortly.

[2019-08-25 18:23] #208 closed

[2019-08-25 18:25] czyzby opened #209 "Update to Kotlin 1.3.50 and Coroutines 1.3.0"

[2019-08-25 18:29] #209 closed

[2019-08-26 06:12] czyzby commented on #206
Thank you for your contribution, @cypherdare. Snapshot release with your changes will be available shortly. I might also release `1.9.10-b2` pretty soon, since there were 2 separate bug fixes and significant dependencies updates.

[2019-08-26 06:12] #206 closed

[2019-08-26 09:25] Quillraven commented on #208
Thanks a lot for the quick fix!

[2019-08-27 01:16] cypherdare opened #210 "Enhance Batch.use"
Not sure if this would be getting too functionally specific, but it might be nice to set the projection matrix as we are calling `use` since that is done almost every time before calling `begin()`. Something like this:

[code]

Thoughts?

[2019-08-27 06:07] czyzby commented on #210
It does seem like a common use case, good suggestion. Would you like to submit a PR?

[2019-08-30 11:24] czyzby commented on #210
Thanks for the contribution, snapshot release with the changes is being uploaded.

[2019-08-30 11:24] #210 closed

[2019-08-30 11:27] czyzby opened #212 "Release 1.9.10-b2"
* [x] Maven Central upload.
* [x] GitHub release.
* [x] Gradle update.

---

There were notable dependencies updates and bug fixes since the last stable release.

[2019-08-30 12:26] #212 closed

[2019-09-13 21:19] jakewilson opened #214 "Add SpriteBatch extension function for using a projection matrix"
Hello, I use artemis-odb for my ECS so I'm unable to utilize the awesome `batch.use {...}` extension because each entity that is rendered is a separate function call. Instead I call `batch.begin()` and `batch.end()` in my system's `begin()` and `end()` functions. It's not a huge deal, but I'd like to be able to call `batch.begin(projectionMatrix = camera.combined)`. If this is something ktx is int

[2019-09-13 21:25] czyzby commented on #214
This is a valid use case and contributions are always welcome. If you'd like to add this functionality, you can create two extension functions: one with a `projectionMatrix` parameter and one with a `camera` (that would automatically extract `camera.combined`). This is similarly to how we handle it in `use`.

[2019-09-13 21:26] jakewilson commented on #214
Cool, I'll get started!

[2019-09-15 11:01] czyzby commented on #214
Thanks for the contribution @jakewilson!

[2019-09-15 11:01] #214 closed

[2019-10-06 15:05] rhutsaliuk opened #217 "Adapters for Json.Serializer and Json.ReadOnlySerializer"
I've noticed couple of things which could be a bit more kotlin-friendly when writing custom serializer.
IDEA auto-implements all serializer paramters nullabe. And the `knownType`  and `type` are of type `Class<*>?`. So, the auto-implemented serializer looks like this:
[code]
I analyzed the sources of `com.badlogic.gdx.utils.Json` and noticed that only the last parameter of both methods may be `nul

[2019-10-06 16:50] rhutsaliuk commented on #217
Well, as it's sunday evening and I have nothing to do :smiley:, I can already submit the PR if this feature is relevant.

[2019-10-06 17:51] czyzby commented on #217
We've done something similar in `ktx-app` module, so we could improve LibGDX typing, although this might be more beneficial to add `@NonNull`/`@Nullable` annotations in LibGDX codebase.

Correct me if I'm wrong, as I haven't checked the sources yet, but is `Json.Serializer` something like a single function interface? Maybe we could choose a more Kotlin-like approach and instead of providing a clas

[2019-10-06 18:11] rhutsaliuk commented on #217
No, it's an interface with two functions `read` and `write`. Here is the exact code from libgdx sources:
[code]
And the `Json` object does not distingush serializers that are able to only read or only write. So, it won't be possible to write a function that creates a serializer  with only `read` or only `write` implementation, because `Json` maps serializer to a `Class` object, so we simply can't

[2019-10-06 18:22] czyzby commented on #217
Well, you can have 2 lambda parameters, but I guess you're right that it would be less readable.

I'm pretty sure you can do `abstract override fun` on Java functions with `!` types to specify the typing, you can check if you need to declare 2 function for write/read or if you can just define 2 abstract functions with the correct typing.

[2019-10-06 18:31] rhutsaliuk commented on #217
If I undestand you right, yes the `!` types will work for sure. The main difference is the third parameter, in both methods: `Class<*>`. This is something that I'm not really sure and hope you may know.
If in any case it is not helpfull to have `KClass<*>` instead of `Class<*>`, then we can just close this issue.

[2019-10-06 19:02] czyzby commented on #217
We could improve the typing regardless of `KClass` usage with an abstract class with "overridden" abstract methods. I think both are relatively easy to convert to one another.

What's your use case for having a `KClass` parameter instead of `Class`?

[2019-10-06 19:14] czyzby commented on #217
I think something like this would still be useful without introducing new methods:

[code]

[2019-10-06 19:23] rhutsaliuk commented on #217
Well, my case was simply to make it more kotlin-oriented. But I start thinking that it does not really worth it.
And your option with interface looks cool. I didn't realize kotlin supports overriding interface methods.
We probably can make use of that.

[2019-10-06 19:24] czyzby commented on #217
Great, would you like to update your branch and submit the PR?

[2019-10-06 19:28] rhutsaliuk commented on #217
Yes, sure. I'll do that

[2019-10-06 20:08] rhutsaliuk commented on #217
Oh, and I forgot also. In addition to `Json.Serializer` libgdx provides a `Json.ReadOnlySerializer` which is a [class](https://github.com/libgdx/libgdx/blob/master/gdx/src/com/badlogic/gdx/utils/Json.java#L1209) simply implementing `Json.Serializer`, with no-op `write` method.
We could have a kotlin alternative with the overriden interface methods to do the same, like this:
[code]
 Plus we can int

[2019-10-06 20:52] czyzby commented on #217
Sure, sounds like a nice feature.

You typically use `where` if you need to define multiple upper bounds for a generic parameter, e.g. if you need it to implement multiple interfaces. To make this easier to use, the function should have only a single reified generic parameter of `T`. I'd refactor it somewhat like this:

[code]

[2019-10-06 20:55] rhutsaliuk commented on #217
Yeah, you right. I'll do without the `where`. Thanks for the advice.

[2019-10-07 16:14] czyzby commented on #217
Thanks again for your contribution. A snapshot release with your changes should be available soon.

[2019-10-07 16:14] #217 closed

[2019-10-21 19:27] Divelix opened #219 "Dialog builder absent in ktx-vis module"
I noticed that there is inline function for `window`, but no function for `dialog` in `builder.kt` file. And also there is no extension function for `dialog' in ktx-style.

[2019-10-21 21:18] czyzby commented on #219
We decided [not to include dialogs](https://github.com/libktx/ktx/issues/5#issuecomment-234370420) in VisUI extensions, since they would have some name collisions with KTX widget builders, they are easy to reproduce with much more customizable windows, and I think @kotcrab was going to remove them either way. Feel free to propose a PR if you'd like to see dialogs in `ktx-vis`, but we're not planni

[2019-10-21 21:18] #219 closed

[2019-11-23 05:43] cypherdare opened #222 "AssetContainer"
This is an idea for utilizing the asset delegate classes to easily manage groups of assets with minimal typing. I used a similar concept for CoveTools' [AssignmentAssetManager](https://github.com/CypherCove/CoveTools#assignmentassetmanager), but the usage of that is ugly in Kotlin due to null-safety, and I think this could be more feature rich.

Usage would be to subclass AssetContainer to define

[2019-11-23 18:04] czyzby commented on #222
`AssetContainer` name, although appropriate, was already used for a coroutine-based `AssetManager` alternative. Maybe `AssetBundle` or `AssetGroup` makes sense?

Not sure about reflection usage and associated functions. Direct access to the asset wrapper seems like a rare use case; you could assign it directly to the property with using `by` delegate to get a similar effect if needed.

`onLoadingF

[2019-11-24 01:14] cypherdare commented on #222
I like `AssetGroup`. It avoids the naming incongruity of having an AssetBundle that references I18NBundles.

Stepping back, yes, I agree about taking out the reflection. If someone wants to micromanage individual assets from the group, all that's needed is to use `= asset()` instead of `by asset()`. Also, it removes the awkwardness of wondering how assets that are externally added with `add` would

[2019-11-24 05:01] cypherdare commented on #222
I'm debating whether pass-through functions like `add()`, `addAll()`, `remove()`, `removeAll()`, and `contains()` should be here. It allows the AssetGroup class to be used without subclassing, but at that point it's hardly better than using a Set directly. Not sure there would be a point.

Also, if it does have `contains()`, I think ManagedAsset and DelayedAsset would need proper `equals` and `has

[2019-11-24 20:06] czyzby commented on #222
`abstract class` sounds good. Comparing assets is tricky, as you've noticed. I'd avoid turning `AssetGroup` into a collection and instead create a minimum viable API for the most common use case: mass actions for certain groups of assets. Seems like `load`/`dispose` is all you need.

[2019-11-25 02:29] cypherdare commented on #222
I've run into a detail that needs some discussion. It has to do with the reference counting behavior of AssetManager.

An asset only gets reference counted by AssetManager when it completes loading. So this:
    `repeat(10) { manager.load(myAssetDescriptor) }.also { manager.finishLoading() }`
produces a single reference count of an asset. If you call `manager.unload(myAssetDescriptor)`, the ref co

[2019-11-25 03:45] cypherdare commented on #222
Here's my current version:

[code]

[2019-11-25 09:42] czyzby commented on #222
Invalid reference counting seems like a bug in LibGDX, unless I'm misunderstanding something.

* Not sure about the `Member` - it's a bit of a duplication with less flexibility. I think the inner delegate might be a bit excessive and using `Asset` is OK, as long as the documentation warns about possible risks of accessing it directly. Current API would basically work against someone who knows the

[2019-11-26 03:42] cypherdare commented on #222
I modeled Member after DelayedAsset, and it does the same thing, blocking until all assets are loaded if you try to access it. I don't know the original reason for this behavior, but I figure it's a safe way to make it usable for a non-nullable delegate. ManagedAsset will instead throw an Exception (indirectly from AssetManager) when an unloaded property is accessed.

I think I'll go back to provi

[2019-11-26 13:49] czyzby commented on #222
Because, unfortunately, this happens to be the only way to wait for an asset to be loaded. Still, I don't think this should be the default behavior, so separating it into 2 methods seems like a good idea.

`asset` and `delayedAsset` should explain practical differences between the two in their docs.

You can also add `unload` variant with a lambda that consumes an exception, so that each disposing

[2019-11-28 03:20] cypherdare opened #224 "Inline classes for common color formats"
I think it would be nice to have some inline classes for the most common color formats RGB888, RGBA8888, ARGB8888, and ABGR8888. This would allow doing color manipulations and math in loops without GC churn/pooled Colors, and reduced floating point math. It would also allow for working more easily with hexadecimal color integers and converting between them--nice for working with Pixmaps.

Somethin

[2019-11-28 16:18] czyzby commented on #224
1) This is unlikely to improve performance of APIs that consume LibGDX `Color` instances - or might even make it worse due to necessary conversions.
2) Supporting extension methods for APIs that traditionally consume `Color` seems like a major effort.

We could merge something like this into `ktx-graphics`, but I think we should run some benchmarks first to see if it has any significant impact. Mo

[2019-11-28 16:48] cypherdare commented on #224
SpriteBatch stores color as a packed float and has to convert to packed float whenever you call `setColor` instead of `setPackedColor`. I remember someone saying on Discord it made a very  significant benchmarked difference to use `setPackedColor`. So he was storing colors as packed floats in any game entity that wasn't frequenctly changing color.

Unfortunately, SpriteBatch was recently changed t

[2019-11-28 20:06] czyzby commented on #224
I see.

Thanks, I think that's the correct approach. Since this is not a typical API improvement by itself, we should be sure that it improves performance or memory usage before merging this.

[2019-11-29 21:31] czyzby commented on #222
Thanks again for the contribution, your changes are being uploaded in the latest snapshot as I'm writing this comment.

[2019-11-29 21:31] #222 closed

[2019-11-30 12:21] Divelix opened #225 "Lack of documentation on `vis-style` module"
It would be nice to add example to wiki of how to specify values for all VisUI specific widgets using default @kotcrab skin, beacuse it is really hard to blinly figure out how to setup your first skin using ktx.

For instance, I was trying to make `TabbedPane` by following ktx wiki, but there is no info on how to load skin parameters for that widget. So, I started to insert arbitrary values from s

[2019-11-30 14:07] czyzby commented on #225
`ktx-style` and `ktx-vis-style` are just syntax sugar for filling existing styles from Scene2D and VisUI respectively. One of the reasons why these modules are a bit light on documentation is because they don't introduce any drastically new APIs, just a different way to define skins programmatically.

So, for example, when you're calling `visTextButton`, you're getting an instance of `com.kotcrab.

[2019-11-30 14:16] czyzby commented on #225
By the way @Divelix, all of the KTX extensions work on existing skins, so you can load official `Skin` instance from VisUI and add/modify only your own custom styles, while relying on the defaults for the rest.

[code]

[2019-11-30 15:33] Divelix commented on #225
Didn't know about that default thing, thank you. I think that should be on `vis-style` wiki.

[2019-11-30 17:15] cypherdare commented on #224
I put together a [benchmark here](https://github.com/cypherdare/libgdx-color-benchmark). It draws 2000 basic game objects 1000 times each. You can draw them with or without some basic color manipulations, with or without having SpriteBatch back up the color with a Color object (the Color object backup is recently added behavior), and with or without using an inline RGBA color class.

On my PC and

[2019-11-30 17:15] #224 closed

[2019-11-30 22:34] czyzby commented on #224
Thanks for the benchmarks, good job.

[2019-12-04 02:32] cypherdare opened #226 "In-place functions for GdxArray"
It would  be nice to have `removeAll(predicate)` (filter in place), and possibly `retainAll` (although it's a bit redundant).

Side question: why doesn't Pooledlist implement MutableIterable? It would be nice to have all those stlib extension functions available.

[2019-12-04 16:29] czyzby commented on #226
That's a good suggestion, would you like to submit a PR?

Probably because LibGDX don't implement any stdlib collections interfaces either, but I don't see why we couldn't add this.

[2019-12-05 02:27] cypherdare commented on #226
Yes, I'll take it on. I can try making PooledList a MutableIterable as well. I don't know the reasoning behind the Gdx classes not implementing Collection.

[2019-12-05 03:27] cypherdare opened #227 "Ranges for randoms idea"
I make a lot of from-scratch particle effects for my live wallpapers (so I'm not limited by the GDX particle editor's features), and have found Kotlin ranges to be very helpful for very quickly tweaking values. I think this could be helpful anywhere you have something that spawns something in a game, whether it's a particle or enemy. Or for any procedural generator.

So I made some functions that

[2019-12-05 12:52] czyzby commented on #226
Me neither, and honestly it's been tedious to write any extensions for them, as they do not share any custom interfaces either.

[2019-12-05 12:55] czyzby commented on #227
That's a very nice utility, good idea. Would you like to contribute some of your utilities from the personal library?

[2019-12-06 02:32] cypherdare commented on #227
I think I'll finish the project I'm working on so it has a chance to mature a little more. Should be two or three weeks, and then I can submit a PR.

[2019-12-13 01:17] czyzby opened #229 "Update to Kotlin 1.3.61"
- [x] Kotlin 1.3.61
- [x] Kotlinx Coroutines 1.3.3

[2019-12-13 01:20] czyzby commented on #226
Thanks for another great contribution @cypherdare, the new utilities are currently being uploaded via snapshot releases.

By the way, I'd like to publish another beta release soon, but if you've got any more ideas or plan more contributions, let me know. We can wait for #227.

[2019-12-13 01:20] #226 closed

[2019-12-14 02:47] cypherdare commented on #226
I'm not entirely sure I'll get to #277 before January, so don't wait if you want to get it out sooner than that.

[2019-12-15 08:23] czyzby commented on #226
That's fine, take your time.

[2019-12-16 09:42] czyzby commented on #225
@Divelix I've extended `ktx-style` and `ktx-vis-style` documentation. `ktx-vis-style` still encourages user to go through the `ktx-style` documentation for details, but now it includes a VisUI-specific example of loading and extending the default VisUI `Skin`.

[2019-12-16 09:42] #225 closed

[2019-12-16 09:43] czyzby commented on #225
If you think the documentation still lacks some particular examples, please reopen the issue.

[2019-12-16 10:10] #229 closed

[2019-12-18 01:10] czyzby opened #231 "Release KTX 1.9.10-b3"
- [x] GitHub release.
- [x] Maven Central upload.
- [x] Documentation improvements.

---

Includes multiple new utilities, major documentation improvements and some minor dependencies updates.

[2019-12-18 02:21] czyzby commented on #19
Latest `develop` changes include a rewrite of the main `README.md` file, which now has some Gradle setup examples. This should make it a bit easier to get started with KTX.

[2019-12-18 04:41] czyzby commented on #11
It is safe to say that automatic snapshot releases will not be performed with Travis. If anything, the new GitHub Packages API can be leveraged for that.

As for Dokka docs publishing, we might want to look into that.

[2019-12-20 15:13] Quillraven opened #233 "Tiled extensions"
Hi,

just wanted to know if there is an interest in TiledMap extensions as well.
I am using a few in my own game and I could make a pull request if someone is interested.

Just needed to know if this is something useful or not and if it is useful, what do I need to do for a valid pull request? :)

I have following extensions in place for accessing properties
[code]
This extension is used to retrie