[2019-12-20 16:18] czyzby commented on #233
Definitely, this could be a very useful KTX module. I'd have to review each utility during code review, but it looks good so far.

[The contribution guide](https://github.com/libktx/ktx/blob/develop/.github/CONTRIBUTING.md#adding-a-new-ktx-module) has a section on adding new KTX modules. Would you like to set it up and submit a PR?

[2019-12-20 17:36] Quillraven commented on #233
cool, will prepare something over the weekend and let you know

[2019-12-20 23:30] Quillraven commented on #233
@czyzby : Sorry but I will need your help as I don't know how that works on github.

I cloned the repository and checked out the "develop" branch. I followed your guide and created now the new extensions including the tests.
Tomorrow I will update the README.md but how can I push/PR my changes?

I committed them locally but I do not want to click push because that would either fail(?) or I would d

[2019-12-21 08:36] czyzby commented on #233
1. Fork the repository. You should have a https://github.com/Quillraven/ktx/ repo after this.
2. Clone the forked repository.
3. Apply and commit your changes.
4. Push the changes into a branch in your repository.
5. Setup a pull request from your repository to `develop` branch here.

[2019-12-21 09:44] Quillraven commented on #233
Thanks for the info! I had no idea about that "fork" functionality.

I hope I did everything correctly and you should hopefully see my PR without messing up your repo ;)

[2019-12-21 17:16] czyzby commented on #233
Don't worry, you won't. :) I'll review the PR shortly.

[2019-12-22 12:24] czyzby opened #235 "Release KTX 1.9.10-b4"
- [x] GitHub release.
- [x] Maven Central upload.
- [x] Range randoms. #227
- [x] Tiled extensions. #233

---

The next release will include a new module - `ktx-tiled` with Tiled API extensions. #233

[2019-12-22 12:47] #231 closed

[2019-12-23 19:46] czyzby commented on #233
Thanks, I did some minor refactoring and documentation improvements. I also added operator extensions to `MapProperties` (`contains`, `set`). I'm closing this issue for now, but if you'd like to suggest or contribute any additional utilities, you're welcome to reopen the issue.

Thanks again for your contributions!

[2019-12-23 19:46] #233 closed

[2019-12-23 19:50] czyzby commented on #233
You can expect a snapshot release of `ktx-tiled 1.9.10-SNAPSHOT` soon.

[2019-12-25 09:18] woneryf commented on #176
wangtest

[2019-12-25 09:21] xiaofeixia6666 commented on #176
1111111111111111111111111111111111111111111111112222222222222

[2019-12-25 09:40] xiaofeixia6666 commented on #176
222222222222222222222222222222222333333333333333333333333444444444444444
[yyy.txt](https://github.com/libktx/ktx/files/4000145/yyy.txt)

[2019-12-25 09:41] xiaofeixia6666 commented on #176
1111111111111111111111111111111111111111111133333333333333333333333333

[2019-12-25 09:44] xiaofeixia6666 commented on #176
11111111111111111111111111111111122222222222222222222222222

[2019-12-25 09:44] xiaofeixia6666 commented on #176
33333333333333333333344444444444444444444444444
[yyy.txt](https://github.com/libktx/ktx/files/4000149/yyy.txt)

[2019-12-25 09:57] xiaofeixia6666 commented on #176
2222222222222222222222222222222222222222222222

[2019-12-25 10:21] czyzby commented on #176
Removed some spam.

[2020-01-11 18:16] Quillraven opened #238 "Missing touchDown / touchUp scene2d extensions?"
Hi,

I think that there are touchdown/touchup extensions missing in the actor ktx extensions or maybe that is on purpose.

What I am missing is a way to define a `touchDown` and `touchUp` callback for buttons where I want to react when they get pressed and released.

E.g. when you press the JUMP button the player should jump but when you release it he should cancel the jump and fall down again.

C

[2020-01-11 22:16] czyzby commented on #238
I believe this wasn't added, as `onClick` covers most use cases and this utility would require two lambdas or a boolean attribute with up/down state. We could add something similar to your suggestion.

[2020-01-11 22:17] czyzby commented on #238
Separate `onTouchDown` and `onTouchUp` extension methods could also do the job, although you'd add 2 separate listeners.

[2020-01-12 08:44] Quillraven commented on #238
I can look into it in more detail next weekend. I think having 2 separate listeners would not be a big issue as usually you do not have hundreds of those listeners so it will not have a big impact in my opinion.

Taken from the actors documentation:
[code]

Maybe it would be possible to have a `onTouchEvent` extension like
[code]
where `state` would indicate if it is pressed or released (either a

[2020-01-12 09:27] czyzby commented on #238
`onTouchEvent` and `onTouchDown` + `onTouchUp` returning listeners sound good.

[2020-01-20 20:18] czyzby commented on #238
Thanks for reporting the issue and the contribution @Quillraven, `ktx-actors` snapshot release with the listeners should be available soon.

[2020-01-20 20:18] #238 closed

[2020-01-20 20:22] czyzby commented on #227
Don't feel rushed, but any updates on this @cypherdare? If you need more time, I can do an earlier release of 1.9.10-b4, since there's a new KTX module available. Thanks.

[2020-01-20 22:35] cypherdare commented on #227
I can put something together in the next couple days. You think it should go in a new file `math/ranges.kt`?

I'm not sure of appropriate tests for random number generators. These will mostly be based on gdx.MathUtils, so there's not a lot here that can go wrong.

I originally had a concern that the boxing/unboxing might cause GC hiccups. If that were the case, it might possibly be better not to u

[2020-01-20 22:46] czyzby commented on #227
If you feel like this would significantly increase the size of the current file, go ahead.

Setup a fixed random seed. Repeat the rolls multiple times. Check if the random values are in expected ranges. We could even go a step further and check the approximate distribution.

LibGDX is not really unit-tested, it wouldn't be the first time we'd discover some bugs. :)

Shouldn't be an issue unless yo

[2020-01-21 02:08] Quillraven commented on #238
Always happy when I can help out!

I had an appointment with my eye doctor yesterday and I always get some drops in my eyes that make me unable to see close range for a couple of hours.
That is why I was not able to fix the Readme myself, sorry.

[2020-01-21 05:14] cypherdare commented on #227
I asked about creating a file because I'm not sure there is any existing file it naturally would go in. The existing `math/` files are named for vectors and matrices.

[Here's an initial pass](https://gist.github.com/cypherdare/499c8a2c77cfd949eb5453de6c9d3f5b) if you want to start looking it over as I start writing tests.

The stdlib already has an` IntRange.random()` function that uses `kotlin.R

[2020-01-21 08:58] czyzby commented on #227
Looks good so far.

[2020-01-21 08:59] czyzby commented on #238
You don't have to apologize, this was a very easy fix. :) Thanks again for the contribution!

[2020-01-24 15:41] czyzby opened #241 "Add .editorconfig to roughly match Kotlin formatter and avoid missing new lines"
[EditorConfig](https://editorconfig.org/) is supported in IntelliJ out-of-the-box, and missing new lines are a common issue in pull requests.

[2020-01-24 15:51] #241 closed

[2020-01-24 16:02] czyzby commented on #227
Thanks for the contribution @cypherdare!

[2020-01-24 16:02] #227 closed

[2020-01-24 19:48] #235 closed

[2020-01-27 16:47] czyzby opened #243 "Update to Gradle 6"
Gradle 6.1.1 is available as of writing this issue. A major update is a good opportunity to rewrite old publishing plugins setup and try out the (now possibly stable) Kotlin scripting. #18

[2020-02-05 22:20] czyzby opened #245 "Add Maven Central badges to README files"
Including a badge with current version of the library and a link on how to include it in your project would ease usage of the KTX modules.

Badge schema:

[code]

E.g.
[![Maven Central](https://img.shields.io/maven-central/v/io.github.libktx/ktx-async.svg)](https://search.maven.org/artifact/io.github.libktx/ktx-async)

[2020-02-05 22:30] #245 closed

[2020-02-10 16:15] serandel opened #247 "Make Context.register not inlined"
This nano-change will allow me to introduce a mock Context in my Game class and ignore the register function, so the test will not try to create all the bindings from the actual game. Right now, as register is inlined, there's no way to stop the bindings lambda from running unless I do some ugly workaround like this:

[code]

and in testing...

[code]

I think register will be used so rarely that

[2020-02-10 16:15] serandel commented on #247
PR in #246

[2020-02-10 17:16] czyzby commented on #247
This utility function is just syntax sugar similar to Kotlin's official `apply`. It's inlined precisely to avoid creating capturing lambdas. In the future, I plan on expanding this method with Kotlin contracts (with `InvocationKind.EXACTLY_ONCE`), so you can assign final variables from within the building block.

It seems there's an issue with your constructor in the first place. You generally sho

[2020-02-10 17:16] #247 closed

[2020-02-11 17:41] maltaisn commented on #243
Gradle kotlin scripting seems stable to me, I don't have any issues with it, and IDE support is better than it was. There's not many advantages to using it honestly, but at least it works. I'm fairly comfortable working with it so I could make a pull request if you want.

[2020-02-11 18:09] czyzby commented on #243
I believe @aouerfelli already tried to translate our build configuration and considered it a regression, see #18. Migrating to Kotlin scripting could be a good excuse to rewrite the Maven publishing part - I believe we're using some outdated plugins for that.

If you're OK with working on it and want to submit a PR, I'll be happy to review it and test it out.

[2020-02-12 21:28] maltaisn commented on #243
I think you could use bintray, it comes with a great gradle plugin. It would remove the need for the `withGroovyBuilder` workaround need with kotlin scripting. The plugin also has an option to sync with maven central so that would remove the need for the nexus staging plugin. I'm not sure if it will handle the `provided` configuration correctly though, and I'm not sure if it allows publishing to t

[2020-02-12 23:54] czyzby commented on #243
JCenter syncs automatically, I believe.

If you'd like to prepare basic Bintray Gradle config, I could setup KTX on Bintray with Maven Central sync. I think `provided` dependencies would have to be changed to idiomatic Gradle qualifiers (e.g. `runtimeOnly` etc.).

[2020-02-21 18:00] Divelix opened #248 "Mistakes in ktx-json wiki"
I'm trying to figure out how to use ktx JSON extensions and stumbled a little. In examples class `Cards` is being used, but there is no implementation of it. According to output json it is just integer value. Moreover, there is "pos" field occurs, while Player class has "position".

Ok, I tried to implement this examples: `Vector2AsArraySerializer()` works fine, but I get error when trying to read

[2020-02-21 20:38] czyzby commented on #248
Thanks for bringing this to my attention, I'll test and correct all of the examples.

[2020-02-22 10:02] Divelix commented on #248
I have a question. In `jsonTest.kt` there is `Custom` class:
[code]
and when we serialize it, we get `List<Simple>` that looks like that:
[code]
How can I get rid of this annoying `class: com.divelix.skitter.screens.Simple` lines and get that list as:
[code]
Libgdx wiki says that I should use `setElementType`. I tried to use `json.setElementType<Custom, Simple>("list")` in read/wtite methods, but

[2020-02-22 16:05] czyzby commented on #248
The [second section of the official JSON wiki article](https://github.com/libgdx/libgdx/wiki/Reading-and-writing-JSON) talks about this, it should be relatively easy to translate to Kotlin. Let me know if you have any further problems with the API.

[2020-02-22 22:48] czyzby commented on #248
You should probably do that once for each serializer after initiation, not in the `read`/`write` methods. See how the official wiki does that once after creating a `Json` object:

[code]

[2020-03-02 17:59] czyzby commented on #248
I've rewritten the examples, all of them should compile after minor modifications (e.g. adding missing serialized classes, usually given in other examples).

[2020-03-02 17:59] #248 closed

[2020-03-02 18:00] czyzby commented on #248
You can find the latest documentation [on `develop` branch](https://github.com/libktx/ktx/tree/develop/json).

[2020-03-04 06:41] czyzby opened #250 "Update to Kotlin 1.3.71"

[2020-03-05 10:06] Divelix opened #251 "Image builder in `vis` that takes texture as prameter"
As for now, `WidgetFactory` in `vis` module has `image` functions that takes only `Drawable` and `String` (drawableName), while `VisImage` class has also overloads for ninepatches, textures and texture regions. Would be nice if you add them to ktx too (especially the one that takes `Texture`).

[2020-03-15 11:54] Divelix opened #252 "Add mutating plusEquals operator and non-mutating plus operator to collections module"
It seems natural to use `+=` to add elements to set/array/map. Would be nice to see it in `collections` module.

[2020-03-15 13:10] czyzby commented on #252
As far as I know this already works, as `plus` operators are mutating and returning the same collection, so `+=` have a similar effect.

[2020-03-15 18:27] Divelix commented on #252
But `plus` returns new collection. It is more useful to add elements to existing collection with `+=`, isn't it?

[2020-03-15 18:30] czyzby commented on #252
The thing is, we went with the LibGDX approach of "do not create new objects unless necessary" and `plus` [do not create new collections](https://github.com/libktx/ktx/blob/master/collections/src/main/kotlin/ktx/collections/arrays.kt#L136-L144). This goes against Kotlin principles and we might change that in the future, now that I think about it.

[2020-03-15 18:33] Divelix commented on #252
Oh, sorry, I just noticed that imported `ktx.collections.gdxSetOf` instead of `ktx.collections.*`. So I was using standard kotlin `+` operator...

[2020-03-15 18:35] czyzby commented on #252
No problem. I'll leave this issue open, as we might eventually move to separate `plus` and `plusAssign` operators for non-mutating and mutating behaviour respectively.

[2020-03-17 09:43] Divelix opened #253 "KtxInputAdapter and InputAdapter are identical"
What's the point of `KtxInputAdapter` if libgdx has `InputAdapter` class? Readme in `app` module says that `InputAdapter` is abstract, but it is not. Both of these classes have identical code right now.

[2020-03-17 13:08] czyzby commented on #253
They are not identical.

LibGDX `InputAdapter` is a _class_ that you have to _extend_.

[code]

KTX `KtxInputAdapter` is an _interface_ that you can _implement_. It leverages default interface method implementations to provide similar functionalities to `InputAdapter` (i.e. you override only the methods that you need).

[code]

You can implement multiple interfaces, but you can only extend one cla

[2020-03-17 13:08] #253 closed

[2020-03-17 13:14] czyzby commented on #253
I've fixed the README file, as `InputAdapter` is not an abstract class (it's still a class though, so the point still stands).

[2020-03-17 16:05] ronjunevaldoz opened #254 "Creating entity from engine does not add to engine"
In the below example of coroutineContext, i've launch a creation of entity from engine. But sometimes it does not reflect on update. If there's an efficient way of checking if entity was added or not then retry can you share? Thanks 🗡

Language: `kotlin`

[code]

[2020-03-17 18:36] czyzby commented on #254
Unless I'm misunderstanding the problem, it looks like you're running into concurrency issues. Entity not being properly added shouldn't be a problem in the first place.

Is there a reason you're adding entities asynchronously? If there is some part of your application that's time consuming (e.g. waiting for an asset to be loaded), you might want to do that first in a coroutine and then create the

[2020-03-18 03:43] ronjunevaldoz commented on #254
You're right I'm running on async, I think the problem was in client, because client was obtain by server socket

[2020-03-18 07:13] czyzby commented on #254
That's what I figured. You should use the client to communicate with the server via a standard coroutine, and then switch to the rendering thread to create your entity once you have all necessary data. Your updated code could look roughly like this:

[code]

Let me know if that solves your issue.

[2020-03-18 13:44] ronjunevaldoz commented on #254
You're right. I solved this by using same context!

[2020-03-18 13:45] czyzby commented on #254
Glad I could help. I'm going to close this issue, but don't hesitate to create new ones with more questions!

[2020-03-18 13:45] #254 closed

[2020-03-23 08:33] czyzby opened #256 "Support for in operator for Ashley entities"
`in` operator could be added as a `has` alias to check if an entity has a component.

[2020-03-23 08:49] #256 closed

[2020-03-23 09:02] czyzby commented on #251
Factory methods using `Texture`, `TextureRegion` and `NinePatch` were added. They will be available soon in the latest snapshot release. Thanks for the suggestion.

[2020-03-23 09:02] #251 closed

[2020-03-25 18:57] #250 closed

[2020-03-25 19:08] czyzby opened #257 "Release KTX 1.9.10-b5"
* [ ] GitHub release.
* [ ] Maven Central upload.
* [ ] Add `ktx-assets-async`, `ktx-preferences` and `ktx-freetype-async` to wiki.

---

A new module - `ktx-preferences` (#255) - and quite a few handy utilities were added since the latest stable release. Notably, useful app and graphics utilities from Cyberpunk were finally integrated into KTX (#183), and coroutines-based asset loader - `AssetSto

[2020-03-26 14:42] czyzby commented on #153
Contracts in 1.3 remains experimental and require annotations in order to use AFAIK. This would make our users' code/settings cluttered with opt-in annotations or additional Gradle flags. I'll look into this issue after updating to Kotlin 1.4.

[2020-03-26 23:34] czyzby commented on #183
@ImXico I finally got around to move some utilities from Cyberpunk to KTX. I credited you in the contributors file, I hope that's OK. Thanks again for agreeing to do this!

[2020-03-27 08:14] #198 closed

[2020-03-29 17:21] czyzby commented on #182
@Quillraven @cypherdare @Jkly @maltaisn @jcornaz

I finally decided to rewrite the good old `AssetStorage`. While I still have to write usage examples and update `ktx-freetype-async`, I this point I'm happy with the `AssetStorage` implementation and its test suite.

To be honest, this is probably among top 5 most fun, challenging and complex pieces of code I've written. The initial implementation

[2020-03-29 17:25] czyzby commented on #183
Some feedback to consider:

[2020-03-29 19:20] czyzby commented on #182
[`ktx-freetype-async`](https://github.com/libktx/ktx/tree/feature/assets-async/freetype-async) is now updated to the new `AssetStorage` API and available via [snapshot releases](https://oss.sonatype.org/content/repositories/snapshots/io/github/libktx/ktx-freetype-async/).

[2020-03-29 19:28] czyzby commented on #257
1.9.10-b5 will be released when changes related to #182 are merged.

[2020-03-30 11:17] czyzby commented on #182
I have finished the documentation and written all of the usage examples that I've planned. Let me know if anything is missing.

[2020-03-30 13:43] czyzby opened #259 "AssetStorage API extensions"
- [ ] Progress tracking.
  - Either as a built-in feature of the `AssetStorage` (internal counters of scheduled, loaded and failed assets) or an external class that allows to list all assets up front and updates itself via callbacks.
- [ ] Aliases.
  - It could be quite useful to make it possible to add aliases for asset identifiers. E.g. a texture could be loaded with its original `"images/sprite

[2020-03-30 21:30] czyzby commented on #182
Ironically, after implementing this I found this obscure feature called `LoadedCallback` in `AssetLoaderParameters`, where you can actually add a callback that will be invoked after the asset is loaded by a `AssetManager`, which means coroutines support can be added to the original LibGDX manager relatively easy (well, easier than writing `AssetStorage` was).

`AssetStorage` still makes sense, of

[2020-03-31 14:52] czyzby opened #260 "Add coroutines support to AssetManager"
- [x] Add `loadAsync` extension functions to `AssetManager`.
- [x] Support all default assets even with nullable asset loader parameters.
- [x] Preserve `LoadedCallback` instances assigned by the users.
- [x] Include error handling.

---

`AssetManager` supports loading callbacks via `AssetLoaderParameters.LoadedCallback`, which are executed  on the main rendering thread after the assets are loade

[2020-04-10 19:21] czyzby commented on #11
It seems our integration with Travis CI is [broken](https://travis-ci.community/t/build-stuck-on-pending-on-github-despite-being-finished-in-travis-new-builds-not-marked-in-github-at-all/8085) for now. Commits and pull requests do not link to the associated Travis builds, even though they are triggered correctly.

[2020-04-10 19:25] czyzby commented on #182
I believe the current `AssetStorage` available on `develop` is feature-complete and can be used as a replacement for `AssetManager` for the majority of use cases. @Quillraven also reported notable performance improvements, especially on mobile (see discussion in #258).

I want to thank @Quillraven again for testing and review of the new asset manager. I'd ship a lot less features and a clunky API

[2020-04-10 19:25] #182 closed

[2020-04-10 19:31] czyzby commented on #257
#182 is merged, but it seems that Travis CI is out of sync with GitHub and commits are not correctly pointing to associated builds. I'd like to avoid pushing to `master` before it is resolved.

[2020-04-10 19:57] czyzby commented on #11
_Have you tried turning it off and on again_ worked yet another time. :)

[2020-04-10 20:07] #257 closed

[2020-04-12 11:24] Quillraven opened #263 "Add kotlinx-coroutines-core dependency automatically when using ktx-assets-async"
Hi,

I forgot to mention one thing for the assets-async module. Would it be possible to automatically add the `kotlinx-coroutines-core` dependency when using this module (api instead of implementatin)?

I don't know if this is possible. Otherwise, I would at least mention it in the documentation and in the additional documentation section I would link to the official kotlin coroutine article.

Als

[2020-04-12 11:30] czyzby commented on #263
Possible? Yes. Do we want to do it? Originally the idea was that the user chooses any Kotlin (and Kotlin Coroutines) version, depending on the need, and KTX just works. However, I do recall a bug where you had to use a specific version of coroutines that KTX was compiled against, so I think we might need to reconsider. I'll think about this and leave this issue as open for discussion.

Do you mean

[2020-04-12 12:02] Quillraven commented on #263
Exactly that one. Isn't there a way to also automatically link to the latest version? I noticed that the kotlin documentation always shows the latest version in their example snippets whenever there is a new release and I cannot imagine that someone is manually updating that every time :D

However, I have no idea how to do it, sorry :(

[2020-04-12 12:06] czyzby commented on #263
I think they aren't using GitHub for that. JetBrains/kotlin has a similar Maven Central badge that we're using.

I don't think you can do it with pure markdown. You can link to external services that fetch the latest version. That's how we get the badges that link to Maven Central in module READMEs, for example. I'll think of something.

[2020-04-14 16:32] Quillraven opened #264 "ktx-math creates new vector instances instead of modifying the original one"
Hey,

it is me again (I know I am annoying :P). Yesterday, I noticed that the documentation for ktx-math is a little bit misleading in my opinion and not aligned with the original libgdx documentation.

Take e.g. the `add` function:
[code]

[code]

If I read it correctly, the first one (libktx) creates a new `Vector3` instance every time I use `a + b`. The second one (libgdx) modifies the original

[2020-04-14 16:58] czyzby commented on #264
This is deliberate, but the documentation is out of date. See #130.

Originally I went with LibGDX approach of mutating existing objects, but eventually we decided to follow [the Kotlin guidelines](https://kotlinlang.org/docs/reference/operator-overloading.html) of operator overloading and mutate the object only with assignment operators (e.g. `+=`, `-=`). In fact, `-`, `++` and `--` should also f

[2020-04-14 17:39] czyzby opened #265 "Update to Kotlin 1.3.72"

[2020-04-14 18:08] czyzby commented on #264
Now all operators are following the Kotlin guidelines. This might seem to create some unnecessary garbage, which LibGDX devs tend to worry about, but I believe this approach is safer in terms of unexpected application logic bugs - such as accidentally mutating an instance of vector/matrix that we were trying to use for a mathematical operation.

To sum up - if you worry about garbage collection, u

[2020-04-14 18:08] #264 closed

[2020-04-14 18:16] #265 closed

[2020-04-14 18:19] czyzby commented on #263
I updated the README to include an extra badge in the Gradle section.

If the badge loads, it shows up like this:

![image](https://user-images.githubusercontent.com/11707612/79259514-208fb980-7e8d-11ea-92a8-622fbf16919d.png)

If the badge lags (which happens), it will be replaced with a `Maven Central` link. Either way, clicking on the link or the image takes you to the Maven Central repository s

[2020-04-14 18:48] Quillraven commented on #264
Thanks for the clarification and adjustments!

[2020-04-14 18:49] Quillraven commented on #263
sounds good! 👍

[2020-04-15 12:16] czyzby commented on #11
We will probably migrate to GitHub Actions due to recent issues.

[2020-04-15 12:16] #11 closed

[2020-04-15 13:31] czyzby opened #266 "Evaluate GitHub Actions as an alternative to Travis"
- [x] Automatic tests running on commits and pull requests to the `master` and `develop` branches.
- ~Uploading libraries to GitHub Packages on `master` commits.~
- [x] Uploading snapshots to Maven Central on `develop` commits.
- [x] Building and publishing Dokka documentation to GitHub Pages on `master` commits.

---

Travis was running smoothly up until recently, where we had some problems with

[2020-04-15 13:49] czyzby commented on #201
Javadoc task had to be removed, as sometimes it made Gradle go into an infinite loop. The generated Javadocs weren't really useful for Kotlin anyway.

[2020-04-15 13:49] #201 closed

[2020-04-15 15:18] czyzby commented on #266
Using GitHub packages would require adjusting the publishing settings in `build.gradle`, possibly by adding another repository or conditionally choosing repositories depending on the environment. Either way, it requires extra setup for little value for the users, since Maven Central is already pretty convenient to use.

[2020-04-15 16:45] czyzby commented on #266
Snapshots are now automatically published to Maven Central snapshots repository after commits to `develop`. Auto-generated Dokka documentation is now built after each push to master and available [here](https://libktx.github.io/ktx/). Tests are now performed by GitHub actions/workflows rather than Travis.

@Quillraven I'd appreciate it if you tested the latest snapshot release and had a look at th

[2020-04-15 16:45] #266 closed

[2020-04-16 12:55] czyzby opened #268 "Scene2D DSL refactoring to ease creation of actors without parents"
- [x] Add `scene2d` object with access to Scene2D DSL.
- [x] Remove `KWidget.appendActor`.
- [x] Rename `addTooltip` and `addTextTooltip` to `tooltip` and `textTooltip` respectively.

---

`ktx-scene2d` currently defines top-level factory functions for commonly used parental actors, e.g. `table` or `window`. Creating these widgets with KTX DSL is straightforward:

[code]

A common use case that is

[2020-04-16 15:37] czyzby opened #269 "Rewrite VisUI DSL module"
- [x] Extend `ktx-scene2d` module in `ktx-vis`.
- [x] Unify `ktx-vis` and `ktx-scene2d` APIs and tests.
- [x] Replace `VisDsl` marker with `Scene2dDsl` marker.
- [x] Inline `ktx-vis` factory methods.
- [x] Improve `ktx-vis` documentation.

---

`ktx-scene2d` was originally added by me, while around the same time `ktx-vis` was created by the VisUI author. While the original plan was to either make

[2020-04-16 19:16] #268 closed

[2020-04-16 19:49] Quillraven commented on #266
I tried out the snapshot today and it seems to work just fine. No problems on my end.

Will also read some of the documentation on the weekend where I also want to add a new PR for some ashley extensions.

[2020-04-16 20:00] Quillraven opened #270 "Additional ktx-ashley extensions"
From what I know it is a best practice in ashley to remove entities at the end of a frame or at the beginning, when using a `PooledEngine` because otherwise you sometimes get strange behaviors when removing and adding entities within the same frame.

Therefore, I use a `RemoveComponent` in most of my projects that is added to an entity to mark it as being removed. Some `IteratingSystems` then excl

[2020-04-16 20:26] czyzby commented on #270
I'll have to review Ashley module to give you more insights. You're welcome to submit the PR, if you already have a prototype of these features.

@Jkly Thoughts?

[2020-04-16 20:59] czyzby commented on #268
@Quillraven I believe you're using this module in your application. Just a heads up: top-level actor definitions changed a bit and now you have to add `scene2d.` prefix. See the issue and changelog for details.

[2020-04-16 21:05] czyzby commented on #269
@kotcrab Just a heads up: I finally unified the GUI modules. I believe we didn't do this in the first place because there were no default values for lambda parameters in inlined methods, among other things. Anyway, if you want to take a look and check if anything is missing (maybe something from the latest VisUI versions), you can find the latest code on the [`develop`](https://github.com/libktx/k

[2020-04-16 21:05] #269 closed

[2020-04-17 09:58] czyzby commented on #270
@Quillraven

`Entity` has no access to `engine` after creation, so we would either have to return `EngineEntity` (which has the `with` extension for adding components) or add a utility method such as `Entity.addComponent<Type>(engine)`.

[code]

As for the system, we could add something like this:

[code]

If you'd like to refine my examples and write the tests, you're welcome to submit a PR. Othe

[2020-04-17 12:20] Quillraven commented on #270
I can do that tomorrow,no problem  :)

[2020-04-17 16:13] czyzby opened #271 "Extension for adding actors directly to a Stage with Kotlin DSL"
Currently you have to manually call `Stage.addActor` to add actors created with `ktx-scene2d` and `ktx-vis`.

[code]

If you have multiple root actors, you have to add them all one by one and use multiple `scene2d` calls.

The goal of this issues is to add an extension method to `Stage` to ease creation of root actors:

[code]

[2020-04-17 17:20] #271 closed

[2020-04-17 18:19] kotcrab commented on #269
Nice! Honestly I don't remember which VisUI version was this originally based on but I doubt anything important is missing. Most [VisUI changes](https://github.com/kotcrab/vis-ui/blob/master/ui/CHANGES.md) were bug fixes after certain point.

[2020-04-17 19:45] #270 closed

[2020-04-18 08:29] czyzby opened #273 "Unify operators behavior across modules"
Refer to [the official documentation on operator overloading](https://kotlinlang.org/docs/reference/operator-overloading.html).

- Assignment operators are the only ones that can mutate the object that they executed on.
- Regular unary and binary operators should not mutate the objects and instead return new instances.
  - The only exceptions to this are operators used as DSL syntax, e.g. unary mi

[2020-04-18 12:43] czyzby commented on #273
Overloaded operators were already in line with the official recommendations in most modules. Only `ktx-collections` requires a rewrite. Since there is no common collection type used in LibGDX, I'll try to define a set of utilities for lists, sets and maps, and write generators that setup up core extension methods and tests for each LibGDX collection in #252.

[2020-04-25 09:15] czyzby opened #274 "Update to Kotlin 1.4"
When it becomes available.

[2020-04-25 11:22] czyzby commented on #153
Turns out contracts are likely to remain experimental. I'll try to set this up appropriately, so the users do not have to use the annotations or compiler flags.

[2020-04-25 14:09] czyzby commented on #153
Snapshot release with contracts should be already available.

@Quillraven, I believe you could benefit from this in your UI code, as this is now possible:

[code]

Could you test if you can use this with no compiler flags or experimental API usage warnings?

[2020-04-25 15:32] czyzby opened #275 "Provide equal set of utilities for LibGDX collections"
LibGDX defines a number of specialized collections that limit garbage collection and store primitives more efficiently. Unfortunately, none of them implement a common interface, including official Java collection interfaces. This makes it difficult to add utilities, as most extension methods have to be rewritten for each collection separately.

We currently support most commonly used LibGDX collec

[2020-04-25 15:59] #252 closed

[2020-04-25 15:59] #273 closed

[2020-04-25 16:27] czyzby opened #276 "Release Release KTX 1.9.10-b6"
- [x] GitHub release.
- [x] Maven Central upload.

---

With Kotlin contracts support (#152), breaking changes in `ktx-scene2d` (#268), rewrite of `ktx-vis` (#269) and operators refactoring (#252, #273), this is a major release with a notable number of breaking changes.

We're also close to a stable release (finally!). As of this release, KTX has the majority of features that I planned for, includ

[2020-04-25 17:05] czyzby commented on #153
Verified by Quillraven: https://github.com/Quillraven/Dark-Matter/pull/3. See how the nested Scene2D widgets are assigned to `vals`.

[2020-04-25 17:05] #153 closed

[2020-04-25 17:47] czyzby opened #279 "KTX versioning"
As most of the major features were added and the API reaches maturity, I believe it's time for a stable release. #73

Originally KTX shared versions with LibGDX, being a direct extension of this library. This worked well as long as we used the suffixes such as `-b1`, as the KTX version clearly showed the compatible LibGDX, but we also had a way to increment our own version. As we reach the stable

[2020-04-25 18:26] #276 closed

[2020-04-26 07:50] Quillraven opened #280 "gdxListOf gone?"
After refreshing to latest SNAPSHOT today I saw that gdxListOf is no longer there. Also tried version b6 but also there it is gone., Seems like I can simply replace it with gdxArrayOf but I wonder what happened to gdxListOf? Was that something very old that was cached somehow on my end?

![image](https://user-images.githubusercontent.com/93260/80301238-382b4400-87a3-11ea-8eec-fd1944cb6752.png)

[2020-04-26 08:46] czyzby commented on #280
No, it was removed in the `1.9.10-b6` release. It was a very old collection with some safety issues that would require significant changes.

I reviewed the implementation while refactoring operators in `gdx-collections` and noticed that `PooledList` reuses a single iterator, which makes concurrent iteration impossible and might lead to some unexpected behaviours. Besides, the name suggests that it

[2020-04-26 09:04] Quillraven commented on #280
I could replace it with gdxArrayOf. I think it originally came from your example with assetstorage where we stored the loadAsync calls in a flat list to use joinAll later.

Changing to gdxArrayOf worked here as well and it also contained the flatten function.

I will close this issue then - solved  :)

[2020-04-26 09:04] #280 closed

[2020-04-26 09:07] czyzby commented on #280
That's exactly what I've mentioned - you used `gdxListOf` instead of `listOf`, while what you needed was an `ArrayList` equivalent - `gdxArrayOf`. `PooledList` (or `gdxListOf`) was a pretty niche collection with too vague of a name, and admittedly it was not a very well designed part of KTX API.

[2020-04-26 11:27] czyzby opened #281 "Add TypingLabel extension module"
- [ ] Create a new KTX module that extends `ktx-scene2d`.
- [ ] Include and document another major dependency: `com.rafaskoberg.gdx:typing-label`.
- [ ] Add and test factory method for `TypingLabel`.
- [ ] Add utility extension methods that register event listeners.
  - [ ] Add support for multiple `TypingListener` instances.
- [ ] Consider adding custom DSL for `TypingLabel` tokens.

---

[`Typin

[2020-04-30 08:55] czyzby opened #282 "Add automatic code formatter"
- [x] Formatting Gradle task.
- [x] Verification Gradle task.
- [x] Format existing sources.
- [x] Update documentation.

---

The goal of this issue is to add automatic formatting and verification via [ktlint](https://ktlint.github.io).

[2020-04-30 11:17] czyzby commented on #282
`ktlint` honors `.editorconfig`, so fortunately we're keeping 2 space indent, and most formatting changes are around file names and imports. `git blame` will remain mostly undisturbed.

[2020-04-30 11:45] #282 closed

[2020-05-01 09:34] ronjunevaldoz opened #283 "Allow manually adding entity to engine"
Some functionally need to allow manually adding entity to engine. But the current `engineEntity` builder does not have ano options for this.

[2020-05-01 10:03] czyzby commented on #283
What is your use case? I don't think `EngineEntity` was designed for direct use other than via `Engine.entity` extension method, and `Entine.entity` automatically adds the entity to the engine after it is created. Can you post a code sample of what you'd like to achieve?

[2020-05-02 07:05] Quillraven commented on #279
I personally like the version of libgdx in the ktx version because it makes it is easy to see that it is designed for a specific libgdx version.

However, libgdx release cycle seems to be once a year or less while ktx (at least currently) improves consistently every couple of weeks/months.

Also, currently I use libgdx 1.9.11 snapshot in one of my projects with ktx 1.9.10 (since there is no 1.9.11

[2020-05-02 08:31] czyzby commented on #279
Exactly. It might be a good idea for desktop applications, where you worry less about the API (if there is any), and more about having the latest version with full customer support, new features and crucial bug fixes.

When it comes to libraries like KTX, it's more important for the users to know if their applications can potentially break or if they can expect new features after updating. Semanti

[2020-05-02 10:38] czyzby commented on #283
If I'm understanding this issue correctly, we will not be adding a method to `EngineEntity` that allows to add it to an engine. It's possible to do - even with the current API - but this is not how it was designed to be used.

The preferred way of creating entities (and accessing `EngineEntity`) is via `Engine.entity` extension method. This will automatically add the entity to the engine.

To add

[2020-05-02 10:38] #283 closed

[2020-05-18 08:41] czyzby commented on #260
Simple extension function would rely on too many static variables and global objects (e.g. loader parameters supplier, callbacks map) if we wanted to provide a simple API with complete error handling. This is because `AssetManager` lacks `getErrorListener` method and without it completing deferreds exceptionally is difficult.

Instead of providing extensions methods for `AssetManager`, KTX will pr

[2020-05-18 21:11] heyheyIvan opened #284 "Add Color destructuring syntax support"
Hi!
I suggest adding support for Color destructuring syntax.
It would be great to be able to write code such as:
[code]

The same is implemented in [androidx](https://developer.android.com/reference/kotlin/androidx/ui/graphics/Color#component1())

[2020-05-19 07:34] czyzby commented on #284
Thanks again for the contribution, this seems like a useful utility!

[2020-05-19 07:34] #284 closed

[2020-05-27 21:29] v79 opened #286 "Actor onEnter and OnExit extension functions"
I wanted to change the style of a label on mouse hover. `onEnter` worked fine:
[code]
But there's no corresponding `onExit` function. I've written one now, but wondered if there was documentation around which scene2d stage elements have actions, and which do not, and which actions they have?

For reference, here is my `onEnter` function. This is all new to me so hope I'm coding it correctly.
[code

[2020-05-28 06:39] czyzby commented on #286
I'll be honest, I'm not sure where you got the `onEnter` extension from. I've search the entire project KTX project and I don't think it's ours. Can you go to the source of `onEnter` (CTRL + B) and post it here, @v79?

Now that you mention it, both of these functions could be pretty useful. They will be added to the `ktx-actors` module.

[2020-05-28 08:24] czyzby commented on #286
I also improved the API of the existing event listener methods, so that the `apply` is not necessary. Event listeners will now consume the actor as `this`.

[2020-05-28 20:12] v79 commented on #286
Perhaps I shouldn't raise defects after 10pm - apologies! I had written an `onEnter` extension function on `Actor` for debugging purposes and had long forgotten about it. My fault. But thank you for making KTX so easily extensible.

I suppose there is a wider question about what scene2d elements should support what actions. My inexperience with LibGDX meant I learned about `Label` long before `Tex

[2020-05-28 20:16] czyzby commented on #286
I think `onCursorEnter`/`onCursorExit`/`onCursorHover` could be very useful extensions, so thank you for bringing it up. I'll leave the issue as open and implement similar official extensions. :)

[2020-06-29 01:38] cypherdare commented on #182
@czyzby I have been on a bit of LibGDX hiatus for the past three months. I looked this over briefly and it looks slick. I don't currently have a project in need of this feature to try it out in currently, though.

[2020-06-30 13:03] czyzby opened #288 "Explicitly implement Disposable interface in application utilities"
Classes such as `KtxApplicationAdapter`, `KtxGame` and `KtxScreen` already provide no parameter `dispose` function that matches the `Disposable` interface due to `ApplicationListener` or `Screen` API. Explicitly implementing this interface allows to leverage existing `Disposable` utilities.

[2020-06-30 13:18] #288 closed

[2020-07-25 03:55] Divelix opened #291 "Custom DSL functions"
Hi, I'm not pro in Kotlin yet and can't figure out how to add my custom functions to libktx DSL (in my project) to make code more readable and consistent. For instance, I have two similar builders for windows (for win and for defeat cases) and to avoid duplication I try to do this:
[code]

But this code doesn't work and I feel like I'm using lambda as last parameter in `endWindow` incorrectly, but

[2020-07-25 07:37] czyzby commented on #291
You have to add the window to the lambda signature, so it becomes `this`, exposing all DSL methods:

[code]

We're using a `KVisWindow` instead of `VisWindow` for the lambda, as it has access to the DSL.

Also, you're not using an updated version of `ktx-vis`. There were some notable API changes and performance improvements, so I encourage you to try it out. Updated code that compiles:

[code]

[2020-07-25 09:23] Divelix commented on #291
Thank you! Now my code should become more readable. I just updated to `1.9.10-b6` which broke most of my code (already fixed it) and I see you used experimental contracts everywhere - won't it break everything if they change it's syntax? And also, is there any way to call `VisTable` instead of `scene2d.VisTable`?

[2020-07-25 14:45] czyzby commented on #291
Contracts API is already stable, and we're only using the most common functionalities. I would consider waiting for Kotlin 1.4 if contacts were promoted to a stable feature in this release, but it seems that they won't just yet. Given their obvious benefits for DSLs, I think it's worth risking the future incompatibilities for today's convenience.

The `scene2d.` prefix is deliberate, as we needed

[2020-07-26 07:56] Quillraven opened #292 "LibGDX 1.9.11 released"
I see that they released 1.9.11 on github. Time to change the libktx versioning and make a new release for 1.9.11?  ;)

[2020-07-26 08:23] czyzby commented on #292
Yup. Thanks for the heads up, I'll make a release this week.

[2020-07-27 15:27] czyzby commented on #291
I'll close the issue for now. If you have any other questions, don't hesitate to reopen or add a new one.

[2020-07-27 15:27] #291 closed

[2020-07-28 08:33] czyzby opened #293 "Release KTX 1.9.10-b7"
- [x] GitHub release.
- [x] Maven Central upload.

---

The last stable release supporting LibGDX 1.9.10.

[2020-07-28 08:39] czyzby opened #295 "Release KTX 1.9.11-b1"
- [x] Update to the latest VisUI supporting LibGDX 1.9.11.
- [x] GitHub release.
- [x] Maven Central upload.

---

The first release to officially support LibGDX 1.9.11. See #292.

[2020-07-28 09:07] #293 closed

[2020-07-28 09:38] czyzby commented on #292
Updated the project to LibGDX 1.9.11 without any major issues. It seems only a single class was renamed.

[2020-07-28 09:38] #292 closed

[2020-07-28 11:25] czyzby opened #296 "Update Kotlin Coroutines version"
1.3.8 is the latest version as of writing this issue. The project currently relies on 1.3.6.

---

Updating to 1.3.7 and 1.3.8 causes a compilation error. See [this bug report](https://youtrack.jetbrains.com/issue/KT-40655). The compilation exception is thrown during tests complication, not the actual library code itself, but we'd still like to avoid updating before the issue is resolved. As a wor

[2020-07-28 11:29] czyzby commented on #295
Blocked by https://github.com/kotcrab/vis-ui/issues/330. I'd like to make the release after all the dependencies are updated and fully compatible with LibGDX 1.9.11. Note that KTX 1.9.11-SNAPSHOT is already available.

[2020-07-28 11:34] czyzby commented on #292
@Quillraven I'd like to wait for VisUI to be updated to LibGDX 1.9.11 to ensure that there are no compatibility issues. I'll upload a stable version once it's released. You can already use the `1.9.11-SNAPSHOT` version for now, although it doesn't have any new features other than library updates as of writing this comment.

[2020-07-28 16:27] Quillraven commented on #292
cool, thank you!

[2020-07-30 05:02] Divelix opened #297 "Problem with Container builder"
I keep fixing my UI code after upgrade to `b6` and found out that `container()` builder doesn't work anymore. I have some class
[code]
And previously I used it as cells in table this way:
[code]
I tried to do the following, which fixes compile error, but doesn't draw anything in UI:
[code]
What am I doing wrong?

[2020-07-30 06:30] czyzby commented on #297
Passing an actor to the `container` method would require you to build the actor in the first place. The KTX approach is to build everything with the DSL, so to answer your question, this is the expected API usage:

[code]

However, since in your case you do have a custom actor that you build manually, you can use container API directly:

[code]

That should do it. In fact, `container { actor = MyG

[2020-07-30 06:33] czyzby commented on #297
Right, I just remembered that you used `ktx-vis` before. Now that I think about it, `container(Actor)` method was never a part of `ktx-scene2d` API - `ktx-vis` had it, but it was removed during the rewrite. I might move the previous `ktx-vis` implementation to `ktx-scene2d`.

[2020-07-30 07:02] czyzby commented on #297
Your first code snippet should now work in KTX `1.9.11-SNAPSHOT`.

[2020-07-30 07:03] #297 closed

[2020-07-30 07:29] czyzby commented on #292
`1.9.11-b1` is being released as I'm writing this comment, it should be available shortly.

[2020-07-30 08:59] #295 closed

[2020-08-01 04:17] Divelix commented on #297
Do you plan to return it only to `ktx-vis` or `ktx-scene2d` too? Because it is actually really useful thing to have non-widget actor in UI and `Container` builder is a pretty nice crutch to use non-widget `Actor` in fancy ktx DSL.

In my case I used `Group` as superclass instead of `Table` because it lets me make element of fixed size with absolute positioning of inner elements (because I need "bl

[2020-08-01 04:40] Divelix opened #299 "Image builder without Skin styles"
Now `image` builder have only one option - define skin and stylename. But I merge my sources into atlases and skins only before release (it is much faster to debug and make changes with direct access to texture files).

Right now I use 'ktx-vis' just to make things like:
[code]
as VisUI had `Image` constructors for Texture/Drawable/NinePatch/etc. before official Libgdx added them. But now they are

[2020-08-01 09:03] czyzby commented on #297
Both. I added it to `ktx-scene2d`, and `ktx-vis` now ends this module, so it will be available in both.

[2020-08-01 09:04] czyzby commented on #299
Makes sense, thanks for the suggestion. Would you like to try to make a PR with these?

[2020-08-01 12:48] Divelix commented on #299
Ok, I will try)

[2020-08-02 05:40] Divelix commented on #299
I'm not sure is that good idea to add such syntax:
[code]
as it will be out of general code style in `ktx-style` because all builders there use `addStyle` while `Image` has no style.

[2020-08-02 06:53] czyzby commented on #299
This is already possible due to the original LibGDX `Image` API, as they provided the `getDrawable`/`setDrawable` methods. So the code snippet you posted is valid, and we cannot really prohibit the users from modifying the images like that.

[2020-08-02 07:03] czyzby commented on #299
Thanks again for the contribution, the new builders should be available shortly in the snapshot release `1.9.11-SNAPSHOT`.

[2020-08-02 07:03] #299 closed

[2020-08-04 02:20] Divelix commented on #299
I tried to do this and it seems not feasible as `image` builder with string argument already exists in `ktx-style` and it takes drawable name from skin.

[2020-08-04 02:45] Divelix commented on #299
Or maybe I just made some mistake? Here is my code:
[code]
And use it:
[code]

And I get error `No com.badlogic.gdx.scenes.scene2d.ui.Image registered with name: myImage`

[2020-08-04 09:53] czyzby commented on #299
@Divelix Oh, I didn't notice you're talking about `skin` rather then Scene2D UI.

We won't add image style builder to `ktx-style`, simply because there isn't one - `Image` has no corresponding `ImageStyle` class. Instead you're expected to pass a drawable name, which is automatically extracted from the `Skin`. I think it works well enough:

[code]

Trying to add an image style on top of that would

[2020-08-05 06:22] Divelix commented on #299
Yes, that's what I was talking about above, so I didn't want to make `ImageStyle` crutch. My point was to make possible to use Drawables/Textures/etc. in UI without `TextureAtlas`. As you said, related builders for `@Scene2dDsl` would be there in snapshot. I just wanted to make it possible to initialize graphics resources through skin DSL (to avoid usage of atlasses on debug stage). `Skin` allows

[2020-08-05 06:39] czyzby commented on #299
I believe you could add custom regions to the `Skin`, yes. Something like this should work:

[code]

Afaik `Skin` will automatically convert texture regions to drawables. And while all of this is possible, I think in the end it's more convenient (and possibly more performant) to use texture atlases. I usually setup a [Gradle task](https://github.com/czyzby/bialjam17/blob/master/build.gradle#L36-L4

[2020-08-05 07:06] Divelix commented on #299
Yes, that worked for me, thanks. One day I will start to use gradle tasks like a cool guy, but not today)

[2020-08-05 08:23] czyzby commented on #299
Just so you know, you can also use operator syntax sugar - something like this should work as well:

[code]

[2020-08-06 07:10] Divelix opened #301 "Builder asks for explicit reciever"
I keep fixing things after update to `b6` ))). Now AS shows error in this place, that worked well before update:
[code]
It shows this messages:
![image](https://user-images.githubusercontent.com/25386431/89501843-b351bc80-d7cc-11ea-933c-fe9d63833159.png)
![image](https://user-images.githubusercontent.com/25386431/89501899-cc5a6d80-d7cc-11ea-99d0-bf279cb72ec7.png)

But when I define these variables

[2020-08-06 11:31] czyzby commented on #301
I don't think it's related strictly to contracts, it's more of a DSL issue. I don't see why it wouldn't work though, have you tried rebuilding the file? Cleaning and rebuilding the project might help. I copied the code and it compiles just fine:

![image](https://user-images.githubusercontent.com/11707612/89526942-d1c5b100-d7e8-11ea-9051-c419d3ed4aed.png)

As for fixing that particular error, you

[2020-08-06 12:28] Divelix commented on #301
Oh, I just checked again, actually my code was:
[code]
and I did not pay attention to that when wrote the code in the question. It seems like I broke smth inside `KGroup` by that code, because `ModIcon` works fine now without inheritance from `KGroup`.

[2020-08-06 13:13] czyzby commented on #301
Glad you worked it out. Can this issue be closed or did you experience any other problems?

[2020-08-06 15:08] #301 closed

[2020-08-06 21:31] abueide opened #302 "Overlay Screens"
Is it possible to make KtxGame render multiple screens overlayed? For example i have a GameScreen and a GameUIScreen. I'd add them both, and the first one added gets rendered first, and the second one added gets rendered over top the first screen.

[2020-08-06 21:54] czyzby commented on #302
Not out of the box, but it's trivial to implement.

### `KtxGame` override

You can store an additional `Screen` in `KtxGame` and override `render` to draw it before the current screen:

[code]

This way you're keeping the base screen logic in a single place, but you do have to mess with the `KtxGame` API.

### Screens composition

You can pass a reference to the base screen to each of your screen

[2020-08-06 22:02] czyzby commented on #302
As a side note, if you need more functionalities than just the rendering, I'd consider using a single screen with multiple managers and renderers for each section of the game logic. Things start to get complicated when you have to track resizes, input, etc. I think your best bet would be to use a common base class with some shared data that delegates some of the logic to appropriate managers (a va

[2020-08-06 22:15] abueide commented on #302
thanks for the really quick answer. this gives me some good ideas. I do need to handle input on the ui screen first, and  block it from being sent to the base screen in some cases. For example clicking on an ingame enemy vs clicking on a ui element. If I click on a ui element, I don't want to also click on the enemy behind the ui element. However there might be some elements where its desirable to

[2020-08-06 22:25] czyzby commented on #302
I don't think you need a separate screen for that, just split the logic into a few classes used by a single screen. You might want to look into `InputMultiplexer` as well.

If you'd still like to give the overlay screens implementation a try and come up with something pretty generic, I could review it and add to KTX as a utility.

[2020-08-06 22:27] abueide commented on #302
I think you are right on using a single screen, so I'm going to try that route first. Also would you recommend lml or using the dsl? I'm familiar with javafx so splitting the view from the logic seems nice.

[2020-08-06 22:42] czyzby commented on #302
KTX DSL is more stable, thoroughly tested, validated at compile time and much more powerful. It supports 100% of the Scene2D API, as it's just a thin layer with some syntax sugar.

With LML you don't have to recompile the application to change the views and you have a clear separation of the game logic and the UI. However, I don't support LML anymore - it never reached a similar maturity level or

[2020-08-06 22:49] abueide commented on #302
Thanks for your answers, they helped a ton

[2020-08-06 22:49] #302 closed

[2020-08-07 08:13] czyzby opened #303 "Update to the latest Dokka version"
[Dokka was rewritten](https://blog.jetbrains.com/kotlin/2020/08/dokka-preview-based-on-kotlin-1-4-0-rc/) and now offers a vastly improved generated user interface. There's also built-in support for multimodule projects, which means we no longer need a custom glue index page that links all of the modules.

[2020-08-11 01:24] abueide opened #304 "Adding ktx-vis to gradle dependencies breaks project"
added to core/build.gradle
api "io.github.libktx:ktx-vis:$ktxVersion"

stacktrace:
[code]

[2020-08-11 06:51] czyzby commented on #304
Which LibGDX version do you use and which LibKTX version did you add?

[2020-08-11 07:34] czyzby commented on #304
If you're using LibGDX 1.9.11, add LibKTX 1.9.11-b1. If you're still on 1.9.10, consider updating or add 1.9.10-b7. You can find LibGDX compatibility table for VisUI [here](https://github.com/kotcrab/vis-ui).

Judging by the stack trace, the error is caused by compilation of the default sprite batch shader here:
[code]
This is really weird, it seems like you have incompatible versions of the LibGD

[2020-08-11 17:44] abueide commented on #304
I'm using libgdx 1.9.11 and libktx 1.9.11-b1. Every other library works except for this one, and they're all using the same version variable.

core/build.gradle
[code]

The only thing I do to go from a running working version is uncommenting the ktx-vis line
gradle.properties
[code]

[2020-08-11 19:33] czyzby commented on #304
@abueide Could you try adding VisUI to your dependencies (without `ktx-vis`) and check if the issue persists?

[code]

[2020-08-11 19:37] abueide commented on #304
ah i get the same issue with that

[2020-08-11 19:50] czyzby commented on #304
@kotcrab I think there's an issue with VisUI 1.4.6.

[2020-08-11 19:59] czyzby commented on #304
@abueide I'm unable to reproduce the issue with the repository that you've provided. After checking out `gui` branch, I did get an unrelated exception, but nothing similar to the one you experienced:

[code]
It seems that you're using a progress bar without a defined style. After commenting the health bar line, I got the application running:

![image](https://user-images.githubusercontent.com/1170

[2020-08-11 20:49] abueide commented on #304
I did both suggestions, cloned the project from github in a new directory, switched to gui branch and I'm still getting the same error, with gradlew and the installed version of gradle 6.5.1. I'm on windows. What platform do you use?

[2020-08-11 20:52] czyzby commented on #304
Linux Mint, Gradle 5.6.4. I'm not sure what to do, this seems to be VisUI-related since the error is caused even if you add it without the KTX wrapper. You can try using Gradle 5, but somehow I don't think it will help. You can try creating an issue in VisUI repo, maybe someone experiences similar problems or can reproduce your issue.

[2020-08-11 20:54] abueide commented on #304
I agree, this isn't a ktx problem, thanks for your help in narrowing it down. Even knowing that you can't reproduce it is helpful, thanks a ton.

[2020-08-11 20:54] #304 closed

[2020-08-11 21:34] czyzby commented on #304
@abueide I've heard that LibGDX Discord is pretty active. VisUI is a pretty popular library, someone could have experienced similar issues.

[2020-08-14 18:30] czyzby commented on #274
[Kotlin 1.4.0 was released.](https://github.com/JetBrains/kotlin/releases/tag/v1.4.0)

[2020-08-15 04:22] abueide commented on #304
Was only broken on my machine. Fixed by deleting ~/.gradle and ~/.m2 directories and letting it refresh.

[2020-08-15 09:06] czyzby commented on #304
That's what I initially suspected. Glad you managed to figure it out.

[2020-08-31 23:43] abueide opened #305 "Web Export"
Are there any viable solutions to export to web? Or is all hope lost until korge is good enough? Even if it was though, you have to sacrifice all the cool java libraries built over the years for kotlin multiplatform. I've heard rumours about teavm or something called dragome but I don't know much about them.

[2020-09-01 09:12] czyzby commented on #305
- [TeaVM](https://github.com/konsoletyper/teavm-libgdx) is an alternative to GWT, but I think the LibGDX backend is just a proof of concept rather than a working solution. You can go through the forks to see if anyone picked up after the TeaVM author. As a side note, TeaVM itself is a really cool project, probably with the highest quality among similar libraries.
- [JTransc](https://github.com/jtr

[2020-09-02 06:57] abueide commented on #305
Thanks for the detailed overview. I just recently learned that web games are stuck to being single threaded even if I did find a solution, which is a necessity for my game. It looks like I just have to give up on supporting web, which is kind of a relief tbh, I was not looking forward to all the issues that come with supporting web.

[2020-09-02 06:57] #305 closed

[2020-09-02 10:03] czyzby commented on #305
Well, there are web workers that you could use, but since they cannot share state like Java threads, you'd probably have to rewrite significant portions of your game. You can also simulate "green threads" or coroutines with async operations, similar to how KotlinJS/TeaVM achieve this despite JS being single-threaded, but obviously that isn't true parallel processing.

In my experience, if you want

[2020-09-05 11:23] Divelix opened #306 "Builders inside constructor"
I have UI with several `Table`s that I want to put into separate classes, so I have code like that:
[code]
Can I use builders there somehow to get something like that?
[code]

[2020-09-05 15:00] czyzby commented on #306
Yes, you have to implement the `KTable` interface:

[code]

Since `MyTable` already extends `Table`, there aren't any extra methods that you have to override - all you have to do is to add the interface.

Similar interfaces exist for groups, trees, etc.

[2020-09-05 15:05] Divelix commented on #306
Awesome! I had gut feelling that it is possible)

[2020-09-05 15:13] czyzby commented on #306
I added a similar example to the README. Thanks.

[2020-09-05 15:13] #306 closed

[2020-09-05 15:26] czyzby commented on #296
1.3.9 seems to work fine.

[2020-09-05 15:33] czyzby commented on #274
Smooth update, no changes required. The latest coroutines version also fixes a bug that prevented us from upgrading.

[2020-09-05 15:36] #274 closed

[2020-09-05 15:36] #296 closed

[2020-09-05 15:47] czyzby commented on #303
Dokka 1.4 fails with out-of-memory errors. It's possible that we have to upgrade the Gradle as well.

[2020-09-08 07:53] Divelix commented on #306
I just found out that in this case I can't use class fields, like:

![image](https://user-images.githubusercontent.com/25386431/92448544-6c872600-f1c1-11ea-87be-7fed8083cfec.png)

How can I fix that?

[2020-09-08 11:37] czyzby commented on #306
@Divelix This is because `this` is changed via the DSL to prevent from accessing nested properties. If you need to access a class property within the constructor, add an explicit receiver: `this@ClassName.` - for example:

[code]

[2020-09-08 11:44] czyzby commented on #306
Just wanted to say that this is an expected side effect of the Kotlin DSL builders, and it actually has some advantages. For example, you cannot immediately access properties of parent actors within the children blocks:

[code]

[2020-09-09 12:08] #176 closed

[2020-10-03 22:16] DuchGhast opened #308 "Is this project dead?"

[2020-10-04 08:38] czyzby commented on #308
No, it is not, @DuchGhast. I actively tend to all of the issues and PRs. The latest contributions can be seen on the [`develop`](https://github.com/libktx/ktx/tree/develop) branch and accessed as a snapshot release, which is currently `1.9.11-SNAPSHOT`. It's just that all of the major features that I wanted to add are complete and I don't actively develop new KTX modules nowadays. All contribution

[2020-10-04 08:38] #308 closed

[2020-10-04 18:43] keturn commented on #308
As someone who has been lurking on the github notifications, I confirm czyzby's assessment. It's not super active, I think mostly because gamedev in Kotlin is still a pretty small niche, but czyzby does an admirable job of keeping things up-to-date and responding to the occasional contributions that drop by now and then.

I was more worried more about libgdx itself, but they got a new release out

[2020-10-05 17:08] steven-peralta opened #309 "Binding a KtxGame instance as a singleton with ktx-inject results in a stack overflow error when Context#dispose() is called"
Previously, KtxGame extended KotlinApplication which didn't implement the Disposable interface, so when you binded it with ktx-inject this bit of code was skipped over in SingletonProvider:

[code]

Now, when you add a KtxGame instance as a singleton, this results in a recursive call to the `dispose()` method that would call `Context#dispose()`. Here is an example:

[code]

Here are the errors:
[c

[2020-10-05 17:08] steven-peralta commented on #288
I'm having issues related to this change here: #309

[2020-10-05 17:21] steven-peralta commented on #309
I can confirm that this doesn't happen with ktx version >= 1.9.10-b6

[2020-10-05 17:46] czyzby commented on #309
This is expected behavior in a way. You're essentially asking the `Context` to dispose of all of its components, one of which is `KtxGame`.

`KtxGame` is (and was) always disposable with its `dispose` method, but it just wasn't implementing the universal interface for it, and lacked all of the utilities for disposable objects. You could argue that before #288 the lack of `Disposable` in classes li

[2020-10-05 17:55] czyzby commented on #309
Just to expand on this, any other `Disposable` class that would add itself to and dispose a `Context` would throw the same exception. Say, if you decided to move the `Context` to another class in an older KTX version, you could experience the same kind of issue. I'd say in general binding the container class to the `Context` is tricky and requires some conscious lifecycle management.

[2020-10-05 18:06] czyzby commented on #309
@steven-peralta I expanded the documentation. Let me know if this solves the issue for you.

[2020-10-06 00:04] steven-peralta commented on #309
Thanks for expounding on this issue. Your comments were really helpful.

[2020-10-06 00:04] #309 closed

[2020-10-16 09:04] CoenRijsdijk commented on #305
I'm currently working on this, using Bytecoder and WebGl. I'm working on it until 30 January 2021(my traineeship for Computer Science Bsc degree). Check my project and latest findings here: https://github.com/squins/libgdx-wasm-with-bytecoder
We really would like to have a LibGDX backend for web that can be used with Kotlin. That is the goal :smile:.
I am now working on getting audio and WebGl to

[2020-10-16 10:06] czyzby commented on #305
@CoenRijsdijk That's a very cool project, keep us updated!

[2020-10-22 04:30] Megamiun commented on #243
Hello, @czyzby, is there any opening to work on this? If yes, I would like to try

[2020-10-22 08:03] czyzby commented on #243
Thanks @Megamiun, I don't think anyone is working on this right now - you can go ahead and try this. Keep in mind that a while back @aouerfelli translated our Gradle setup to Kotlin [on this fork](https://github.com/aouerfelli/ktx/tree/gradle-kotlin-dsl) (#18), so if you'd like to attempt this as well, you can base your work on that.

[2020-10-22 17:18] aouerfelli commented on #243
KTS support for Gradle has definitely come a long way, and this should easily be doable now. That being said, if you want to try it out, I probably wouldn't look at mine since it's severely outdated.

[2020-10-22 17:50] czyzby commented on #243
Alright, thanks for the heads up!

[2020-10-23 19:13] CreamyCookie opened #310 "Getting "Kotlin: Unresolved reference: scene2d" after upgrade from KTX 1.9.9"
Any ideas what could be causing this?

[2020-10-23 19:22] #310 closed

[2020-10-23 19:36] czyzby commented on #310
I assume you managed to resolve the issue. 9/10 problems like this are caused by Gradle setup - a `clean` and `build` should help.

[2020-10-23 19:52] CreamyCookie commented on #310
It was this issue again: https://youtrack.jetbrains.com/issue/KT-32047

IDEA didn't show any problems, but when trying to run the project, there were `Kotlin: Unresolved reference: ` everywhere.

I've deleted all the `build` and `out` directories and went back to the previous KTX version. Haven't yet tried to update again.

Managing dependencies and upgrading when there are breaking changes is def

[2020-10-23 20:22] czyzby commented on #310
Sorry to hear that. However, it seems that it's not as much of a breaking changes problem as a problem with your local setup. Deleting Gradle and IDE related folders is what I would have done too, or just building from a clean copy of the repository.

[2020-10-23 20:22] CreamyCookie commented on #310
@czyzby Now I have reset everything to the previous state, deleted `~./gradle`, let IDEA set up everything again and suddenly I'm getting `Ensure that you have a dependency on the Kotlin standard library` errors  everywhere, despite being on `1.4.10` (which supposedly doesn't need that dependency) and having `implementation "org.jetbrains.kotlin:kotlin-stdlib-jdk8:$kotlinVersion"` - Any ideas? I'm

[2020-10-23 20:26] czyzby commented on #310
Which Gradle version are you on? If you have set up your project a while back with the official tool, you might be on a very old version that isn't fully supported by IDEA.

To be honest, that dependency should be enough. Are you sure it's in the core project?

I can give it a try locally if you can post a reproducible example, but usually a rebuild is all I need when I encounter issues like that.

[2020-10-23 20:35] CreamyCookie commented on #310
I honestly think this is an IntelliJ / Kotlin problem, so definitely not your fault. Look at this beauty:

![Screenshot_20201023_222629](https://user-images.githubusercontent.com/3063858/97051100-e2332f80-157e-11eb-8dc4-0bd5780e8580.png)

from `File > Project Settings`

I don't even know where that jdk7 comes from. I've always used JDK 8. Coroutines? I'm not using them. There's zero mention of cor

[2020-10-23 20:38] czyzby commented on #310
Depending on the module, KTX could define coroutines as a provided dependency (that you have to define manually), but they're marked with `-async` - if you don't use any of these, I don't see how KTX would depend on them at all. I'll be honest, I'm not sure what's going on here. Have you tried setting it up on a different computer?

[2020-10-23 22:17] czyzby commented on #310
Do a clean install in a virtual machine. Make sure it's not a problem with your config. :)

[2020-10-23 22:33] CreamyCookie commented on #310
Thanks for the suggestions!

I've deleted the `.idea` folder and re-imported in IDEA from the `.gradle` file and now it's running again. Yay!

I also tried the new plugin syntax [here](https://kotlinlang.org/docs/reference/using-gradle.html#targeting-the-jvm) for Kotlin, but it seems everything broke in the LibGDX project when I did that. (Could be unrelated though.)

I'll try to update KTX again

[2020-10-23 22:39] czyzby commented on #310
Glad you worked it out!

There might have been some breaking changes, depending on the module and how old KTX you're currently at, but you should find everything you need in the changelog. The modules with any major changes (like `scene2d`) have their specific migration guides in readme files. Let me know if you encounter any issues.

[2020-10-24 14:18] CreamyCookie commented on #310
Thanks for the support! The update went through without a hitch.

No idea  what happened there yesterday. The upside is that all the IntelliJ IDEA stuff is now in the `.idea` folder. (Previously I've had multiple `iml` files inside the core and desktop folders, which I've removed after checking that they haven't been used, and now they're stored in `.idea/modules`.)

[2020-10-26 00:00] czyzby commented on #18
@Megamiun ended up migrating our scripts to Kotlin. Thanks for your contribution!

I'd also like to thank @aouerfelli for assessing the Kotlin scripting while it still wasn't very stable. Thanks for your work on this, guys.

[2020-10-26 00:00] #18 closed

[2020-10-26 00:07] czyzby commented on #243
@Megamiun migrated our setup to Gradle 6. Thanks for your contribution!

[2020-10-26 00:07] #243 closed

[2020-10-26 00:23] czyzby opened #312 "Update to Kotlin 1.4.10"

[2020-10-26 01:07] czyzby commented on #312
Dokka failed to generate the documentation after updating to Kotlin 1.4.10 once. It seemed to work correctly after a `clean`. We might have to put a higher priority on Dokka upgrade. #303

[2020-10-26 01:16] #312 closed

[2020-10-26 16:35] deveth0 opened #313 "Add optional Camera / Projectionmatrix to ShapeRenderer.use"
`Batch.use` allows to set the Projectionmatrix but ShapeRenderer is missing this parameter.
To have a consistent API, I'd suggest to allow an optional Camera / Projectionmatrix parameter in ShapeRenderer too.

[2020-10-26 16:46] deveth0 commented on #313
PR: https://github.com/libktx/ktx/pull/314

[2020-10-26 17:57] czyzby commented on #313
Thanks for your contribution, @deveth0! Your changes should be available shortly as a snapshot release.

[2020-10-26 17:57] #313 closed

[2020-10-26 22:16] czyzby opened #315 "Update to Kotlin coroutines 1.4.0"

[2020-10-26 22:56] #315 closed

[2020-10-29 10:50] czyzby commented on #303
Hey @deveth0, are you currently working on this? I want to make a stable release, since there were some crucial dependency updates, and I'd also like the Kotlin Gradle scripts to be merged into the `master` branch. I can wait until the Dokka update if you're working on this issue.

[2020-10-29 10:52] deveth0 commented on #303
huh? no, not working on this, sorry. Probably you mean somebody else?

[2020-10-29 10:53] czyzby commented on #303
Ah, I confused the PRs. I've meant @Megamiun. Sorry. :)

[2020-10-29 13:30] Megamiun commented on #303
Oh, @czyzby, I think it is better for you not to wait, I was thinking of starting working on it at the earliest on the next week.

[2020-10-29 13:43] czyzby commented on #303
@Megamiun Don't worry, take your time. I've set up automatic deployment of the [Dokka documentation](https://libktx.github.io/ktx/) on the `master` branch. As you can see, it's pretty underwhelming right now, so it might be worth to wait a bit to publish the new docs along with the latest release.

[2020-10-31 17:31] czyzby commented on #303
Thanks again for another contribution, @Megamiun!

[2020-10-31 17:31] #303 closed

[2020-10-31 17:34] czyzby opened #317 "Release KTX 1.9.11-b2"
- [x] GitHub release.
- [x] Maven upload.

---

The next version comes with some new minor utilities and major updates to the project's build setup.

[2020-11-01 01:22] #317 closed

[2020-11-01 01:22] czyzby commented on #317
@Quillraven I've released `1.9.11-b2` using an updated Gradle setup. I'd appreciate it if you updated your project to the latest KTX version to check out if everything seems OK.

[2020-11-01 16:02] Quillraven commented on #317
Sure! Will do that on Tuesday with two of my projects which both use a lot of different ktx extensions.

[2020-11-01 16:24] czyzby commented on #317
Thanks!

[2020-11-03 07:54] deveth0 opened #321 "Update gradlew to allow build on "non-standard" systems"
Hey,

i got an issue when builing ktx on my Windows machine with WSL. This is fixed in newer gradlew versions, so I'd suggest to update the script here too.

Note: this is not an Gradle upgrade but only the execution script.

references: https://github.com/gradle/gradle/commits/master/gradlew

[2020-11-03 08:04] deveth0 commented on #321
Sorry my fault, still had an old version without @Megamiun 's great changes :)

[2020-11-03 08:04] #321 closed

[2020-11-03 18:17] Quillraven commented on #317
First project is working but I had to adjust some code segments regarding scene2d. For example:

[code]

got changed to

[code]

not sure when this change happened. This project got upgraded from libgdx 1.9.10 and libktx 1.9.10-b6 to 1.9.11 and 1.9.11-b2.

[2020-11-03 18:51] czyzby commented on #317
I did that to various listeners in #286, I think it improves the API overall. It was listed in the changelog, this is expected.

Thanks for the verification!

[2020-11-03 19:25] Quillraven commented on #317
For the second project, it seems like I need to add a lot of imports. I am not sure if this is a problem on my end or if it has something to do with libktx.

As an example, using

[code]

does not work anymore with the single import `import ktx.log.logger`. I also have to import `import ktx.log.debug`.

Same with ktx.inject, ktx.ashley, etc..

I will fix that now and try to run it but no idea why

[2020-11-03 21:04] czyzby commented on #317
Seems like different settings for a `*` import. This is generally a good practice to import only the features that you're using to avoid name clashes.

Glad you worked other issues out.

[2020-11-03 21:09] Quillraven commented on #317
There is actually one bug with libgdx 1.9.11. It seems to be related to GlyphLayout. I noticed that my labels got moved behind the scrollbar of scrollpanes. At least their text.

I saw in the changelog of libgdx on github that they have already several fixes for scene2d in 1.9.12-SNAPSHOT. Therefore, I upgraded to this version and the issue was fixed.

Just fyi, in case someone has a similar issue

[2020-11-04 17:44] Quillraven commented on #317
@czyzby If I read that correctly libgdx 1.9.12 was actually released 4 days ago. I overlooked that yesterday.

I will update my projects by end of this week. Maybe worth to upgrade libktx as well? The scrolled method mentioned above is also listed as a breaking change in libgdx 1.9.12.

[2020-11-04 18:58] czyzby commented on #317
@Quillraven You're right, that was quick. My home laptop is being serviced right now, but I'll try to come up with something.

[2020-11-04 19:02] czyzby opened #322 "Update to LibGDX 1.9.12"
LibGDX 1.9.12 was released a few days ago with a few notable API additions, changes and fixes.

[2020-11-04 19:51] #322 closed

[2020-11-04 19:53] czyzby commented on #322
@Quillraven I managed to update the project to LibGDX 1.9.12 as you've asked. No major issues, just some changes in the interface that you have mentioned. The snapshot release should be already available - I'd appreciate it if you tried out `1.9.12-SNAPSHOT` in your projects.

[2020-11-04 20:01] czyzby opened #323 "Release KTX 1.9.12-b1"
- [x] GitHub release.
- [x] Maven Central upload.

---

No major changes other than the official support for LibGDX 1.9.12.

[2020-11-05 06:34] Quillraven commented on #322
Updated both projects and no issues found 👍

One question not related to libktx. Do you know, why IntelliJ is not able to import JavaVersion anymore in the buildSrc folder? It worked in the past and it seems to work still, because gradle can successfully build without errors. But IDE is telling me there is an error. Any idea how to fix that?

![image](https://user-images.githubusercontent.com/9326

[2020-11-05 08:25] czyzby commented on #322
No idea, although I've noticed that they've made changes around Gradle support, as the latest version highlighted an unused variable in `buildSrc` (duplicated by `gradle.properties`), while a previous one did not show any warnings. It's possible that the validation is too strict and they've missed a use case.

[2020-11-08 10:32] czyzby commented on #19
@Quillraven created a [YouTube series](https://www.youtube.com/watch?v=7aa6CY7_j9U&list=PLTKHCDn5RKK-8lZmjZoG4rFywN_SLbZR8) explaining various parts of the framework. I think this series combined with the [tutorial](https://github.com/Quillraven/SimpleKtxGame/wiki) and other KTX resources is enough to get started.

[2020-11-08 10:32] #19 closed

[2020-12-01 20:53] czyzby opened #324 "Update Kotlin to 1.4.20"

[2020-12-01 21:09] #324 closed

[2020-12-01 21:59] czyzby commented on #323
@Quillraven The next release should be available shortly via Maven Central.

[2020-12-01 21:59] #323 closed

[2020-12-02 20:15] Quillraven commented on #322
Just in case anyone is reading this thread and sees my problem above which has nothing to do with LibKTX. I found out now that it is indeed an IntelliJ bug maybe related to android plugin. Refer to: https://youtrack.jetbrains.com/issue/KT-40683

Updated now my two bigger projects and the tutorial to 1.9.12-b1. Looks good 👍 Thanks czyzby!

[2020-12-11 14:05] #279 closed

[2020-12-11 20:30] czyzby opened #327 "GitHub Discussions vs Issues"
KTX recently qualified for [GitHub Discussions beta](https://github.com/libktx/ktx/discussions). I think it used to be related to the number of contributors and you actually had to ask to sign up explicitly, but now they might be opening the feature for a broader audience. Anyway, I've set up a Discussions board (mostly with the default settings) and converted some of the historic issues with the

[2020-12-11 20:37] czyzby commented on #327
If you have any suggestions for the KTX Discussions, feel free to post them here. I'll eventually convert this issue into a discussion, but since this feature is pretty new and not every developer might know about it (I sure didn't until recently), I wanted to set up a pinned issue for visibility.

[2020-12-12 09:36] czyzby commented on #102
`parallelTo` was renamed to `along` along the way. :)

[2021-01-05 18:51] Quillraven opened #330 "LibGDX 1.9.13 released"
LibGDX 1.9.13 was released a few days ago with two breaking changes.

I think they should not have an impact on LibKTX.

Also, a beta(?) of gdx video is part of that release. Maybe, once it is stable, it is worth a look to check if it is worth to "kotlinize" it.

Just fyi  :)

[2021-01-05 19:36] czyzby commented on #330
Thanks, I'll update the project soon.

[2021-01-05 19:48] czyzby commented on #330
There were quite a few deprecated methods of `Vector2` and `Vector3`. It only affected the tests though.

[2021-01-05 20:22] #330 closed

[2021-01-05 20:24] czyzby opened #331 "Release KTX 1.9.13-b1"
- [x] GitHub release.
- [x] Maven Central upload.

---

Maintenance release with major dependencies updates.

[2021-01-05 21:02] #331 closed

[2021-01-05 21:37] Quillraven commented on #330
wow - so fast :)

I will try to update a project of mine this weekend and hopefully the project is not affected by the breaking changes. Let's see! If I don't post again then assume that everything went well.

[2021-01-05 22:55] czyzby commented on #330
Thanks.

[2021-01-09 10:18] Quillraven commented on #330
After struggling again with IntelliJ and gradle (it seems like android gradle plugin still does not work very well and messes up a lot of things all the time) everything turned out well.

No problems on my end 👍

[2021-01-10 09:35] czyzby opened #334 "Factory methods for LibGDX arrays of primitives"
Add factory methods for the following LibGDX arrays of primitives:

- [x] `BooleanArray`
- [x] `ByteArray`
- [x] `CharArray`
- [x] `FloatArray`
- [x] `IntArray`
- [x] `LongArray`
- [x] `ShortArray`

_Originally posted by @Divelix in #333_

[2021-01-13 11:53] czyzby opened #335 "Update LibGDX website links"
The new LibGDX website is now located at [libgdx.com](https://libgdx.com).

[2021-01-13 12:11] #335 closed

[2021-02-05 09:47] czyzby opened #336 "Update to LibGDX 1.9.14"
See [this post](https://libgdx.com/news/2021/02/gdx-1-9-14).

[2021-02-05 09:48] czyzby opened #337 "Update to Kotlin 1.4.30"

[2021-02-05 09:58] #337 closed

[2021-02-05 10:39] czyzby commented on #336
@Quillraven Hey, would you mind testing the latest `1.9.14-SNAPSHOT` release? There weren't any breaking changes and all of the test pass, but I'd like to make sure everything is OK.

[2021-02-05 10:39] #336 closed

[2021-02-05 10:40] czyzby opened #338 "Release KTX 1.9.14-b1"
- [x] GitHub release.
- [x] Maven Central upload.

---

Maintenance release with official support for LibGDX 1.9.14 and a couple of small additions.

[2021-02-05 20:06] Quillraven commented on #336
@czyzby looks good to me :+1:

[2021-02-05 20:38] czyzby opened #339 "Update to VisUI 1.4.10"

[2021-02-05 20:45] #339 closed

[2021-02-05 20:47] czyzby commented on #336
@Quillraven Thanks for testing! I've also updated VisUI to 1.4.10 (supporting GDX 1.9.14) just now. There should be no breaking changes though. I'll publish a stable release these weekend.

[2021-02-14 10:15] czyzby opened #344 "Add AssetManager#getDiagnostics equivalent to AssetStorage"
Extend `AssetStorage` with methods that allow to copy and inspect the internal state. Include output formatting.

_Originally posted by @Quillraven in https://github.com/libktx/ktx/discussions/343_

[2021-02-14 10:21] czyzby commented on #344
@Quillraven Snapshot release with the functionality should be available shortly. You can use `AssetStorage#takeSnapshot` or `AssetStorage#takeSnapshotAsync` to create a deep copy of the storage state that you can inspect and compare in various stages of the app. Returned `AssetStorageSnapshot` has a `prettyPrint` method that's similar to `AssetManager#getDiagnostics`, but has more information.

I'

[2021-02-14 10:21] #344 closed

[2021-02-14 10:57] Quillraven commented on #344
Awesome, you are always so fast  :)

Will try it today in the evening and let you know.

[2021-02-14 12:27] czyzby commented on #344
Thanks. I've noticed there's a small adjustment that I have to make, but the API won't change.

[2021-02-14 17:46] Quillraven commented on #344
@czyzby maybe it is again some gradle SNAPSHOT caching issue but can you try if your SNAPSHOT has the new method available? I don't see it on my end using 1.9.14-SNAPSHOT

[2021-02-14 20:34] czyzby commented on #344
@Quillraven Just a heads up, calling this method might interfere with loading, as it has to obtain the same lock. I'd avoid overusing this method and do it only for debugging purposes (e.g. inspecting the storage state in various stages of the app).

Aside from the usual Gradle issues, is the API working as expected? Do you need any additional data?

[2021-02-14 21:02] Quillraven commented on #344
no that is perfectly fine for me. I only have the log level on debug during development and call the method once when game gets disposed.

once I work on level switching it will get in handy as well to see if assets get correctly unloaded/disposed.

[2021-02-14 21:14] czyzby commented on #344
Thanks for testing!

[2021-02-23 10:30] czyzby commented on #338
@Quillraven A stable release with your changes should now be available.

[2021-02-23 10:30] #338 closed

[2021-03-03 19:44] czyzby opened #348 "Contracts usage in collection checks"
Extend existing collection extension methods like `isEmpty` and `isNotEmpty` to include contracts that imply whenever the verified collections are not null.

For example:
[code]

Go through all of the extension methods in `ktx-collections` and apply contracts to other checks and methods that operate on nullable collections.

Related to #153.

[2021-03-04 08:48] czyzby opened #349 "Update Kotlin to 1.4.31 and Kotlinx Coroutines to 1.4.3"
See the release notes [[1](https://github.com/JetBrains/kotlin/releases/tag/v1.4.31), [2](https://github.com/Kotlin/kotlinx.coroutines/releases/tag/1.4.3)].

[2021-03-04 09:14] #349 closed

[2021-03-21 07:46] auraxangelic opened #350 "Coroutines fail to run on iOS with RoboVM"
I'm hoping to get some help with the use of async on iOS. I'm not sure if it's a bug, or if it's my setup, or if async is even meant to work on iOS.

When using versions 1.9.13 of libGDX, 1.9.13-b1 of KTX, 1.4.2 of kotlinx-coroutines-core, the app compiles fine, but I see the following runtime error when I try to call the `KtxAsync.initiate()` function in `Game#create()`.

When using versions 1.9.

[2021-03-21 09:25] czyzby commented on #350
It should work on all platform, but unfortunately we're not running automated tests on iOS. One user had a similar error in one of the utility functions (see #204). In this case, JVM target was not set to 1.6, which I'm guessing caused some classes to fail to load. Right now [all of the KTX modules are set to target 1.6](https://github.com/libktx/ktx/blob/1.9.14-b1/build.gradle.kts#L78-L88), so as

[2021-03-21 09:52] czyzby commented on #350
If for some reason RoboVM has a problem with `KtxAsync` class in particular, you could try calling `MainDispatcher.initiate()` instead to initiate the coroutines and see if you can launch a coroutine with the `MainDispatcher` in the first place. You'll probably encounter other issues further down the line when using modules like `ktx-assets-async`, but at least it would allow us to pinpoint the pr

[2021-03-21 10:15] auraxangelic commented on #350
When I switch to target 1.6, I get `error: Source option 6 is no longer supported. User 7 or later.` I assume this is due to my gradle version. I assume this is due to my gradle version. My target is 8.0.

Couple questions:
- Are there any issues with using the async from master with 1.9.13 libGDX?
- Can you please show me how I would launch a coroutine with `MainDispatcher`?

[2021-03-21 10:26] czyzby commented on #350
Probably, yeah. You could try downgrading to a previous version of Gradle just to check if that's causing the issue.

There shouldn't be. `ktx-async` barely relies on LibGDX APIs either way, so you should get away with using the newer KTX version and an older LibGDX.

[code]
But like I've said, you'll probably encounter issues further down the line.

In fact, it might be worth it to check if corou

[2021-03-21 10:31] auraxangelic commented on #350
I've actually tried regular coroutines with `GlobalScope` and I get the same `ClassDefNotFoundError` with the GlobalScope class. It's like Robovm tries to repel anything that has to do with coroutines.

[2021-03-21 10:35] czyzby commented on #350
@auraxangelic Can you try to downgrade the Gradle version and set the source target to 1.6? Thanks.

[2021-03-21 10:47] czyzby commented on #350
Actually, it might be the JDK version rather than Gradle. You might need to compile your application with an older JDK like 1.8 or 1.11. Not sure if that's the source of the issue, but I have no other ideas how you could get around that error at the moment. Sorry.

[2021-03-21 11:08] auraxangelic commented on #350
I'm currently using 11.0.9 for the JDK. Also KtxAsync works with no problems on desktop and android. Really weird issue.

I'm going to side-step this issue for now and use the AsyncExecutor. The structure ends up being similar in Kotlin. Create a global AsyncExecutor and go `asyncExecuter.submit{}` instead of `KtxAsync.launch/async{}`.

It doesn't have as many nice features as KtxAsync, but the As

[2021-03-21 11:18] czyzby commented on #350
Yeah, the purpose of `AsyncExecutor`is a bit different, but if all you need is to execute some code on a different thread, it should be enough.

@auraxangelic Have you tried to compile the code with 1.6 target just to see if it helps? I'm unable to test this myself at this moment, and I'm curious whether coroutines simply do not work on iOS and there's no way around it or if it's a matter of confi

[2021-03-21 12:46] auraxangelic commented on #350
I managed to create a new libGDX project, ensured it worked on iOS, added KtxAsync, switched source and target compatibility to 1.6 and compiled it for iOS. I get the following runtime error:
`java.lang.NoClassDefFoundError: kotlin.coroutines.CoroutineScope`

It was able to pick up KtxAsync, but it still looks like RoboVM still does not like kotlinx.

[2021-03-21 12:49] czyzby commented on #350
@auraxangelic I see. It's possible that the coroutines version is not compatible with RoboVM. If you don't mind and have some time, I'd appreciate it if you went through [older versions](https://mvnrepository.com/artifact/org.jetbrains.kotlinx/kotlinx-coroutines-core) of `kotlinx.coroutines` and see if they work correctly. If not, I guess there's not much we can do on our side and I'll just docume

[2021-03-21 14:16] czyzby opened #351 "Update Ashley to 1.7.4"
A new Ashley version was released.

[2021-03-21 14:38] #351 closed

[2021-03-21 16:13] auraxangelic commented on #350
Regular coroutines definitely don't work. Still a `NoClassDefFoundError` on `GlobalScope`. This is actually the case for a lot of classes. Most recently, I had this issue with `java.util.Base64`. You'd think RoboVM would pick that up, but no. Instead you have to use `com.badlogic.gdx.utils.Base64Coder`.

I assume there was a point where KtxAsync worked at some point. If so, I would love to replica

[2021-03-21 16:37] czyzby commented on #350
Personally I haven't tested coroutines module on iOS, only on desktop and Android. However, I know for a fact that there are some KTX games in the app store. It's definitely more of a Kotlin/RoboVM issue than KTX, and I don't think there's anything we can do on our side other than document the problems and try to find a compatible configuration. I'm not sure if anyone managed to use `ktx-async` on

[2021-03-28 07:15] czyzby commented on #350
@auraxangelic Did you have a chance to check if any legacy coroutines version works with 1.6 source level on iOS? I want to update `ktx-async` documentation, or even freeze the version to support all platforms. If you have some time to test this, I'd appreciate it. Thanks.

[2021-03-29 03:56] auraxangelic commented on #350
Heya! I've tried down to 1.3.8 because that's the oldest one on maven 'https://search.maven.org/search?q=g:org.jetbrains.kotlinx%20a:kotlinx-coroutines*'  and I still experience this issue.

It's definitely a RoboVM issue, and not a KTX specific issue. Regular coroutines just don't seem to work on iOS with a NoClassDefFoundError on anything kotlinx/coroutines related.

[2021-03-29 06:27] czyzby commented on #350
I think older versions should be available via Maven Central as well - the search shows up there are [79 versions of the `kotlinx-coroutines-core` library](https://search.maven.org/artifact/org.jetbrains.kotlinx/kotlinx-coroutines-core).

In the RoboVM issue that I've posted, I believe someone managed to run the 1.0.1 version of coroutines. Latest version of Kotlin at the time was around 1.3.11. @

[2021-03-29 09:02] czyzby commented on #350
@auraxangelic Could you also set up an issue in the [RoboVM repository](https://github.com/MobiVM/robovm/) with details about your setup and a complete stack trace? Downgrading the Kotlin or coroutines version is a workaround, this should be addressed on their side.

[2021-03-30 01:27] auraxangelic commented on #350
I've just tested on 1.1.1 and 1.0.1, and I'm still seeing the same issue. RoboVM is definitely not picking up kotlin coroutines no matter which version.

[2021-03-30 07:23] czyzby commented on #350
@auraxangelic Thanks, it might be an issue with RoboVM after all. The only thing I can suggest is trying to downgrade Kotlin version to 1.3.X (if you haven't already) or RoboVM to 2.3.5, since this configuration seemed to work at some point. However, ultimately we shouldn't have to downgrade the dependencies at all - thanks for setting up the issue in RoboVM repository.

I'll leave this issue as o

[2021-03-30 08:24] czyzby commented on #350
By the way, to other developers: if you have managed to run Kotlin coroutines on iOS, please do share your configuration. Thanks.

[2021-03-30 08:48] czyzby opened #352 "Artemis-ODB module"
[Artemis-ODB](https://github.com/junkdog/artemis-odb) is a high performance entity-component-system framework. It is a popular alternative to Ashley among libGDX developers. Dedicated support for this framework in KTX is one of the features that often comes up on the libGDX Discord.

The goal of this issue is to prepare a similar module to [`ktx-ashley`](https://github.com/libktx/ktx/tree/master/a

[2021-03-30 20:16] dkimitsa commented on #350
hi, MobiVM maintainer is here.
code snippet provided in https://github.com/MobiVM/robovm/issues/572 does work for me.
waiting for complete sample project to test/reproduce. please share if any.
thx && happy coding

[2021-03-30 20:24] czyzby commented on #350
@auraxangelic Could you upload a stripped down version of your project to GitHub? Thanks.

@dkimitsa Thanks for the reply. Is it possible that the error is caused by the build target or local project setup? If that helps, Kotllin coroutines were tested through a LibGDX application.

[2021-03-30 20:37] dkimitsa commented on #350
@czyzby it might be caused by multi-module project structure. In simple "single view without storyboard" project created from template -- there is no issue. Will test tomorrow on empty libGDX project as well

[2021-03-30 20:38] dkimitsa commented on #350
btw, `java.lang.NoClassDefFoundError ` might be caused by aggressive tree shaker, have tested in by test bed and it is not a case.

[2021-03-30 20:50] dkimitsa commented on #350
@czyzby yep i'm familiar with the libgdx, will be able to test on sample project tomorrow. But if there is a ready to reproduce project at hand it would be nice to test it

[2021-03-31 06:58] dkimitsa commented on #350
@czyzby checked with dummy libgdx project -- works for me:
- iOS + core + desktop project
- run from Idea 2021.1 EAP
- gradle version 6.8.3
- kotlin/ktx setup in gradle (both core and iOS):
[code]
- test code called from java classes :
[code]

please share your project that demonstrate the issue.
thanks

[2021-03-31 07:15] czyzby commented on #350
@dkimitsa I see, thanks for checking that out. It might be possible that @auraxangelic local setup is at fault here. The only other thing I could think of is `ktx-async` (our module with coroutines support for LibGDX) somehow interferes with RoboVM. Here's how you can modify the example to launch coroutines via `ktx-async`:

[code]

Minimal application adapter code that launches a coroutine:
[code

[2021-03-31 07:20] dkimitsa commented on #350
@czyzby this snippet works as well. probably issue is related to project structure/local setup. a minimal project would be useful

[2021-03-31 07:25] czyzby commented on #350
Thanks again for taking the time to test it.

[2021-03-31 23:45] auraxangelic commented on #350
I probably should have thought about this before. In LibGDX, there is the ios module and core module. RoboVM is doesn't pick up the transitive dependencies of the core module.

The issue is fixed when I add coroutines as a dependency to the ios module.

[2021-04-01 00:31] auraxangelic commented on #350
I've created the default Super Koalio, converted it to kotlin, added a coroutine with with the issue, then added the fixing dependency in a repo. Check out the commits here: https://github.com/auraxangelic/liftoff-koalio/commits/main

You should be able to reproduce the issue by removing the dependency from the ios module.

[2021-04-01 08:02] czyzby commented on #350
Glad you worked it out. I'll update documentation of the `ktx-async` module.

[2021-04-01 08:08] #350 closed

[2021-04-01 08:18] czyzby commented on #350
@auraxangelic As suggested on the Discord, try setting the coroutines dependency to `api` rather than `implementation`. That should address the issue.

[2021-04-01 08:30] tommyettinger commented on #350
This is because you added the dependency on ktx-async using `implementation` in core, which makes that dependency impossible to use transitively. While it's kinda strange, that is the purpose of `implementation`; I believe it is meant to make large projects with many layers of transitive dependencies able to compile and/or autocomplete efficiently by avoiding looking at the `implementation` depend

[2021-04-01 08:39] czyzby commented on #350
@tommyettinger Thanks, that was helpful. I've updated the troubleshooting section to explain the issue a bit better. It's interesting though that desktop and Android projects seemed to pick up the dependency either way.

[2021-04-01 21:17] auraxangelic commented on #350
Thanks for looking into this with me. Glad we figured it out!

[2021-04-10 07:33] czyzby opened #353 "Update to Gradle 7"
[Gradle 7 was released](https://docs.gradle.org/7.0/release-notes.html).

[2021-04-11 23:07] Double-O-Seven opened #354 "Lambda functions in ktx-vis do not always use KWidget subclass as receiver"
I wanted to use `visScrollPane` from `ktx-vis`, but I noticed that the `this`-receiver of the lambda is only of type `VisScrollPane` instead of `KVisScrollPane`, even though a `KVisScrollPane` is passed to the actor call. Why is that?
Because the receiver is not a `KWidget`, I cannot use nested DSL calls there.

Is there a specific reason for this or is this just an oversight?

`visScrollPane` is

[2021-04-12 06:39] czyzby commented on #354
Some widgets are not wrapped with `KWidget`, because they cannot have children - like `VisLabel`. In this case this is indeed an oversight. I'll go through the factories of `ktx-scene2d` and `ktx-vis` to make sure that the lambdas consume the correct types. Thanks.

[2021-04-12 13:43] czyzby commented on #354
As far as I can tell, the `init` parameter was wrong only for `visScrollPane` and `visSplitPane`. There's also a similar problem with `tableInit` in `buttonBar`, but since we're not creating the table manually in this case, it is not a `KWidget` in the first place. The fix should be available shortly as a snapshot release (`1.9.14-SNAPSHOT`), and I'll probably do another stable release this week.

[2021-04-12 13:43] #354 closed

[2021-04-12 13:48] czyzby opened #355 "Update to Kotlin 1.4.32"

[2021-04-12 13:53] czyzby opened #356 "Update Dokka to 1.4.30"
Dokka 1.4.30 now supports multimodule project natively, so a custom documentation index is not required.

[2021-04-12 13:56] #355 closed

[2021-04-12 14:27] #356 closed

[2021-04-12 14:30] czyzby opened #357 "Release KTX 1.9.14-b2"
- [x] Maven Central upload.
- [x] GitHub release.

---

A maintenance release with several dependency updates and a minor bug fix. Includes notable Dokka update that changes the structure of the generated Kotlin source documentation.

[2021-04-12 15:06] czyzby commented on #356
Performance regression in Dokka significantly slowed down snapshot upload pipeline.

[2021-04-12 15:24] #357 closed

[2021-04-12 15:31] czyzby commented on #357
One of the pipelines before additional commits failed due to a Dokka performance regression. The builds themselves passed.

@Quillraven I'd appreciate it if you could test the latest release. There were some major Dokka changes and I had to push the release manually in Sonatype.

[2021-04-12 19:24] czyzby commented on #354
The fix is now available in KTX `1.9.14-b2`.

[2021-04-13 12:26] Quillraven commented on #357
I will have a look tomorrow. Yesterday and today I don't have time, sorry.

[2021-04-13 13:40] czyzby commented on #357
No problem, take your time.

[2021-04-15 12:31] czyzby commented on #353
_Pipeline failed due to an unrelated issue with the latest Dokka. Snapshot upload had to be cancelled._

[2021-04-16 11:41] Quillraven commented on #357
I was able to get it as usual and seems to work just fine :+1:

[2021-04-19 06:32] czyzby opened #359 "LibGDX 1.10.0 support"
[LibGDX was updated to 1.10.0](https://libgdx.com/news/2021/04/gdx-1-10). [Migration guide](https://libgdx.com/news/2021/04/the-ultimate-migration-guide).

[2021-04-19 08:09] #359 closed

[2021-04-19 08:12] czyzby opened #360 "Release KTX 1.10.0-b1"
- [x] Maven Central upload.
- [x] GitHub release.

---

Maintenance release with support for LibGDX 1.10.0.

[2021-04-19 08:51] czyzby opened #362 "Support for ParticleEffectActor"
LibGDX 1.10.0 introduced a new actor: `ParticleEffectActor`. It is possible that it might benefit from KTX Scene2D DSL.

[2021-04-19 08:54] #360 closed

[2021-04-19 09:09] czyzby commented on #360
The libraries should be available via Maven Central shortly. @Quillraven Once again, I'd greatly appreciate it if you could test this release locally. :)

[2021-04-19 09:14] #362 closed

[2021-04-19 09:28] czyzby opened #363 "Support for discard method in custom pools"
A new `discard` method was added to `Pool` that allows to handle objects that were rejected from the `Pool`.

[2021-04-19 09:47] #363 closed

[2021-04-21 06:14] Quillraven commented on #360
looks good to me :+1:

[2021-05-05 12:56] czyzby opened #364 "Update to Kotlin 1.5.0"
[Kotlin 1.5.0 was released](https://blog.jetbrains.com/kotlin/2021/05/kotlin-1-5-0-released/).

[2021-05-05 14:41] czyzby opened #365 "Add README files to Dokka documentation"
Dokka supposedly allows to add markdown files to the generated documentation pages. This would improve the quality of the documentation website.

[2021-05-05 15:14] #364 closed

[2021-05-08 08:44] czyzby opened #366 "Update to VisUI 1.5.0"
VisUI 1.5.0 is the latest release with support for LibGDX 1.10.0.

[2021-05-08 08:54] #366 closed

[2021-05-18 20:49] czyzby opened #368 "Update to Kotlin 1.5.10 and Coroutines 1.5"
Update the libraries versions. Replace all references to `GlobalScope` (if any), since now it requires opt-in annotation.

[2021-05-25 21:38] #368 closed

[2021-06-02 12:28] #353 closed

[2021-06-11 11:09] AzariasB opened #370 "Square brackets of `tag` arguments in the log methods"
Hi,
first thanks a lot for this awesome lib, which makes it quite enjoyable to make a libgdx app with kotlin.

Currently when using the logging helpers :
[code]
On desktop, the following is printed :
[code]

Libgdx takes care of adding brackets when printing to the console for the desktop version [see here](https://github.com/libgdx/libgdx/blob/master/backends/gdx-backend-lwjgl3/src/com/badlogic/g

[2021-06-11 12:03] czyzby commented on #370
It's possible that the behavior changed over the time, since I remember testing this module on desktop and it seemed fine. Thanks for pointing this out.

[2021-06-13 12:55] czyzby commented on #370
I've changed all of the default tags not to include any brackets or whitespaces. This should work fine on most platforms.

Also, I've noticed that the `Logger` class implementation can be improved in terms of customization of the message format. It now includes a `buildMessage` method that can be overridden to modify how the messages are logged, e.g. by appending current time.

The changes should

[2021-06-13 12:55] #370 closed

[2021-06-14 06:29] czyzby commented on #370
@AzariasB I've realized that the upload job timed out (likely a Maven repository issue). I've rerun the job, the snapshot should be available now.

[2021-06-14 07:14] AzariasB commented on #370
No problem, I can wait for the stable release before updating, no rush :)

Thanks for the quick fix and the new feature !

[2021-06-24 20:45] czyzby opened #372 "Update to Kotlin 1.5.21"

[2021-08-04 10:18] #372 closed

[2021-08-04 10:24] czyzby opened #373 "Release KTX 1.10.0-b2"
- [x] Maven Central upload.
- [x] GitHub release.

---

Maintenance release with improved support for LibGDX 1.10.0 features and a refactoring of the `ktx-log` module.

[2021-08-04 10:57] #373 closed

[2021-08-25 13:20] czyzby opened #375 "Update to Kotlin 1.5.30"
[Kotlin 1.5.30 was released](https://blog.jetbrains.com/kotlin/2021/08/kotlin-1-5-30-released/).

[2021-09-21 12:57] czyzby commented on #375
Thanks for the contribution, @vrudas.

[2021-09-21 12:57] #375 closed

[2021-09-24 11:33] rubybrowncoat opened #377 "[Feature Request] Asset Manager loader for Distance Field fonts"
A loader for asset manager in the vein of what was done with ktx-freetype but for distance field fonts: https://github.com/libgdx/libgdx/wiki/Distance-field-fonts

A loader for this type of fonts might be desirable, I couldn't figure out how to integrate the loading method specified in the wiki with my asset manager setup.

---

Alternatively to that, I have used https://github.com/maltaisn/msdf-g

[2021-09-24 13:58] czyzby commented on #377
Seems like the font requires a custom shader, which means we would either have to extend `BitmapFont` to ensure it is called before rendering, or document this for the users. The examples show how to implement outlines and shadows, so we probably should consider adding these as well. Either way, an extension for `msdf-gdx` would be cleaner, but the library does not seem to be updated anymore. I mi

[2021-09-27 06:45] czyzby opened #379 "Auto-injection methods in ktx-inject"
- [x] Add `ktx-reflect` module with reflection utilities.
  - [x] `@Reflection` annotation that requires `@OptIn` with additional info about LibGDX reflection.
  - [x] `ClassReflection` and `ArrayReflection` API wrappers.
- [x] Add `Context.bindSingleton` method with reified type that uses reflection to find the constructor and inject appropriate components.
- [x] Add `Context.bind` method with re

[2021-09-27 18:51] runt9 commented on #379
@czyzby Awesome, I love it! Happy to see that you liked the idea enough to get it in there almost immediately! I looked through the code and it looks good to me, and is also just another testament to the power of Kotlin. I'll definitely be popping the new version into my game during my rewrite. I look forward to seeing if any of my other ideas end up being a good fit for KTX

[2021-09-27 19:07] czyzby commented on #379
Glad you like it, thanks for the suggestion.

[2021-09-27 19:07] #379 closed

[2021-09-28 17:14] czyzby commented on #260
The implementation might not strictly require extending `AssetManager`, but without this we have to override error handler, and there's no way for the users to set a custom one as there is no `listener` getter that would allow us to wrap it. And there are other hacks that would have to be made like adding parameter suppliers or even the error handler as an asset to the manager, so we can keep a re

[2021-09-28 20:56] czyzby commented on #334
Thanks for the contribution, @vrudas.

[2021-09-28 20:56] #334 closed

[2021-09-28 21:10] czyzby commented on #263
I'll close this issue for now. All Kotlin libraries are added as `compileOnly`, so that user's version is always preferred. We might reconsider this approach later on, e.g. for a non-beta release (#73).

[2021-09-28 21:10] #263 closed

[2021-09-29 14:41] czyzby commented on #260
After quite some time and many workarounds, `AsyncAssetManager` with basic coroutines support is now available in `ktx-assets-async`. While `AssetStorage` should still be preferred, `AsyncAssetManager` is a drop-in replacement for the `AssetManager` that can be a good intermediate step towards non-blocking asset loading.

[2021-09-29 14:41] #260 closed

[2021-09-29 14:50] czyzby opened #381 "Release KTX 1.10.0-b3"
- [x] Maven Central upload.
- [x] GitHub release.

---

This release includes a new module with reflection utilities: `ktx-reflect`. It also has some notable new features in `ktx-collections`, `ktx-inject`, and `ktx-assets-async`, with the new `AsyncAssetManager` being a major one.

[2021-09-29 14:56] czyzby commented on #381
@vrudas, @runt9, @Quillraven: Do you plan on submitting any new pull requests? I can hold on with the release a bit.

As a side note, I'd appreciate if you gave [`AsyncAssetManager`](https://github.com/libktx/ktx/blob/develop/assets-async/src/main/kotlin/ktx/assets/async/manager.kt#L40) a try and left your feedback. `AssetStorage` is still the advised class for asset management, but I think it's w

[2021-09-29 18:30] Quillraven commented on #381
No PRs from my side coming and sorry, but currently I don't have time to work on a game or update an existing one. That's why I will not be able to give feedback to AsyncAssetManager soon. But I will keep that in mind for a future project!

Not sure if it is for interest of you but I saw the "help wanted" for artemis extensions a few weeks ago. That motivated me again to work on my Kotlin ECS (=KE

[2021-09-29 21:34] runt9 commented on #381
@czyzby No PRs incoming from me at the moment. I'm still in the early stages of rewriting my game from the ground up with a more stable architecture. That said, I think the "binding" architecture might end up being it's own thing and _possibly_ a good candidate for a KTX module, though it's a fairly opinionated "framework" kinda thing as opposed to a library.

I just got finished implementing the

[2021-09-30 05:21] czyzby commented on #381
@Quillraven

Yeah, Korge is a fun project. I'm a bit biased as a KTX developer, but I think there's place for both, given than LibGDX is more stable and popular than Korge in general, so it benefits a lot from Kotlin bindings.

That being said, I don't see why a native Kotlin ECS library wouldn't be useful for both, as long as you make sure that it works as a multiplatform library and don't rely o

[2021-09-30 12:19] vrudas commented on #381
Hi @czyzby, not plan to submit new PRs in the nearest 2 weeks

[2021-09-30 13:16] czyzby commented on #381
Thanks for the heads up guys, I'll release the next version soon.

[2021-09-30 14:27] czyzby commented on #381
CI failed on `master` due to a missing Dokka dependency after removal of the `jcenter` repository. I'll update Dokka version in a fix branch to make sure that the documentation is published.

[2021-09-30 14:54] #381 closed

[2021-09-30 15:25] runt9 commented on #381
@czyzby Ok good to know that AssetStorage is preferred, I'll stick with that then. Also for the "binding" library concept, it's actually unrelated to the dependency injection question, it actually has to do with an MVVM concept of being able to have Views auto-update when changes occur in their associated ViewModels, and the changes are initiated by the Controller of the ViewModel.

An example in

[2021-09-30 15:31] czyzby commented on #381
Oh yeah, that's an interesting feature. I don't think libGDX GUI supports anything like that out of the box, so it would be a nice addition.

[2021-10-07 22:07] czyzby commented on #348
Thanks for the contribution, @fejd. Your changes should be available via a snapshot release shortly.

[2021-10-07 22:07] #348 closed

[2021-10-09 18:35] czyzby opened #386 "Mapper abstract class designed for companion objects of Ashley Components"
Add an abstract class `Mapper` that automatically obtains `ComponentMapper` for the enclosing `Component` class. Usage example:

[code]

[2021-10-09 18:36] #386 closed, assigned to czyzby

[2021-10-11 08:14] czyzby opened #387 "Replace LibGDX with libGDX throughout the project"
Our libGDX capitalization is not in line with the current libGDX branding. ;)

[2021-10-11 09:16] #387 closed, assigned to czyzby

[2021-10-11 10:31] czyzby opened #388 "Additional FreeType font loading utilities for AsyncAssetManager and AssetStorage"
Add missing FreeType loading utilities for `AssetStorage`, mimicking `loadSync` and `loadAsync` behavior. Add asynchronous font loading method to `AsyncAssetManager` returning a `Deferred` instance.

[2021-10-11 10:47] #388 closed, assigned to czyzby

[2021-10-11 19:55] czyzby opened #389 "Default Scene2D skin should throw an exception if it is not replaced by the user"
Currently, default Scene2D `Skin` in the `ktx-scene2d` module is an empty instance with no defined styles. While it be filled with custom widget styles by the user or replaced with a custom `Skin`, it also can be confusing for the beginners that have missed the part about initiating the global `Skin` instance (as seen in [this Stack Overflow question](https://stackoverflow.com/questions/69168597/l

[2021-10-11 20:36] #389 closed, assigned to czyzby

[2021-10-12 08:11] czyzby opened #390 "Platform-specific utilities"
Add platform-specific utilities that allow checking the current application platform and API version, as well as executing code on specified platform.

[2021-10-12 08:53] czyzby opened #391 "Update Gradle to 7.2"
Update Gradle wrapper to the latest version.

[2021-10-12 08:54] #391 closed, assigned to czyzby

[2021-10-12 09:24] czyzby opened #392 "Release KTX 1.10.0-b4"
- [x] Maven Central release.
- [x] GitHub release.

---

Minor release with some extra utilities and a (borderline) bug fix.

[2021-10-12 09:50] #392 closed, assigned to czyzby

[2021-10-23 19:13] czyzby opened #394 "Add support for Kotlin scripting"
Add JSR-223 `ScriptEngine` wrapper, easing the implementation of a custom scripting engine.

[2021-10-23 19:29] #394 closed, assigned to czyzby

[2021-11-15 22:49] czyzby opened #395 "Upgrade to Kotlin 1.6.0"

[2021-11-16 08:38] #395 closed

[2021-12-04 08:41] manabreak opened #398 "Selection listener for nodes in Trees"
Apologies if this feature is already in place; I did browse through the code but couldn't find this feature yet.

I was wondering if it would be possible to add a selection listener for Tree objects. I was thinking of this kind of format:

[code]

[2021-12-04 10:12] czyzby commented on #398
I don't recall such an extension. If libGDX `Tree` allows to register listeners, it's certainly possible to add this utility.

If you'd like to contribute it, don't hesitate to make a PR. Otherwise I'll look into it in about 2 weeks.

[2021-12-04 16:42] manabreak commented on #398
Good to hear! I might look into it this weekend, if I have time.

[2021-12-10 11:25] jsorel opened #400 "Renaming library"
Hello,

This is a unusual request but still :
- 'Kotlin extensions for libGDX'  uses the same shortname as Khronos KTX format => KTX
- 'Kotlin extensions for libGDX' uses the same library name as Khronos software => libktx (https://github.com/KhronosGroup/KTX-Software)

This makes is very very confusing when searching the web.

Needless to say Khronos KTX started more then 10 years ago and is an i

[2021-12-10 11:59] czyzby commented on #400
Hello @jsorel. I agree that the library naming is a bit unfortunate - I was looking for something that incorporated both Kotlin and GDX/libGDX, and I thought that "KTX" sounds good without doing a proper research. Even more confusingly, libGDX supports KTX textures, and this library basically hijacked the Google search for that. Not only that, but also [Android released it's own Kotlin extensions

[2021-12-10 11:59] #400 closed

[2021-12-10 13:35] jsorel commented on #400
Don't worry, I'm just a backend developer working in Java for the last two decades and moving to Rust, working on a lot of formats (geospatial and image processing) and currently on KTX (a little frustrated to stumble a lot on your lib in the research results).

It's not unusual to have library name change, when a big event happens, like merging with another project. Just think about it when the t

[2021-12-10 14:30] czyzby commented on #400
I understand your frustration, but renaming the library is unlikely to help with that in the short term, and it will create a lot of confusion for the existing and potential users of (this) KTX. A lot of existing pages that mention `KTX`/`libKTX` will still be irrelevant to your search, but now they will make it difficult to pinpoint the actual library that they refer to.

Just to give you some pe

[2021-12-18 12:02] RedGrapefruit09 opened #401 "Typo in ktx-math README"
`ImmutableVector2 is an immutable equivalent to Vector2. It provides most of the functionality of Vector2, but mutation methods return new vectors instead of mutate the reference.`

`mutate` should be `mutating` in this case.

[2021-12-18 12:19] czyzby commented on #401
Thanks. Feel free to submit a pull request any time you notice any errors in the documentation files. :)

[2021-12-18 12:19] #401 closed

[2022-01-12 20:41] czyzby opened #402 "Migrate libGDX wiki links to the new address"
* [x] Update README files.
* [x] Update KTX wiki.

[The libGDX wiki was recently moved from the GitHub to the official website.](https://libgdx.com/news/2022/01/devlog-8-wiki-migration)

[2022-01-18 19:23] czyzby commented on #402
README files updated in #403.

[2022-01-18 19:35] czyzby commented on #402
Thanks again @crykn!

[2022-01-18 19:35] #402 closed

[2022-01-19 04:38] entangledloops opened #404 "Donations?"
Hi MJ, I don't see any obvious way to contribute a donation to this project, nor can I find any way to contact the owners outside of filing an issue here. Is there a link I missed somewhere?

[2022-01-19 04:39] entangledloops commented on #404
Oof, I missed the "Discussions" page. Closing, as this isn't an really an Issue.

[2022-01-19 04:39] #404 closed

[2022-01-19 08:17] czyzby commented on #404
Wiki mentions how to you can contact the developers to ask questions about KTX. Discussions are OK (#406), but I'm also pretty active on the libGDX Discord on the `#kotlin` channel.

[2022-01-19 12:21] czyzby commented on #398
Thanks for the contribution, @manabreak. The extension method was renamed to `onSelectionChange` and should be available via a snapshot release soon.

[2022-01-19 12:21] #398 closed

[2022-01-19 12:27] czyzby opened #407 "Release KTX 1.10.0-rc1"
- [x] Maven Central release.
- [x] GitHub release.

---

The first stable release of the `ktx-script` module.

[2022-01-19 20:10] #407 closed

[2022-02-09 17:13] RedGrapefruit09 opened #409 "EntityListener utilities for Ashley"
- Add an `EntityRemovalListener` for removal-only
- Add an `EntityAdditionListener` for addition-only
- Kotlin lambda utils for similar functionality

[2022-02-09 17:22] czyzby commented on #409
The same could be applied to the interface - instead of providing an interface that is basically a no-op listener and gives no guarantees that the user implements the actual logic, we could add `EntityAdditionListener` and `EntityRemovalListener` interfaces with one no-op method implementation instead.

[2022-02-10 13:40] RedGrapefruit09 commented on #409
Thanks for your feedback! I agree, `EntityAdditionListener` and `EntityRemovalListener` would be better.
I'll make a PR for this in the coming few days, excuse me for the late reply.

[2022-02-10 13:50] czyzby commented on #409
No problem, take your time.

[2022-02-11 22:14] czyzby commented on #409
I've rewritten some docs and added missing tests for all system extension methods. In general, we should aim for tests of every public API, even if some of them might seem redundant.

Thanks for the contribution @RedGrapefruit09, nice job. It should be available via the snapshot release shortly.

[2022-02-11 22:14] #409 closed

[2022-02-11 22:16] czyzby opened #411 "Script execution with a custom receiver"
Make it possible to execute Kotlin snippets with a custom receiver available as `this` throughout the script.

[2022-02-11 22:21] #411 closed

[2022-02-12 04:41] auraxangelic commented on #386
@czyzby I've haven't been around for a while, but I'm back to some libgdx stuff. Do you still want me to test this?

[2022-02-12 05:36] RedGrapefruit09 commented on #409
Thanks for your corrections!

[2022-02-12 06:57] czyzby commented on #386
@auraxangelic Sure, it would be great to confirm that it works on every platform if you have some time. Thanks!

[2022-02-12 07:23] czyzby commented on #409
I think I removed that part since it seemed a bit redundant - all methods are already mentioned in the first section. I can add it as a comment to the code sample, since example sections usually do not provide any API listings.

[2022-04-24 13:39] czyzby opened #412 "Update Kotlin to 1.6.21"

[2022-04-24 13:51] #412 closed

[2022-04-24 13:54] czyzby opened #413 "Release KTX 1.10.0-rc2"
* [ ] Maven Central release.
* [ ] GitHub release.

[2022-04-24 14:12] #413 closed

[2022-04-25 15:49] #327 closed

[2022-05-11 17:57] czyzby opened #415 "Upgrade to LibGDX 1.11.0"
See the [blog post](https://libgdx.com/news/2022/05/gdx-1-11).

[2022-05-13 17:15] Quillraven commented on #415
Hi,

I recently saw a Kotlin `error` utility function:

[code]

I think it would be worth adding a `gdxError` function to maybe ktx-app module that throws a GdxRuntimeException. What do you think?
Could be part of this 1.11 upgrade ;)

[2022-05-13 18:54] czyzby commented on #415
Sure, seems easy enough. I'll add it while bumping the version.

[2022-05-13 19:27] czyzby commented on #415
I've decided to add it to the `ktx-app` module, since there isn't one dedicated to error handling or misc utilities. It should be available shortly as `1.11.0-SNAPSHOT`.

[2022-05-16 15:59] Quillraven commented on #415
Should it be already available? Because at least I cannot download it :(

[2022-05-16 19:27] czyzby commented on #415
You're right, it failed while trying to resolve the Box2D dependency. I've scheduled the jobs to rerun, hopefully it's available now.

[code]

[2022-05-16 19:46] czyzby commented on #415
Honestly, I'm not sure what's the issue. I think it might have something to do with the `compileOnly` dependencies no longer working in CI environment. I'll try to change them to `api`/`implementation` dependencies where appropriate.

[2022-05-16 21:54] czyzby commented on #415
@Quillraven I'm still not entirely sure what was the issue, but it seems like a combination of missing dependencies that might have been cached back before JCenter was removed, compile-only scopes, and some newer libGDX modules being not available yet for the CI for some reason? Anyway, the snapshot should be available shortly.

[2022-05-16 21:54] #415 closed

[2022-05-17 19:21] Quillraven commented on #415
thank you, it is now working for me! :)

[2022-05-22 07:19] czyzby opened #416 "Release KTX 1.11.0-rc1"
- [x] Maven Central upload.
- [x] GitHub release.

---

The first stable release to support libGDX 1.11.0.

[2022-05-22 07:48] #416 closed

[2022-06-09 17:25] czyzby opened #418 "Update to Kotlin 1.7"
[Kotlin 1.7.0 was released](https://blog.jetbrains.com/kotlin/2022/06/kotlin-1-7-0-released/).

[2022-06-10 07:04] #418 closed

[2022-06-18 20:56] czyzby commented on #286
Thanks @mmilenkov for the contribution!

[2022-06-18 20:56] #286 closed

[2022-07-26 19:58] czyzby opened #422 "Using property delegates for Ashley mappers"
The goal of this task is to add property delegates to `ktx-ashley` module to support accessing components via entity properties. For example

[code]

<sup>Originally posted by **@pylvain** July 26, 2022, see #421</sup>

[2022-07-27 21:08] czyzby commented on #422
@pylvain I've added some documentation and tests to the component property delegates that you've implemented. Thanks again for the suggestion and the pull request! These utilities should be available shortly via the snapshot version, and I might consider releasing a stable version soon with support for a newer Kotlin release.

[2022-07-27 21:08] #422 closed

[2022-07-28 21:11] czyzby opened #424 "Release KTX 1.11.0-rc2"
- [x] Maven Central upload.
- [x] GitHub release.

---

A maintenance release supporting Kotlin `1.7` and the new Dokka theme.

[2022-07-28 21:31] #424 closed

[2022-07-30 10:31] czyzby opened #427 "Property delegate for component boolean flags in Ashley"
The goal of this task is to add property delegates to `ktx-ashley` module to support checking for existence of specific components via entity properties. For example:

[code]

<sup>Originally posted by **@pylvain** July 30, 2022, see #421</sup>

[2022-08-20 17:43] czyzby commented on #427
I've cleaned up the utility functions and the documentation. Thanks again for your contributions, @pylvain. The utilities should be available shortly via the snapshot release.

[2022-08-20 17:43] #427 closed

[2022-08-24 11:16] czyzby opened #432 "tagFor read-only property doesn't work if the component has no default constructor"
### Discussed in https://github.com/libktx/ktx/discussions/431

<div type='discussions-op-text'>

<sup>Originally posted by **pylvain** August 24, 2022</sup>
[code]

</div>

[2022-09-03 13:48] Quillraven opened #433 "Scene2D stage.actors not working properly?"
Most likely I am doing something wrong but I don't understand why this code is working

[code]

and this one isn't

[code]

Shouldn't `actors` be the same as `addActor` according to the documentation? When I debug it, it looks like `actors` is not adding the table to the root of the stage because it shows me 0 children. Italso seems like I never reach the `storeActor` method of the `StageWidget` w

[2022-09-03 13:54] Quillraven commented on #433
nevermind ... I just saw I need to remove the `scene2d.` prefix in the second version, then it works.

[2022-09-03 13:54] #433 closed

[2022-09-03 21:37] czyzby commented on #433
@Quillraven `scene2d` object usage is necessary only for top-level widgets without a parent - for example, it should have been used if you wanted to assign the table to a variable and add it to a stage later on. `stage.actors` gives full access to the DSL without the need for `scene2d` object. In that case, this prefix is not only unnecessary, but will actually prevent the created actors to be add

[2022-09-04 06:12] Quillraven commented on #433
I think it is fine and that's why I found it out myself a little bit later. I was confused about the wording "root actor" that is used in the documentation. I like your explanation here better. At least for me it makes it easier to understand.

scene2d. prefix to store the actor in a variable and add it manually to another widget.

No prefix if inside a Scene2d DSL to add the actor directly to the

[2022-09-04 06:25] czyzby commented on #433
I'll try to add another paragraph with a clarification. Thanks for raising the issue.

[2022-09-04 15:50] czyzby commented on #433
@Quillraven I've added another code example to illustrate this issue, thanks again for reaching out.

[2022-09-20 12:23] rabbitfr commented on #352
Hi,

Which help do you need ?

Best regards,

rabbit

[2022-09-20 12:42] czyzby commented on #352
@rabbitfr The goal is to prepare a similar module to the [`ktx-ashley`](https://github.com/libktx/ktx/tree/master/ashley), but currently I'm not actively working on any new major KTX features - hence the `help wanted` tag. If you'd like to try creating a similar set of utilities for Artemis-ODB, I can do code review and help along the way with the API design.

[2022-10-01 14:57] ronjunevaldoz opened #434 "Not supported AssetManagerWrapper.getDependencies called by AssetLoader."
What is causing this warning? I am using the ktx-async
`[AssetStorage] Not supported AssetManagerWrapper.getDependencies called by AssetLoader.`

![image](https://user-images.githubusercontent.com/4947998/193415474-ad6f5691-2f48-435e-b6a7-f488a9f02ffa.png)

[2022-10-01 16:42] czyzby commented on #434
`AssetStorage` is a custom KTX asset manager. In order to work with libGDX APIs - including various asset loaders - it has to extend `AssetManager`. `AssetManagerWrapper` is basically an extension of `AssetManager` that overrides every method and delegates all calls to `AssetStorage`. However, since the APIs of the `AssetStorage` and `AssetManager` are slightly different, not every method can be e

[2022-10-01 18:33] czyzby commented on #434
@ronjunevaldoz I've added a path-to-identifier map in `AssetStorage`. Storing this info might have some slight effect on the performance, but it allows to support a bunch of extra `AssetManager` methods.

A snapshot release will be available shortly. Would you might changing the KTX version to `1.11.0-SNAPSHOT` after the pipeline is finished and checking if asset loading works correctly for you? Y

[2022-10-01 18:50] czyzby commented on #432
@pylvain I assume you didn't have time to look into this, so I pushed a fix. I made it so that an error will still be printed if you're using tags without a no-arg constructor, since there's no way to differentiate between read-only and mutable properties during the `tagFor` call. However, you won't encounter any runtime exceptions unless you use such tags for mutable properties.

[2022-10-01 18:50] #432 closed

[2022-10-04 04:24] ronjunevaldoz commented on #434
@czyzby hi, I just updated the version to `1.11.0-SNAPSHOT`. Assets are loading perfectly and I'm seeing this warning.
`[AssetStorage] Warning: AssetManagerWrapper.getDependencies might throw an exception if multiple assets with the same path are loaded with different types.
`

[2022-10-04 05:42] czyzby commented on #434
@ronjunevaldoz That's expected, unfortunately. `AssetManager` assumes that assets are uniquely identified by the file path, but that isn't always the case with `AssetStorage` where you can load multiple assets as different types (e.g., an image both as a `Texture` and a `Pixmap`). It should work as is, but I think it's worth warning the users that in the rare case a dependency or an asset is loade

[2022-10-04 12:45] ronjunevaldoz opened #435 "[Feature Request] possible support for Gdx Ai"
Hi @czyzby are you planning to have a support for the gdx ai library?

[2022-10-06 07:09] deviodesign commented on #352
@czyzby I have created extension functions for artemis-odb, similar to ktx-ashley. Currently I'm finishing some of the unit tests and writing documentation. I may need some help with that though.

[2022-10-06 09:28] czyzby commented on #352
@deviodesign If you don't mind, you can set up a WIP pull request and I'll leave some comments. Thanks.

[2022-10-13 00:12] ronjunevaldoz opened #438 "Kotlin compose inspired UI"
For me, creating scene2d GUI is a bit complex, so I came to an idea to have a compose UI inspired DSL maybe using scene2d as well

https://developer.android.com/jetpack/compose

[2022-10-30 17:40] manabreak opened #440 "Dependency mismatch with VisUI and libGDX"
It seems that ktx is dependent on libgdx version 1.11.0 and VisUI version 1.5.0. However, VisUI 1.5.1-SNAPSHOT should be used with libgdx version 1.11.0.

[2022-10-30 22:14] czyzby commented on #440
Stable releases should not depend on snapshots. VisUI test suites did not report any API incompatibilities, so it should be fine. You can override the VisUI version in your project if you'd like to use the snapshots.

[2022-10-30 22:14] #440 closed

[2022-11-06 22:58] ronjunevaldoz opened #441 "Unable to load assets in HeadlessApplication"
I'm not sure if loading assets via HeadlessApplication is supported. I tried the below example to load assets via ktx-async and AssetStorage. Assume that this was working in desktop mode.

[code]

[code]

Encountered error
```ktx.assets.async.AssetLoadingException: Unable to load asset:  data/model/test.gltf```

[2022-11-07 07:00] czyzby commented on #441
It's not supported. You'll notice that the whole [Graphics](https://github.com/libgdx/libgdx/blob/gdx-parent-1.10.0/backends/gdx-backend-headless/src/com/badlogic/gdx/backends/headless/mock/graphics/MockGraphics.java) class has a mock implementation on the headless platform. If you'd like to load assets with a headless application, try launching the desktop backend without a window.

[2022-11-07 07:00] #441 closed

[2022-11-07 07:30] #434 closed

[2022-11-19 06:02] ronjunevaldoz opened #442 "Additional library for FlexBox"
I have recently implemented `FlexBox` locally, maybe this could be added as future library?

`https://github.com/lyze237/gdx-FlexBox`

[code]

[2022-11-19 06:37] czyzby commented on #442
How is that different from Scene2D `Table`? Is that also an actor? Can you upload the code of the implementation?

[2022-11-19 06:54] ronjunevaldoz commented on #442
we can then define position much easier or if we are already using flex we can use this as reference [yoga playground](https://yogalayout.com/playground)

[2022-11-19 08:35] czyzby commented on #442
I could see it being useful as a separate module that extends `ktx-scene2d`. Do you think you could implement KTX DSL based on `ktx-scene2d`/`ktx-vis`? [This section](https://github.com/libktx/ktx/blob/master/.github/CONTRIBUTING.md#adding-a-new-ktx-module) of the contribution guide describes how to add a new module.

[2022-11-19 10:20] ronjunevaldoz commented on #442
I think I could implement it, but there's a problem I think the minimum requirement for flexbox is using `1.8`

[code]

[2022-11-19 10:35] czyzby commented on #442
That might prevent the library from working correctly on iOS. Are you able to check if the library works correctly on all official platforms other than GWT?